[2010-07-28 20:27] strongeye opened #1 "Recurly Subscription class does not match API"
API decimal "unit_amount" for subscription is being set to int "unit_amount_cents" in Recurly.RecurlySubscription

[2010-07-30 03:30] valsavva opened #2 "A class representing Notifications?"
Today we have to covert Notifications xml into objects in our own custom way. Would be nice to have a "RecurlyNotification" class. At a minimum, if the "ReadXml" methods were public, it'd make our lives easier.

[2010-07-30 03:55] valsavva opened #3 "RecurlyPlan UrlPrefix is wrong"
It should be:

private const string UrlPrefix = "/company/plans/";

[2011-03-14 10:52] emmanuelkong opened #4 "Recurly Coupon class not exist"
Coupon class is not exist.

Please refer to API document http://docs.recurly.com/api/coupons

[2011-04-12 05:23] cilerler opened #5 "ReActivate Subscription"
if you use <code>Recurly.RecurlySubscription.CancelSubscription(AccountCode)</code> there is no implementation to reverse it like <code>Recurly.RecurlySubscription.ReActivateSubscription(AccountCode)</code>

it is available on API but not in this wrapper.  the code below should be in RecurlySubscription.cs

<pre>
        /// <summary>
        /// ReActivate a passive subscription.
        /// </su

[2011-04-12 08:17] cilerler opened #6 "total_amount_in_cents vs unit_amount_in_cents"
Please replace the name <code>unit_amount_in_cents</code> in RecurlySubscription.cs at line 211 as <code>total_amount_in_cents</code>

unit_amount_in_cents is coming with add-on not subscription.

[2011-08-01 15:26] mklement0 opened #7 "Broken links in ReadMe.md"
Links to the API documentation on recurly.com are broken: http://support.recurly.com/faqs/api

[2011-08-01 18:49] #7 closed, assigned to nobody

[2011-08-23 22:26] axefrog opened #8 "RecurlyTransparent.cs not included in csproj file"
Need to include RecurlyTransparent.cs in the project file.

[2011-08-23 22:28] axefrog opened #9 "RecurlyTransparent falsely assumes all ASP.Net projects are WebForms projects"
`RecurlyTransparent.HiddenFieldData()` only returns an `HtmlControl`, which is not useful for MVC projects. There should be a method that returns pure HTML, like so:

[code]

[2011-11-15 10:20] ermakovich opened #13 "Code snippet for signature generation"
Hi!

Could anybody provide a code snippet in C# for Recurly signature generation/verification?

I can't find this code in sources...

Any help will be greatly appreciated. Many thanks in advance!

[2011-11-22 10:30] #13 closed, assigned to nobody

[2012-09-24 12:03] atulshakti opened #15 "invoice pdf download"
Hi,

I want to display a particular invoice in pdf format using the .NET API. If anybody has done it earlier, please help me with it.

Regards
Atul

[2013-12-18 21:15] #1 closed, assigned to nobody

[2013-12-18 21:15] #2 closed, assigned to nobody

[2013-12-18 21:16] #3 closed, assigned to nobody

[2013-12-18 21:16] #4 closed, assigned to nobody

[2013-12-18 21:16] #5 closed, assigned to nobody

[2013-12-18 21:16] #6 closed, assigned to nobody

[2013-12-18 21:16] #8 closed, assigned to nobody

[2013-12-18 21:16] #9 closed, assigned to nobody

[2013-12-18 21:16] #15 closed, assigned to nobody

[2014-04-01 11:23] boblpope opened #19 "Type RecurlySection doesn't exist"
My project was failing because the Config file specified the config type as:     <section name="recurly" type="Recurly.Configuration.RecurlySection,Recurly" /> per documentation. In the Recurly project the Type is Recurly.Configuration.Section.

[2014-04-02 17:11] #19 closed, assigned to nobody

[2014-04-04 12:50] boblpope opened #20 "Enumerations inside instance type"
When I was retrieving plans I needed to combine information into another type for display. withing the Plan type the [x]IntervalUnit properties are of the enum type IntervalUnit. The IntervalUnit Enumeration is contained within the In Plans class making it for all practical purposes unusable in any assembly that references the Recurly.net client assembly.

Best practice for enumerations is to decl

[2014-04-07 00:15] #20 closed, assigned to nobody

[2014-04-08 19:31] mms- opened #21 "Please rename Recurly.Exception!"
Having it named Exception collies with System.Exception and thus we can't import the Recurly namespace (via using Recurly;) without name collisions.

Recurly.RecurlyException would do?

Also do not derive from ApplicationException, read comments here :

http://msdn.microsoft.com/query/dev12.query?appId=Dev12IDEF1&l=EN-US&k=k(System.ApplicationException);k(TargetFrameworkMoniker-.NETFramework,Versi

[2014-04-14 18:54] #21 closed, assigned to nobody

[2014-04-25 11:07] chrissrogers opened #23 "Missing test files"
I'm noticing that the following ignored files are necessary to build the tests. Probably should get them checked in.

https://github.com/recurly/recurly-client-net/blob/master/.gitignore#L2-L3

[2014-04-25 13:38] #23 closed, assigned to nobody

[2014-05-19 15:17] mbaranov opened #28 "Lists handling impovements suggestion"
Hi,

I wanted to mention a couple of suggestions regarding how Recurly lists are accessed through the wrapper.

It would be really nice if the following capabilities were available:
1. Abilility to override default page size (that is specified in configuration settings) on a method-by-method basis
2. Abililty to optionally specify StartUrl in methods that return paged lists (in order to be able to

[2014-06-10 14:06] AdamYEG opened #29 "Product code not available in C# API?"
product_code is available for adjustments through the api xml- yet there is no property in the adjustments.cs class to get/set the value?  I'm wondering why this is?

I have a plan add on with an "add-on code" of "XYZ" in the recurly UI.  When a payment is processed - I am getting a web hook telling me of the successful payment.  I then use the API to get the adjustments on that invoice.  When I p

[2014-06-11 16:02] muhammadmalik opened #31 "'System.Net.WebException' occurred in Recurly.dll"
I have included Recurly.dll in my project. I have a test account with account code "test" and I am trying to update billing information. Billing info gets updated successfully if I do the following;

            var account = Accounts.Get("test");
            var info = account.BillingInfo;
             info.FirstName = "Verana";
             info.LastName = "Example";
             info.PhoneNumbe

[2014-06-19 17:25] AdamYEG opened #32 "Recurly API docs don't match the code - can't clear AddOns"
As per https://docs.recurly.com/api/subscriptions/subscription-add-ons

The following should work:
// remove an add-on
subscription.AddOns.RemoveAt(0);

// remove all add-ons
subscription.AddOns.Clear();

But in the code - the recurlylist shows these methods as "internal" - can't access them. (public class SubscriptionAddOnList : RecurlyList<SubscriptionAddOn>)

internal void Clear()
        {

[2014-07-17 11:27] Moedig opened #37 "Addon UnitPriceInCents overriden by subscription plan UnitPriceInCents"
If you get a subscription plan and then get an AddOn related to that subscription, create a new subscription using that plan and then attempt to add any AddOns to that subscription - all subscription AddOns for that subscription have their UnitPriceInCents set to the same UnitPriceInCents that the plan has instead of what it should have for the AddOn.

See code and comments below.

[code]

I canno

[2014-07-21 21:47] akatz0813 opened #38 "Subscription.Postpone should not trim time from Date"
See Postpone method... The ToString() is removing time from the renewal.  The UI does support date and time.  Change formatter to "yyyy-MM-ddThh:mm:ssZ"

public void Postpone(DateTime nextRenewalDate)
        {
            Client.Instance.PerformRequest(Client.HttpRequestMethod.Put,
                UrlPrefix + Uri.EscapeUriString(Uuid) + "/postpone?next_renewal_date=" + nextRenewalDate.ToString("y

[2014-07-22 15:41] akatz0813 opened #39 "Changing Collection Method from manual to automatic fails"
Line 593 in Subscription.cs missing ElseIf

else if (CollectionMethod.Like("automatic"))
    xmlWriter.WriteElementString("collection_method", "automatic");

[2014-07-22 23:11] #39 closed, assigned to austinheap

[2014-07-22 23:11] #38 closed, assigned to austinheap

[2014-07-24 22:29] whiteotter opened #42 "merchant reported listing account subscriptions only provides active subscriptions"
https://docs.recurly.com/api/subscriptions#list-account-subscriptions

Should provide all subscriptions, regardless of subscription state

[2014-08-04 20:56] #32 closed, assigned to nobody

[2014-08-04 20:57] #37 closed, assigned to nobody

[2014-08-12 23:37] tcclancy opened #44 "Transactions Get By Start DateTime"
I would like to the ability to query transactions and accounts at a specific date and time down to the millisecond or whatever the most accurate unit is available in your data structure.  A common query would be able to supply a specific start date time as in input parameter.  Another parameter would be the direction of data: ascending or descending (forward or backward). Another parameter might b

[2014-09-10 21:52] atschaef opened #47 "ChangeSubscription with Addon removal doesn't update subscription addon quantity"
I noticed that whenever i want to change a subscription that had a single addon item, to one that has no addons, the subscription addon isn't updated in recurly (still get return code of 2xx).

I remove the item like so (simplified)
[code]

As a workaround, I created the xml for the request myself, and noticed that if the element "subscription_add_ons" is not present, then recurly ignores the chan

[2014-09-15 16:23] cpt-klossome opened #48 "Read XML Missing Coupon Description"
I added the following in order to get it to work:

                    case "description":
                        HostedDescription = reader.ReadElementContentAsString();
                        break;

[2014-09-15 16:28] cpt-klossome opened #49 "ChangeSubscription requires cost of new plan"
I am not sure if this is be design or not, but when changing the subscription, the price does not update.  For example: If a user is on Plan-A that costs $15 and I use the API to change them to Plan-B which is $5, the plan updates but the price does not. I have to include the price of the new subscription in order to get it to update.

[code]

[2014-09-28 23:52] MuffinMan10110 opened #50 "Invoice.cs missing property"
The invoice.cs class is missing the tax_region property returned from the API

[2014-09-30 16:47] bnoyle opened #51 ""Root Element is missing" exception in Transaction.ReadXml"
Attempting to create a transaction via Transaction.Create() returns a Root Element is missing exception in the Transaction object.

Response appears to be empty and transaction is not reflected in Recurly.

[2014-10-01 19:48] whiteotter opened #52 "merchant reported removal of all subscription add ons defunct"
"The RemoveAt() call is a method on the .NET List<T> object and thus runs no functional code against Recurly. It simply removes the item from the list.

The issue is not removing a single SubscriptionAddOn but rather manifests when all addOns for a subscription are removed. As long as there is at least 1, the code functions as expected. When all addOns are removed, the subscription_add_ons XML ele

[2014-10-02 14:05] bnoyle opened #53 "Transaction object missing description property"
Current commit of transaction object is missing "description".  When creating new transactions via the API this results in customer invoices with a blank description field.

No deleterious effects in the code however results in confusion when reconciling charges via invoices.

[2014-10-02 18:17] #53 closed, assigned to nobody

[2014-11-20 23:31] geekexplorer opened #57 "Unable to add description when submitting a one-off transation"
While the  general API documentation mentions you can pass in a 'description' when submitting a new one-off transaction, the .Net Recurly-Api-Client v. 1.1.6.0 doesn't allow you to do so.  Neither of the two provided constructors support including a description.  Further, it doesn't appear that there is a public description field on the class so I am unable to add it after initialization either.

[2014-12-22 16:02] dragankae opened #62 "Add-on Clear and Add-on Remove is not working"
Add-on clear and add-on remove is not working. The code below used from the documentation
https://docs.recurly.com/api/subscriptions/subscription-add-ons
is not changing the add-ons of the subscriptions....

var subscription = Subscriptions.Get("2bc2a33060c103d2f0c0b5430b94d2b2");

// remove an add-on
subscription.AddOns.RemoveAt(0);

// remove all add-ons
subscription.AddOns.Clear();

// call for

[2015-01-06 21:53] cgerrior commented on #62
Hi,

I've identified the cause of these failures. We'll close this issue when it's resolved.

Thanks,

Charlie (Sales Engineer @ Recurly)

[2015-01-16 17:43] Shawn-TOS commented on #62
Just checking in to see if your teams have made any progress on this issue?

[2015-01-16 17:45] cbarton commented on #62
We have it on track to be in the new release of the client library next week.

Thank you for your patients with this issue.

[2015-01-16 17:46] Shawn-TOS commented on #62
That's great news! Thanks for the update! :)

[2015-01-23 21:13] AdamYEG opened #68 "Invoices are broken - API calls using this project are crashing getting invoices"
The XML doc being parsed has two elements of "state".

one state is under address and the other one is for the invoice.

The StringExtensions.cs code is crashing on:
 public static T ParseAsEnum<T>(this string source)
        {
            var sanitized = source.ToPascalCase();
            if (sanitized.IsNullOrEmpty())
                throw new ArgumentException("Cannot convert a null or empty st

[2015-01-24 00:06] austinheap commented on #68
Hi @AdamYEG, thank you for reporting to this. We are looking into it internally.

[2015-01-24 01:33] austinheap commented on #68
Hi @AdamYEG, this was fixed in a previous release. The code that fixed this is here:

https://github.com/recurly/recurly-client-net/blob/master/Library/Invoice.cs#L258-L260

Can you please let me know what version you're using? Thank you.

[2015-01-24 02:02] AdamYEG commented on #68
Thanks for quick reply.

I'm using dll ver 1.1.7.0 on a project running .net 4.5.

I just grabbed latest dll today from :

https://github.com/recurly/recurly-client-net/releases/tag/1.1.7

On Fri, Jan 23, 2015 at 6:33 PM, Austin Heap <notifications@github.com>
wrote:

[2015-01-26 15:36] TOS-GitHub commented on #62
Is there an ETA yet? It's been a few weeks now and it would be beneficial to know when this may or may not be resolved. We just need to know if this is a blocker or not so that we can proceed with our own processes.

[2015-01-26 16:11] MuffinMan10110 commented on #62
FYI I'm working on a Recurly client library of my own that you might be
interested in checking out in the future when it's finished.
https://github.com/MuffinMan10110/recurly

Why would I do this?

   - So that I can fix bugs fast
   - There are existing unit tests in the official library that pass that
   are actually not correct
   - As neat as it is, the architecture makes it very difficult to

[2015-01-26 17:26] austinheap commented on #68
@AdamYEG Thanks for the update -- did that fix the issue for you?

[2015-01-26 18:16] AdamYEG commented on #68
Hi Austin,

I cloned the current project - and I see the fix and appears to work.

Before that - I was using the last "Stable" release on the release page (
https://github.com/recurly/recurly-client-net/releases/tag/1.1.7) <-- Does
not have the fix yet....?

That was the issue.  When does the current code get promoted to a stable
release package?

Thanks,

Adam

[2015-01-27 00:55] #62 closed

[2015-01-27 00:56] austinheap commented on #62
This should be fixed now. Please let us know if you encounter further issues.

[2015-01-27 01:09] Shawn-TOS commented on #62
Thanks guys! Much appreciated!

Thanks,

Shawn Ivie
Support Manager
www.theoldstate.com

[2015-01-27 15:23] dragankae opened #70 "The price is not changed on a subscription when the subscription plan is changed"
When i update subscription plan on a subscription, the price of the subscription and the addons are not updated to the price of the new plan and new plan addons. I can see that the plan is changed on recurly but not the prices..

This happens using the .NET library.

[2015-01-27 22:07] austinheap commented on #70
@dragankae Thanks for reporting this. We're looking into it internally.

[2015-02-05 04:44] mms- opened #71 "Customer notes support for invoices missing?"
This doesn't seem to be apart of this lib yet, any idea when?

[2015-02-05 13:25] dragankae commented on #70
Hello, can you update me about the progress of this issue.
Thanks

[2015-02-19 23:14] drgrieve opened #73 "Update billing info with token not working"
code

           var account = Accounts.Get(AccountId);
           var info = account.BillingInfo;
            if (!String.IsNullOrEmpty(model.RecurlyToken))
            {
                info.TokenId = model.RecurlyToken;
                info.Update();
            }

But in the Xml sent, it is sending all of the billing info not just the token

<?xml version="1.0" encoding="utf-8"?>
<billing_info

[2015-02-19 23:32] drgrieve commented on #73
A workaround for this.

                var account = Accounts.Get(AccountId);
                if (!String.IsNullOrEmpty(model.RecurlyToken))
                {
                    account.BillingInfo = new BillingInfo(account) { TokenId = model.RecurlyToken };
                    account.BillingInfo.Update();
                }

WriteXml method should check for token and if present only write that

[2015-02-20 15:02] drewish commented on #73
Yeah you're correct it should be token or billing info. Thanks for bringing it to our attention.

[2015-02-20 17:54] austinheap commented on #71
Hi @mms-, we're working on this and it'll be available in the upcoming weeks.

[2015-02-23 20:28] austinheap commented on #73
Hi @drgrieve, thanks for letting us know. We're looking into it.

[2015-02-23 20:44] cbarton commented on #71
This is to be handled by https://github.com/recurly/recurly-client-net/pull/67

[2015-02-27 13:54] dragankae commented on #70
Let me explain the problem again:

1) I have 2 Plans
PlanA 10$
PlanB 20$

2) My subscription has PlanA 10$
- if i change the plan of the subscription to PlanB through the API the price is still 10$ and the addon prices are not updated according the new plan
- if i change the plan of the subscription to PlanB through user interface the price is correctly updated to 20$ and to all of the addons

3)

[2015-03-03 19:25] austinheap commented on #70
Hi @dragankae, can you provide us with sample code to reproduce the issue?

[2015-03-03 19:31] austinheap commented on #70
Hi @dragankae, can you please provide some code to reproduce the behavior you're seeing? Thanks.

[2015-03-27 03:20] drgrieve commented on #68
I had the same issue with 1.1.0

I updated nuget package to 1.1.8 and the issue has been fixed.

[2015-03-28 16:48] dragankae commented on #70
This is what i do:

var activeRecurlySubscription = Recurly.Subscriptions.Get(SubscriptionID);
subscription.Plan =  Recurly.Plans.Get(newPlanCode);; // Set the new plan
subscription.ChangeSubscription(Recurly.Subscription.ChangeTimeframe.Now);

[2015-04-01 22:34] cbarton commented on #71
@mms- sorry about the **long** delay. This has been released under v1.1.9

Let us know if there are any other issues!

[2015-04-01 22:34] #71 closed

[2015-04-15 20:36] MuffinMan10110 opened #75 "Getting AddOns from Plan -> Addons doesn't populate PlanCode for add on"
Consider the following pseudo code.

var plan = Plans.Get("some plan code")
plan.AddOns[0].GetHashCode() //Exception

The problem is that when the AddOns collection is fetched the PlanCode property is not set in the ReadXml method of the AddOn class. The AddOn class overrides GetHashCode which just does `return PlanCode.GetHashCode();` Since the property is null GetHashCode naturally fails.

https

[2015-04-20 14:20] pburrows opened #77 "Changing Private Api Key at Runtime"
The private apiKey for recurly is defined in a configuration section. If you use two different recurly accounts (one for production, and one for testing -- which is how recurly recommends you set up testing), you are not able to make a decision at run time about which key / account to use.

Need to add a feature to allow the private api key to be modified at run time.

[2015-04-20 14:44] MuffinMan10110 commented on #77
This sounds like it could be avoided by modifying your deployment strategy. With any .NET app in general there is no runtime changes to configuration, you build in debug or release and deploy that version. If you happen to have test servers then you probably have a deployment manager such as Octopus Deploy and you change web.config variables before you deploy to a specific environment.

Maybe you

[2015-04-20 15:19] pburrows commented on #77
Sure, this could be modified by an external service. It could even be edited by hand. It would be nice to also allow it to be edited at runtime for people who are not using those features (or would prefer not to keep it in a .config file at all).

[2015-05-11 22:28] mms- opened #82 "Connection times out to Recurly api server on Recurly.Plans.List()"
Every 2-3 hours I get the following in my logs, looks like Recurly api server is failing?

It's always on the  Recurly.Plans.List() function. Perhaps that just because we call this API the most. Seen these for months now, and it re-occurs every few weeks or so. Is it the library or the server/api?

System.Net.Sockets.SocketException: A connection attempt failed because the

connected party did not

[2015-05-12 17:01] bhelx commented on #82
Thanks @mms-

I'm going to take a look at this today.

[2015-05-12 18:36] bhelx commented on #82
@mms-

My first guess is it's a network related issue and not the code, but these types of intermittent network issues are really hard to diagnose. A couple questions:

+ Could you provide a rough estimate for datetime range that this is happening? Is it still happening?
+ Is this happening locally, on your server, or both?
+ Was it working fine before or have you been seeing this since beginning

[2015-05-15 21:14] mms- commented on #82
It's only been seen in the datacenter, (Azure West US, the only place I have this deployed). I don't really run the library locally so I can't say.

It may be an issue that becomes visible only during high network load, however I would expect other connection failures as well, so far the Recurly server is the only one.

It has been occurring for some months, Every few days a burst of these errors

[2015-05-16 00:34] MuffinMan10110 commented on #82
I believe there is a rate limit on Recurly API calls. If you look at the
response headers you should see your current usage, quota and a timestamp
of when it resets.

On Fri, May 15, 2015 at 2:14 PM, mms- <notifications@github.com> wrote:

[2015-05-16 01:08] bhelx commented on #82
@mms- @MuffinMan10110 yes there is a rate limit on calls:

https://docs.recurly.com/api/basics/rate-limits

However, they happen at the HTTP level. Not the TCP level. So if you were hitting a rate limit you would still be connecting to our server and receiving an HTTP 429 status code. But it seems to me like @mms- is failing to connect at the TCP level.

There is a timeout defined in the library:

[2015-05-16 01:41] mms- commented on #82
Yes I don't think I'm reaching any api call limits, though I haven't checked what the headers say.

I will look into this more, try your suggestions and report back as soon as I get some time.

What is peculiar is that I've only seen this with the plans list api call, but that must be because it's called much more than the other api calls. A simple test would be to run a backround task that makes

[2015-05-25 12:19] chvrsri commented on #51
Even im facing this issue. When ever i initiate a new request using transaction.Create() im receiving this issue. Please respond with a solution.

[2015-05-28 19:03] cbarton commented on #51
Sorry for leaving this open so long @chvrsri @bnoyle, can you provide me with some more details into your request (sample code, client version)? I am having a hard time reproducing this error on the current SDK version.

[2015-05-29 04:09] chvrsri commented on #51
Hi Cbarton,

The amount of the transaction lies in a textbox so the format of that value will be in String. So i have converted the value from String to Int since the Transaction API accepts on INT type Amount only.

Below is the screen shot on exactly where the issue is reproduced. Additionally without any conversion if i'm directly passing an INT type variable then every thing seems to working f

[2015-05-30 00:16] cbarton commented on #51
What version of the SDK are you using? What is the value for `Val` in your code example? I have tried the converting a number, converting an invalid number, using a normal integer, invalid credit cards, etc and all seem to come back with the proper messages.

[2015-06-01 05:22] chvrsri commented on #51
I'm Using VS2010 as my SDK.

These are the steps of making my Val into the transaction API.

For Example:
Initially the Value of Val is a string and then converting the same value into an integer and accessing the same.

![val issue](https://cloud.githubusercontent.com/assets/12595940/7906655/566b5bd4-084c-11e5-9972-bc2b8ad639f8.png)

[2015-06-01 21:34] cbarton commented on #50
@MuffinMan10110 Sorry for the ignorance on our end over this simple issue. It has been noted and I will have this property added and released by the end of the week.

[2015-06-01 21:35] cbarton commented on #51
Alright, I have tracked down what is happening here. I can only reproduce this issue when the transaction amount is very small (< 3 cents). This is because when an amount is that small, we do not try and process a transaction, we mark the invoice as paid with no transactions. This results in that API call returning a `204 No Content` (since there is no transaction) and thusly breaks this client li

[2015-06-01 21:35] MuffinMan10110 commented on #50
No problem, thanks!

[2015-06-01 21:49] MuffinMan10110 commented on #77
Hey @pburrows  I understand where you're coming from, but I think what you're requesting goes against best practices and you're probably going to need to perform this work on your own fork. If you'd like to attempt it yourself I can give you some tips on how to accomplish it:

1. There is no public object to set the credentials, the internal class grabs the section from the app/web.config and stor

[2015-06-08 19:28] cbarton commented on #29
Hey @AdamYEG, sorry about the *long* delay. I am going through and adding some missing properties right now and will add this as well.

[2015-06-08 19:35] cbarton commented on #68
closing since the issue has been reported as fixed.

[2015-06-08 19:35] #68 closed

[2015-06-08 22:11] #50 closed

[2015-06-08 23:00] #29 closed

[2015-06-10 12:36] jcwrequests opened #88 "Subscription Constructor is missing bulk flag"
The Subscription Constructor is missing the bulk flag as an option. Is there any plans to get this added or would you need a PR?

[2015-06-10 23:27] cgerrior commented on #88
Hi @jcwrequests, please see https://github.com/recurly/recurly-client-net/pull/89.

[2015-06-10 23:38] jcwrequests commented on #88
@cgerriir thanks

[2015-06-12 01:28] whiteotter commented on #70
The subscription update api call is somehow including a custom `unit_amount_in_cents`, so the process doesn't default to the plan's value. Because the custom value is the amount of the previous subscription, the amount appears to have never changed.

[2015-06-12 02:32] MuffinMan10110 commented on #70
I'm very confused on what you're trying to explain.

A plan is a template. A subscription is created from that template. Before you save the subscription you can override the defaults that were specified in the template (unit price being one).

If you then change the template it would not change any of the subscriptions that were created previously.

If template price is $5.00
You then create a su

[2015-06-15 15:00] BrainTrainDev commented on #70
It looks like this issue is being caused because assigning a new Plan to a Subscription does not propagate the UnitAmountInCents from the Plan to the Subscription, and ChangeSubscription() submits the Subscription price, not the Plan price.  It can be worked around like so:

    var activeRecurlySubscription = Recurly.Subscriptions.Get(SubscriptionID);
    subscription.Plan = Recurly.Plans.Get(new

[2015-06-15 15:19] #88 closed

[2015-06-15 15:20] cbarton commented on #88
merged

[2015-06-18 16:46] cgerrior commented on #57
Hi @geekexplorer,

Please see https://github.com/recurly/recurly-client-net/pull/90.

[2015-06-26 18:09] bhelx commented on #82
@mms- any updates? I'm closing for now. Feel free to re-open if you still think it's a problem.

[2015-06-26 18:09] #82 closed

[2015-06-26 18:11] bhelx commented on #77
@pburrows Is this still a problem for you? Do you have an implementation in mind?

[2015-06-26 18:17] pburrows commented on #77
I haven't had the time to code up anything more fancy. For the moment I am just trying to remember to comment / uncomment individual lines in the web.config file. Most of the environment changes I do are based on settings either in Octopus Deploy or in the AppSettings for an Azure Web Site instance. But since this config entry isn't part of AppSettings and is something custom, I would have to do s

[2015-06-26 18:29] MuffinMan10110 commented on #77
Patrick,

I also use Octopus Deploy and change the private API key between each environment I deploy to. I build once and change config settings when deploying. In your post deploy step add the following Powershell code:

    $filePath = $OctopusParameters['Octopus.Action[Web Portal].Package.CustomInstallationDirectory'] += "\Web.config"

    [xml] $xml = Get-Content $filePath

    $recurly = $xml

[2015-06-26 18:30] pburrows commented on #77
Hey, cool. Thanks for the snippet.

[2015-06-26 18:32] bhelx commented on #77
Thanks @MuffinMan10110 !

I'm going to go ahead and close this for now. I'm certainly open to re-open and talk about an implementation if you feel like it hasn't been fixed for you @pburrows . Just re-open if you want to continue.

[2015-06-26 18:32] #77 closed

[2015-06-26 18:42] MuffinMan10110 commented on #77
@pburrows If you need any help with Octopus just shoot me an email (it's in my profile), I'd be glad to help.

[2015-06-26 19:44] MuffinMan10110 commented on #44
This sounds like a useful feature, however the limiting factor is not in the .NET library, but in the Recurly API. It doesn't support this type of granularity. You may want to reach out to support@recurly.com to see if they'd be willing to support it through the API, if they do I'd be happy to implement this for you.

It essentially only supports state, type and paging info.

You can check out the

[2015-07-06 17:16] #51 closed

[2015-08-05 20:29] MuffinMan10110 opened #95 "Subscription Preview method is broken"
The Recurly API endpoint PreviewSubscription now returns a child node for invoice which the ReadXml method in Subscription.cs is not set up to handle.

https://github.com/recurly/recurly-client-net/blob/cfff76bbaf35ccfbf7cfe741c0136063e868ec38/Library/Subscription.cs#L427

What's happening is this switch case is correctly reading the State element from the subscription XML, but then the reader sta

[2015-08-05 20:35] bhelx commented on #95
Thanks for the detailed post @MuffinMan10110

A PR would be great!

[2015-08-13 21:01] bhelx commented on #95
@MuffinMan10110 I'm planning on taking a look at this tonight to see if I can get a patch. Did you start on anything for it?

[2015-08-13 21:13] MuffinMan10110 commented on #95
@bhelx Thanks for following up. I've fixed the client library so it stops breaking in my own local version, but ideally the client library conforms to the new xml schema that is coming back from the API. I need to know if the API endpoint is set in stone or if it might continue to evolve. I see there is a Beta tag in the docs which is why I ask.

[2015-08-13 21:29] bhelx commented on #95
Yes, unfortunately the API is already set. But, if your branch fixes the issue that would be good enough for now. I can do a follow up issue to see how we can do a better job of solving it.

[2015-08-13 21:33] MuffinMan10110 commented on #95
If the API is set then that is good news. I will submit a pull request asap.

[2015-08-13 22:13] bhelx commented on #95
Thanks @MuffinMan10110 !

[2015-08-14 20:42] MuffinMan10110 commented on #95
@bhelx I just submitted a pull request for this

[2015-08-19 16:31] #95 closed

[2015-08-26 13:47] MrHenkey opened #99 "No way to change a plan code"
It seems that it is not possible to update a plan code. When Plan.Update() is called, the client create PUT request to /plans/:plan_code where ":plan_code" is the new (changed) value. Since there is no plan with that code at the time when Update() is called, NotFoundException is thrown.

Maybe, method override like Update(string planCode) could be a solution here.

[2015-09-04 21:18] bhelx commented on #99
@MrHenkey our API does not allow a plan code to be updated. plan_code is used as a unique identifier for the resource so allowing you to change it would break RESTful practices. You may, however, change the plan name or you can create a new plan with a new plan_code.

Please feel free to re-open if you don' think this problem was resolved for you.

[2015-09-04 21:18] #99 closed

[2015-09-11 01:08] bhelx commented on #57
This should have been taken care of by https://github.com/recurly/recurly-client-net/pull/90

[2015-09-11 01:08] #57 closed

[2015-09-11 01:12] bhelx commented on #44
I think @MuffinMan10110 provided the correct answer here. @tcclancy let us know if you still need help or need this feature in the API.

[2015-09-11 01:12] #44 closed

[2015-09-11 01:17] bhelx commented on #31
Closing this due to inactivity. Please re-open if this is still a problem.

[2015-09-11 01:17] #31 closed

[2015-09-15 17:48] MuffinMan10110 commented on #70
Can we close this? It appears that there was confusion in how the system worked and not an actual bug. If you see my comment above I detail why this is not a concern of the client library.

[2015-09-15 17:50] bhelx commented on #70
@MuffinMan10110 yes, good point.

@dragankae feel free to re-open discussion

[2015-09-15 17:50] #70 closed

[2015-09-15 18:48] MuffinMan10110 commented on #52
@whiteotter If I understand your issue correctly what you're saying is that when you remove all of the subscription AddOns using `Subscription.AddOns.RemoveAll()` or `.RemoveAt(...)`The `Update()` method doesn't actually remove the add ons because the `subscription_add_ons` XML is not being written for an empty list?

[2015-09-15 19:34] bhelx commented on #52
It would be good if we had some code on this issue

[2015-09-15 19:50] MuffinMan10110 commented on #49
@cpt-klossome Thanks for providing a code sample. In this example you are right, calling the `ChangeSubscription` method will not update your `subscription` variable with updated data. You would need to fetch the subscription again to see the latest changes.

[2015-09-15 20:21] MuffinMan10110 commented on #47
@atschaef Are you still having an issue with this using the latest build? I've tested and also looked at the source code and I believe it's been fixed since this issue. I've observed using your sample code that the `subscription_add_on` xml is being written.

Here's the request that is generated using your sample code.

    <subscription>
      <timeframe>renewal</timeframe>
      <quantity>1</qua

[2015-09-15 20:25] BrainTrainDev commented on #70
Maybe I should've reported a different bug, but in my test scenarios, no "template" prices are ever changed.  Here's my test scenario:
Assume PlanA @ 149$, PlanB @ 1000$
1) Create new account
2) Create subscription using the new account & PlanA
3) Change subscription to PlanB
If I do this via the web interface, I would see that the customer is charged the correct, 1000$ rate, but when I go through

[2015-09-15 21:00] MuffinMan10110 commented on #70
@BrainTrainDev I think the confusion lies in the fact that the Recurly Admin UI is doing one step automatically for you that you might not realize. When you choose a new plan from the drop down when editing your subscription the UI is automatically populating the price field with the new plans price and you can choose to continue with it or override it. This action is equivalent to you setting you

[2015-09-15 21:29] bhelx commented on #47
@MuffinMan10110 sure, if we can't replicate.

@atschaef please let us know if it's not a fixed issue.

[2015-09-15 21:29] #47 closed

[2015-09-15 22:25] BrainTrainDev commented on #70
Thanks, I think I understand the design now.

[2015-09-15 23:11] #73 closed

[2015-09-15 23:15] #75 closed

[2015-09-17 18:44] whiteotter commented on #52
This issue was quoted directly from a merchant communication. I will reach out to that merchant and encourage them to weigh in here. Thanks.

[2015-09-17 18:57] bhelx commented on #52
Thanks, we'll leave open for now

[2015-09-24 21:15] MuffinMan10110 opened #106 "Client doesn't properly handle Bad Request responses"
For example, attempting to terminate a subscription that is expired will result in the following response:

    HTTP/1.1 400 Bad Request
    <?xml version="1.0" encoding="UTF-8"?>
    <error>
      <symbol>invalid_transition</symbol>
      <description>A expired subscription can't transition to expired</description>
    </error>

Client.cs doesn't appear to have a switch condition for this HTTP st

[2015-10-02 19:49] 1TheMuffinMan opened #107 "Can we refactor Subscription.UpdateNotes method?"
The update notes method https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L398 currently takes a dictionary as an argument.

There's a couple reasons this is a bad idea:
1. No one knows what keys are excepted
2. The way `UpdateNotes` handles the dictionary you must provide all 3 notes even if you want to just update one.

I suggest we change the signature to:
`publi

[2015-10-06 20:14] bhelx commented on #107
@MuffinMan10110 these are good points. I'm down to change the signature as long as we keep the dictionary signature available for backwards compatibility. I can update the examples in the docs to use the new signature to encourage use.

[2015-10-06 20:23] MuffinMan10110 commented on #107
@bhelx Thanks for following up! I will move forward with this soon.

[2015-10-07 17:49] bhelx opened #110 "Get Tests and CI running"
In the rest of our libraries, we use travis to run the tests and don't merge anything where the tests do not pass. We should be doing the same thing in this library. In order to do this, we should add a travis config and fix the tests (or remove the ones that aren't working). Once we have travis protecting PRs we can get more serious about adding tests for each change.

@MuffinMan10110 let me know

[2015-10-07 18:28] bhelx commented on #42
The library specifies a default of `All`:

https://github.com/recurly/recurly-client-net/blob/master/Library/Account.cs#L214
[code]
So this would be a bug or their library is potentially old.

I took an account with both active and expired subscriptions, pulled down the subs then printed their state:

[code]

It printed both expired and active states so I'm assuming the `All` flag is working.

Clo

[2015-10-07 18:28] #42 closed

[2015-10-07 18:29] bhelx commented on #28
@mbaranov is this something you are still interested in doing?

[2015-10-07 18:37] MuffinMan10110 commented on #110
@bhelx Your idea sounds good to me.

Note that a bit of work is going to be required to get the tests in a place to be run in an automated environment.

1. I know there are a handful of tests that are either deprecated or are impossible to run in the current state of the Recurly account associated with the library.
2. Last time I checked some tests encountered one or more race conditions and faile

[2015-10-07 18:47] bhelx commented on #110
@MuffinMan10110 I noticed the same.

My plan was to just delete (or maybe comment out) any tests that are causing problems. I'll attempt to fix them but if I can't find a good fix or I don't understand them, they will be removed. I'm definitely more concerned about getting `some` tests running at all than having `all` of them running. We can work on incrementally improving them from that point for

[2015-10-07 18:59] MuffinMan10110 commented on #110
@bhelx That makes sense about getting some tests running.

[2015-10-07 19:06] MuffinMan10110 opened #112 "Upcoming multiple coupons"
It appears that multiple coupons per account are in beta according to this page: https://docs.recurly.com/coupons-beta

Is there currently anyone assigned to implementing these changes once the API is finalized? If not, I'm thinking a new branch could be made immediately and work started via pull request. A separate beta account could also be setup and linked to the branch to test with. Once the c

[2015-10-07 19:26] bhelx commented on #112
The latest version should support most of these changes. The API changes are finalized on our end.

I think most of the changes were made here: https://github.com/recurly/recurly-client-net/pull/102

I'm also working on these two others for editing and restoring coupons and also supporting the new `bulk` coupons.

https://github.com/recurly/recurly-client-net/pull/109
https://github.com/recurly/re

[2015-10-07 20:47] MuffinMan10110 commented on #112
Awesome, I didn't realize work had already been done for this. I will definitely reach out if we need this functionality before release.

Thanks.

[2015-10-07 20:47] #112 closed

[2015-10-07 20:57] bhelx commented on #112
Thanks for looking out!

[2015-10-08 08:12] mbaranov commented on #28
We ended up doing a custom wrapper around the REST API in our project. So no, the need is no longer there.

[2015-10-08 18:07] #28 closed

[2015-10-22 21:31] bhelx commented on #49
@cpt-klossome were you able to figure this out?

[2015-10-22 21:31] bhelx commented on #48
Took care of this in https://github.com/recurly/recurly-client-net/pull/111

[2015-10-22 21:31] #48 closed

[2015-10-26 10:37] joppereira opened #114 "Issue on C# UTC dates when trying to "Unpostpone" a subscription"
We're trying to unpostone a subscription by activating it once again. we are doing it like this:

[code]

The problem here is that according to your support there is a time discrepancy between what is entered in the api, and what is seen arriving in the server logs (approx. -12 hour difference). If I use AddDays(1) instead of plus 1 minute it works. However we do need it to be 1 minute right after

[2015-10-27 17:01] bhelx commented on #114
Thanks for reporting @joppereira

We will take a look at this

[2015-10-28 02:09] MuffinMan10110 commented on #114
@joppereira You mentioned that this works in the PHP client library. Do you think you could attach the generated XML used for the HTTP requests from both libraries? Fiddler (free) is a great tool to view HTTP traffic.

Seeing what's different in the .NET library's XML should give us some insight into where the problem is.

[2015-10-29 18:43] bhelx commented on #114
@joppereira I'm having trouble reproducing this.

Here is what I'm doing, I'm taking a subscription and postponing by 2 months:

[code]

The URL i'm seeing spit out on the c# side:

[code]

This looks correct to me as it's currently 06:38 UTC here

On the server side i'm seeing the same url unchanged:

[code]

Then when I check the current_period_ends_at on the sub in the database it also seems to

[2015-10-29 23:11] joppereira commented on #114
I only mentioned php library because Ian from your support told me that
after testing he saw it working fine with php. With c# it does not work as
expected. Tomorrow will
Check fiddler on c#request

No dia quarta-feira, 28 de outubro de 2015, Nicholas Lechnowskyj <
notifications@github.com> escreveu:

--
Cumprimentos,
João Pereira

[2015-10-29 23:12] joppereira commented on #114
Hi Benjamin,

Tomorrow will send you fiddler request.
Thanks

No dia quinta-feira, 29 de outubro de 2015, Benjamin Eckel <
notifications@github.com> escreveu:

--
Cumprimentos,
João Pereira

[2015-10-30 18:49] joppereira commented on #114
Hi,

Due to https i cannot read the fiddlers request as it is encrypted. Anyway
I still have the problem.

.Postpone(DateTime.UtcNow.AddDays(1));

is sending

{1/28/2016 6:44:37 PM}

    Date: {1/28/2016 12:00:00 AM}

    Day: 28

    DayOfWeek: Thursday

    DayOfYear: 28

    Hour: 18

    Kind: Utc

    Millisecond: 739

    Minute: 44

    Month: 1

    Second: 37

    Ticks: 63589603477739195

[2015-10-30 19:04] MuffinMan10110 commented on #114
@joppereira It's possible to decrypt the HTTPS traffic in Fiddler http://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/DecryptHTTPS

[2015-10-30 22:32] bhelx commented on #114
@joppereira My test program was printing the http url right out to the console/log, so you could also check there first.

Also, I'm confused that you are calling (DateTime.UtcNow.AddDays(1)) and it's a whole 3 months into the future: 1/28/2016

Might want to double check that your time is properly configured on your machine.

[2015-10-30 23:35] joppereira commented on #114
Sorry, i meant AddMinutes(1). You ser three months cause i was testing with
AddDays(90) at the moment and i also could see in recurlys website the
users account being postponed 3 months but with 12 hours before my local
utc time, so have the same issue as what i originally wanted, AddMinutes(1)

No dia sexta-feira, 30 de outubro de 2015, Benjamin Eckel <
notifications@github.com> escreveu:

--
Cum

[2015-11-03 00:23] ianschmitz opened #117 "Add Webhooks support"
Would love to see some basic Webhooks support in the .NET client. Currently I have to manually deserialize the webhook requests.

[2015-11-03 00:32] MuffinMan10110 commented on #117
@ianschmitz What framework are you using (so we can get some more context)?

In ASP.NET MVC and Web API if you create a model the framework will automatically populate it for you. Depending on what you're using I might be able to provide some code.

[2015-11-03 00:36] ianschmitz commented on #117
We are using ASP.NET Web API.

[2015-11-03 03:12] MuffinMan10110 commented on #117
I see where you might be having an issue - Recurly wants to send all Webhook notifications to one single URL which makes it a bit of a chore.

The simplest way I can think of doing it is loading it up in an `XDocument` writing a switch block on the root name and then serializing it into a specific class.

I think this is a good request and I'd be willing to add it to the client library in the next

[2015-11-03 15:53] ianschmitz commented on #117
Thanks for the sample @MuffinMan10110 !

[2015-11-03 17:26] dylanjmcdonald opened #118 "account.Create() when no BillingInfo."
Getting a "Object reference not set to an instance of an object." error when trying to create an account. Turns out BillingInfo cannot be null. Billing info requires account to instantiate.

What should happen first?

[2015-11-03 17:38] MuffinMan10110 commented on #118
@dylanjmcdonald Can you provide some sample code of how you're creating the account object? You should be able to create an account without billing info.

[2015-11-03 17:42] dylanjmcdonald commented on #118
https://gist.github.com/dylanjmcdonald/bd1a454bd932efbe01c1

user.UserId is a Guid. user & userSettings are not null. Locals shows values when debugging.

[2015-11-03 17:51] MuffinMan10110 commented on #118
Thanks for the additional information - null values was my next question :+1:

It's interesting that you're getting an object reference error - if billing info is null it won't write to the request xml and the reader for the response doesn't read billing info. What version of the library are you using? Regardless, I'm curious to find out what's causing the error, if the request was invalid you sho

[2015-11-03 17:55] dylanjmcdonald commented on #118
1.2.4, latest from NuGet Package Manager

[2015-11-03 18:07] dylanjmcdonald commented on #118
Perhaps a dumb question, but does creating accounts work in sandbox mode?

[2015-11-03 18:10] MuffinMan10110 commented on #118
I just ran the create account unit test in the latest version and it seems to be working.

Here's the next steps I'd try in order to isolate the problem area
- Try to create an account with a static account code
- Inspect/provide the HTTP request/response using something such as Fiddler.

I would like to determine if the API is sending back an error and it's being propagated back through the code,

[2015-11-03 18:14] MuffinMan10110 commented on #118
@dylanjmcdonald Yes, everything works in Sandbox mode. You'll just need to setup the Recurly section in your app/web.config which contains the subdomain and api key.

[2015-11-03 18:22] dylanjmcdonald commented on #118
![Forehead slap](http://i.imgur.com/KrILoD4.jpg)

I had my section added to my app.config file in the project that references recurly-client-net and not in my web.config. Thanks for your help @MuffinMan10110!

Please close issue.

[2015-11-03 18:25] #118 closed

[2015-11-03 18:29] MuffinMan10110 commented on #118
:+1:  Glad I could help.

[2015-11-03 19:42] ianschmitz opened #119 "Add 'async' methods where applicable"
Working with ASP.NET Web API, we follow the .NET async await pattern for any I/O bound work. This greatly increases the load capacity/scale of our web tier.

I would love to see the Recurly .NET client expose asynchronous methods that return `Task` or `Task<T>`. This will allow me to `await` the returned task and free up the thread to serve other requests.

[2015-11-03 19:49] bhelx commented on #119
I can definitely see wanting this feature. I'm wondering if there would be a simple way to implement it without changing the whole API or providing some kind of second, async api. Any ideas?

[2015-11-03 20:08] MuffinMan10110 commented on #119
This would definitely be a convenient feature, however there is one big issue preventing this from happening (and some concerns):
- The library currently targets .NET 3.5 and the System.Threading.Tasks API did not come out until .NET 4.
- Upgrading the library from 3.5 to 4.0 breaks existing users who aren't targeting 4.0 and limits those in the future that choose to use Recurly on an older app th

[2015-11-03 20:09] ianschmitz commented on #119
The general pattern I've experienced with .NET and 3rd party libraries, is they generally will expose both synchronous and asynchronous methods for a given operation.

For example using Recurly, right now you have:
`public static Account Get(string accountCode);`

Following the async pattern i've experienced you would expose both:
[code]

[2015-11-03 20:12] ianschmitz commented on #119
Sorry i didn't see your post @MuffinMan10110 before i submitted. You have raised some great points!

This isn't my area of expertise, but i believe you can add the TAP (task-based asynchronous pattern) pattern to .NET 3.5 by using `Task Parallel Library for .NET 3.5` as a NuGet package (https://www.nuget.org/packages/TaskParallelLibrary/)

[2015-11-03 20:35] MuffinMan10110 commented on #119
@ianschmitz Yes I've seen that package before.

I think if you'd like to contribute in adding this feature it would be a welcomed addition.

[2015-11-03 20:36] bhelx commented on #119
@ianschmitz I'm fine with it was well as long as it's relatively straightforward to maintain both interfaces.

[2015-11-03 22:47] bhelx commented on #117
Thanks @MuffinMan10110 !

[2015-11-04 22:18] ianschmitz opened #122 "RecurlyServerUri is incorrect in NuGet package 1.2.5"
It looks like the version published to NuGet (1.2.5) has a Debug server url set which causes any client's using this package to get a WebException as follows:
[code]

I quickly decompiled the .dll from the NuGet package and looked in Recurly.Configuration.Settings and noticed: `protected const string RecurlyServerUri = "http://{0}.lvh.me:3000/v2{1}";`

I will revert back to 1.2.4 until i hear that

[2015-11-04 23:11] MuffinMan10110 commented on #122
@bhelx Only thing I can think of is the Nuget package got created from a local version that doesn't completely match what's in source control.

The source code in the repository doesn't contain the value that Ian reported. It's `protected const string RecurlyServerUri = "https://{0}.recurly.com/v2{1}";`

I won't be able to confirm until later tonight.

[2015-11-04 23:13] ianschmitz commented on #122
@MuffinMan10110 exactly my thoughts. I checked the source control first thing, but after seeing the requests captured by Fiddler i took a closer look in the .dll

[2015-11-04 23:29] bhelx commented on #122
Appears to be an accident. Publishing a new version.

[2015-11-04 23:41] bhelx commented on #122
@ianschmitz @MuffinMan10110 can you verify v1.2.6 ?

[2015-11-04 23:41] MuffinMan10110 commented on #122
@bhelx At the office we've designated a random object as a symbol of breaking the build, you have to keep it on your desk until someone else breaks the build. I might mail it to you :eyes:

[2015-11-04 23:45] bhelx commented on #122
@MuffinMan10110 :/

Yes I need a dunce hat of some sort. Our release process is quite manual and I think this was human error (It wasn't in the source code but I moved over some old .dll to the nuget release folder). Will need to investigate doing this in a more automated way to avoid these kinds of mistakes.

In the mean time feel free to make of me on twitter or elsewhere.

[2015-11-04 23:53] ianschmitz commented on #122
@bhelx 1.2.6 looks good!

[2015-11-04 23:54] MuffinMan10110 commented on #122
@bhelx The Nuget.exe can be command line driven so it would be very easy to create a script that downloads the latest version of master into a temp folder and then creates and publishes the package. To finish it off you could launch a browser tab to Nuget.org to double confirm the package is up there.

If you need help on this give me a shout.

[2015-11-04 23:55] bhelx commented on #122
@ianschmitz phew. Thanks for reporting so quickly! Going to update the release notes now.

@MuffinMan10110 Definitely creating a script before the next release. This is too flaky of a process.

[2015-11-04 23:55] #122 closed

[2015-11-04 23:57] MuffinMan10110 commented on #122
@bhelx A quick google on "nuget from github repo" yielded this - http://weblogs.asp.net/bsimser/automatically-publishing-nuget-packages-from-github

[2015-11-04 23:59] bhelx commented on #122
Thanks @MuffinMan10110 !

[2015-11-05 21:02] bhelx commented on #110
Closing with https://github.com/recurly/recurly-client-net/pull/113

I think some more improvements could be made in the future but we'll open up specific tickets for that

[2015-11-05 21:02] #110 closed

[2015-11-10 20:19] jcwrequests opened #124 "You already have a subscription to this plan."
I upgraded an existing application, because I need the ability to add multiple coupons, to the latest version of the client and I am now unable to create a second subscription on an account like I was previously. I get 'You already have a subscription to this plan.' HttpStatus Code 442. Any ideas what is going on?

[2015-11-10 20:26] jcwrequests commented on #124
Nevermind. I did not have that option turned on my test account. The new client works without issue.

[2015-11-10 20:26] #124 closed

[2015-11-17 01:29] bhelx commented on #110
Just a note, if we want to put integration tests into travis in the future we'll need to find out what is making them so inconsistent as well as slow.

[2015-11-18 16:43] joppereira commented on #114
Hi,

Can i get any feedback on this issue?

Thanks,
João

On Fri, Oct 30, 2015 at 11:35 PM, João Pereira <joao.pgpereira@gmail.com>
wrote:

--
Cumprimentos,
João Pereira

[2015-11-18 16:58] MuffinMan10110 commented on #114
@joppereira My last comment provided a link on how to get Fiddler to decrypt HTTPS. At this time we cannot reproduce your issue, so we need specific data in order to help you troubleshoot.

[2015-11-19 16:11] joelscrypt opened #131 "InvoicePreview removed when Previewing a Subscription"
So, the following code in Subscription.cs was removed:

                        //only parse the invoice xml if it's not just a link
                        if (string.IsNullOrEmpty(href))
                            InvoicePreview = new Invoice(reader);

and replaced with:

                        if (null != href)
                            _invoiceNumber = Uri.UnescapeDataString(href.Substring

[2015-11-19 16:32] MuffinMan10110 commented on #131
It looks like an if/else should have been used here. The original parses the Invoice XML if it exists and if the element is just a link to the invoice the new version sets the invoice number.

Also, to nitpick, any changes to the library should follow existing coding standards. `null != href` should be `href != null`.

[2015-11-19 16:39] joelscrypt commented on #131
Agreed.

[2015-11-19 16:42] MuffinMan10110 commented on #131
@joelscrypt If you'd like to help fix this it would be much appreciated, otherwise I might be able to get to it this weekend.

@bhelx has the continuous integration setup pretty smoothly so he could probably have the Nuget package updated pretty quickly.

[2015-11-19 18:12] joelscrypt commented on #131
Sure, pull request made.

[2015-11-19 18:17] joelscrypt commented on #131
Hmm, the CI build failed getting mono...

[2015-11-19 18:22] bhelx commented on #131
@joelscrypt thanks for reporting! Checking it out now

[2015-11-19 18:25] joelscrypt commented on #131
@bhelx Sure, no problem.

[2015-11-19 19:38] bhelx commented on #131
Fix for this went out in https://github.com/recurly/recurly-client-net/releases/tag/1.3.1

[2015-11-19 19:38] #131 closed

[2015-11-20 16:39] NaughtyMC opened #135 "No InvoicePreview returned when calling PreviewChange() on a Future subscription"
If I have a subscription that is set to start at some point in the future, calling PreviewChange() on that subscription (to preview a different number of add-ons, for example) returns a XML package that does not have an "invoice" node.

Is this the correct way to preview a change on a future subscription or am I missing something here?

[2015-11-21 01:22] bhelx commented on #135
@NaughtyMC I think I would expect to see an invoice. Any way you could show me some code? It may be that the preview method is not sending over the addon changes.

[2015-11-24 16:49] NaughtyMC commented on #135
@bhelx We found a work-around for this. By inserting a subscription for the current period, with an update at renewal, the PreviewChange method works correctly.

Thanks for your attention.

[2015-11-24 16:49] #135 closed

[2015-11-24 16:53] NaughtyMC opened #136 "No way to post a description to a Invoice Refund"
When calling Invoice.RefundAmount() to do a partial refund of an invoice, there is no way to pass in a description.

We really like that functionality in the Adjustment.Create() method; is there any way to bring that functionality to the refund feature?

[2015-11-24 20:30] bhelx commented on #135
@NaughtyMC thanks for reporting back. If you have the change, could you give us some more information for people who may later find this issue?

[2015-11-29 04:12] NaughtyMC commented on #135
Okay @bhelx, here goes.

Background: there are two methods that are used for previewing subscriptions: Preview() and PreviewChange(). If the account you are previewing for already has a subscription of the preview type, you must use PreviewChange(). Otherwise, use Preview().

However, when you add a subscription of a given plan (let's call it 1A) with a start date in the future, a problem arises.

[2016-01-15 21:33] bhelx commented on #114
@joppereira any update on this?

[2016-01-22 18:27] kylelengling opened #137 "Discount coupon not being applied when form is submitted"
Have a form setup using RecurlyJS to create a subscription. I've created an input with the data-recurly="coupon" field to allow users to input a discount code. Using recurly.pricing I can see that the discount exists when entering a valid code, however when I submit the form and the subscription is created, the coupon is not used and the full price is charged. I think I need to add something to th

[2016-01-22 19:00] csmb commented on #137
Hey there @kylelengling, make sure that you're passing in `coupon_code` in your API call. Check out this line in the client: https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L703

If you're setting `coupon_code` in your request and it's not being respected, let me know!

[2016-01-22 19:08] bhelx commented on #137
One of the constructors has a coupon-code param:

https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L298

[2016-01-22 21:43] kylelengling commented on #137
@csmb Thanks for the reply! Forgive me if this dumb question, but where within my Subscription service file would I pass in the coupon_code? Currently it's calling a public bool to get the UserBillingInfo and token information submitted by the RecurlyJS form and then using that billing information to change/create the subscription.

Thanks for your help!
[code]

[2016-01-26 17:14] kylelengling commented on #137
I'm now trying to use this

[code]

but it still won't apply the code the subscription

[2016-01-27 00:59] csmb commented on #137
It's possible that the coupon code doesn't exist in Recurly yet, or that the coupon has specific plans it applies to, and this isn't one of those plans. I'll take a look and try reproducing what you're seeing

[2016-01-27 15:22] kylelengling commented on #137
@csmb I've got multiple coupons created, some that apply on the subscription level and some that non-subscription specific. Thanks for taking a look!

[2016-02-04 13:27] djovanovi opened #138 "C# API Not Handling Coupons In Subscriptions"
I wanted to highlight a problem we are continuing to have referencing subscriptions with coupons using your C# API.

When I run an API call on one of our existing (test) subscriptions using:

var subscription = Recurly.Subscriptions.Get(newSubscriptionDetails.subscription.uuid);

where uuid references a valid subscription, the XML payload that is returned shows an error/exception in the coupon fie

[2016-02-04 18:52] cgerrior commented on #138
@cbarton @bhelx Any chance either of you could take a look at this?

[2016-02-04 20:39] bhelx commented on #138
@cgerrior Could you add any details you know about it?

[2016-03-17 16:29] MuffinMan10110 commented on #119
Since the library had to be updated to .NET 4.5 for TLS support, we now get all of the latest async api's (Tasks namespace), which would make this effort much easier.

[2016-03-17 16:31] MuffinMan10110 commented on #117
I believe this is resolved with the code sample I provided.

@bhelx Can we close this?

[2016-03-17 17:05] bhelx commented on #117
Certainly

[2016-03-17 17:05] #117 closed

[2016-03-18 10:23] zjazd opened #140 "Update Plan Addon - throw exception"
Example from https://dev.recurly.com/docs/update-an-add-on

var plan = Plans.Get("gold");
var addon = plan.GetAddOn("ipaddresses");
addon.UnitAmountInCents["USD"] = 200;
addon.Update();

throws exception beaceuse PlanCode is null, and there is no public method or property that set PlanCode (only internal constructor)

[2016-03-18 18:16] bhelx commented on #140
@zjazd This appears to be a bug. I have a longer term fix in mind but for now I have this PR that should fix the problem:

https://github.com/recurly/recurly-client-net/pull/141

[2016-03-18 18:28] bhelx opened #142 "Change Update and Delete methods to use href"
All of the resources in our API have an `href` attribute that points back to the object. Here is an example of an AddOn:

[code]

This is helpful because you can store it on the object and the object doesn't need to know how to build back up it's route to update or delete itself. Doing so requires inflexible and unnecessary logic and also it requires that the resource has to track all of it's pare

[2016-03-21 15:29] csmb commented on #142
I'm a fan. It seems like a great way to reduce complexity around locating objects. :+1:

[2016-03-21 20:31] MuffinMan10110 commented on #142
What you propose sounds like a more logical way to go about it.

[2016-03-21 20:41] bhelx commented on #142
Okay, I'm going to put this on my calendar for next sprint.

[2016-03-28 23:31] bhelx commented on #138
@djovanovi I'm able to reproduce the issue you are seeing above, but I think it's just an issue with how the debugger works. It seems when I pull up a subscription in the debugger it calls every method on the object and i think it's trying to improperly call Coupons.

You should be able to get redemptions by using the API as expected (using `GetRedemptions`):

[code]

![screen shot 2016-03-28 at 4

[2016-03-28 23:31] #138 closed

[2016-03-29 00:19] bhelx opened #144 "Add cc_emails attribute to the Account class"
The the api has the ability to get and set the `cc_emails` on an account object.

https://dev.recurly.com/docs/account-object

This was overlooked after it was added to the API.

[2016-03-29 00:22] bhelx opened #145 "Add currency attribute on BillingInfo"
There is a new feature that allows you to specify the currency on a BillingInfo object if it is not the default site currency. Here is the ruby implementation: https://github.com/recurly/recurly-client-ruby/pull/231

This prevents unneccesary verifications.

[2016-03-29 00:30] bhelx opened #146 "Remove examples.md?"
I think maybe we should remove the `examples.md` file. I can't say for sure whether they all work It hasn't been updated. We should direct people to find examples at the docs site where we can keep things up to date. It's either that or we go through every example and check that they still work then keep it up in two places.

https://github.com/recurly/recurly-client-net/blob/master/examples.md

O

[2016-03-29 18:14] djovanovi commented on #138
Thanks Benjamin,
I will test soon and get back if I still see the issue outside of the
debugger.
Appreciate your help !
-DJ

On Mon, Mar 28, 2016 at 6:31 PM, Benjamin Eckel <notifications@github.com>
wrote:

[2016-04-07 19:05] csmb commented on #146
Good catch! I think we should take a look at what it offers, and perhaps verify/update example code on `dev.recurly.com` with what's in `examples.md`.

[2016-04-07 19:08] MuffinMan10110 commented on #146
The problem with keeping examples on github is that there's always two places to update. Directing people to the docs on the Recurly site sounds like a better option to me.

[2016-04-07 19:09] bhelx commented on #146
@MuffinMan10110 I agree. Too hard to keep up with

@csmb I'm going to do that client lib example code audit soon!

[2016-04-25 22:24] supoo opened #148 "Injectable Recurly API keys"
It would be great if we can modify the Recurly API keys at runtime.

We are using Azure cloud services and most of our configuration is set in Azure cloud service configuration files. For sensitive keys/secrets/passwords, we inject these values in as we do not want any of the information available through our git repository. With the current setup, the Recurly API keys are easily readible in Web.c

[2016-04-25 22:42] MuffinMan10110 commented on #148
@supoo Help me understand your situation a little better. Your App/Web.config in source control should only contain sandbox/dev credentials. As part of your CI process your config files are transformed with the sensitive passwords and then deployed to production servers.

[2016-04-25 22:57] bhelx commented on #148
@supoo Are you managing keys for your customers who are also Recurly customers (making API requests on their behalf)? Or are you talking about managing your own keys?

[2016-04-26 22:08] supoo commented on #148
Hello,

@bhelx , I am talking about managing our own keys.

@MuffinMan10110, fair enough. We're looking into doing the transformation with Jenkins. In the meantime, I'm interesting in how one uses Reflection to change configuration at runtime. Can you point me in the right direction?

Thanks!

[2016-04-26 23:52] MuffinMan10110 commented on #148
@supoo This should get you started

[code]

[2016-04-28 16:27] supoo commented on #148
@MuffinMan10110, this is great. Thank you!

[2016-04-28 16:30] bhelx commented on #148
@MuffinMan10110 thanks for the help! I'm gonna close this issue.

[2016-04-28 16:30] #148 closed

[2016-04-28 17:45] Identillect commented on #144
@bhelx It looks like this has been completed, can you close this issue?

[2016-04-28 17:45] MuffinMan10110 commented on #144
@bhelx It looks like this has been completed, can you close this issue?

[2016-04-29 17:38] bhelx commented on #144
Closed with https://github.com/recurly/recurly-client-net/pull/147

[2016-04-29 17:38] #144 closed

[2016-05-12 17:35] markhansonX opened #149 "Adjustments.Get returns uninitialized object"
I am using version 1.3.1.
When I call this code (I don't see in you public Library that this code has changed):

[code]

the returned object is not initialized. Also there is no check on the return code on the PerformRequest.  It seems this should use ReadXml instead?? and also check the return code like:

[code]

[2016-05-12 17:56] MuffinMan10110 commented on #149
Thanks for reporting this. You are correct, the argument for the XMLDelegate in the Get method for Adjustments should be `ReadXml` not `WriteXml`. I just debugged the unit test for this and it's just checking to see if the `adjustment` object is null or not which it will never be null.

I will fix this.

[2016-05-17 19:15] bhelx commented on #149
Thanks for reporting @markhansonX

I'm reviewing @MuffinMan10110 PR tonight

[2016-05-20 01:03] mms- commented on #82
Hello, haven't seen this since Feb 24, 2016. However recently about a week ago am seeing this every few hours:

System.Net.WebException: The remote server returned an error: (522) Origin Connection Time-out.
 at System.Net.HttpWebRequest.GetResponse()
 at Recurly.Client.PerformRequest(HttpRequestMethod method, String urlPath, WriteXmlDelegate writeXmlDelegate, ReadXmlDelegate readXmlDelegate, Read

[2016-05-20 02:56] MuffinMan10110 commented on #82
A quick Google search yielded that http 522 is used by cloudfare. I'm assuming the way things are set up is that client requests are proxied and then that proxy tries to establish a connection to the actual endpoint but that endpoint didn't respond. If that is true it sounds more like the infrastructure is taxed than a code problem.

[2016-05-20 06:33] mms- commented on #82
Yes I found that as well, not sure where CloudFlare fits in, must be somehow in the middle!

Adding a retry strategy makes sense here, as it is common and desirable to handle infrastructure failures like this at the API/SDK level where possible: https://azure.microsoft.com/en-us/documentation/articles/best-practices-retry-service-specific

Also because properties such as subscription.Plan actually

[2016-05-20 16:13] bhelx commented on #82
@mms- Yes, I believe this is coming from Cloudflare this time. Do you have a list of the datetimes in which this occurred?

[2016-05-20 18:45] mms- commented on #82
Around:
2016-05-19 22-26-56 UTC
2016-05-18 22-18-51 UTC
2016-05-17 22:11:33 UTC
2016-05-13 09-44-13 UTC

Mostly 22:00 as that is when our billing task runs. Does Recurly use CloudFlare explicitly? Azure does not so it's not on my end I believe.

[2016-05-20 19:12] #149 closed

[2016-05-20 19:14] bhelx commented on #82
@mms- Yes, we do now. I know we had a few hiccups last Thursday with Cloudflare but I'll have to check with our team about these other dates. Is this an intermittent problem? Does it happen every once in a while or for batches of requests? Do you have an idea of the throughput of the requests at that time? Any information would be helpful.

[2016-05-20 19:31] mms- commented on #82
Seems to happen every other time in the middle of a batch. We have < 100 accounts so the rate of query can't be that high.. get account, get subscription get plan, that's it. It fails for one account, we then continue on with the next account and these succeed. No rate errors from Recurly itself.

[2016-05-22 00:05] mms- commented on #82
Again, twice today, once in each batch..

[2016-05-24 18:22] bhelx commented on #82
@mms- I'd recommend contacting support as they have processes to help identify these types of networking issues.

[2016-05-24 23:07] mms- commented on #82
Will do if it persists. Any desire to add retry to the lib?

[2016-05-24 23:19] MuffinMan10110 commented on #82
@mms- I think any error handling or retry logic would be most appropriate in the consuming application. That being said though, I would happy to help come up with a retry sample if you'd like.

[2016-06-06 16:12] HelgeSverre opened #152 "Add support for ASP.NET Core"
Since the way configuration files are changed in ASP.NET 5/Core, i would like to see this implemented in the recurly client, or the option to create an instance of the client with parameters for configuration, as per now, afaik, the recurly .NET client does not work in ASP.NET MVC 6 projects.

However if anyone knows how to get it working, i'd be glad :)

[2016-06-06 16:22] MuffinMan10110 commented on #152
This is a good idea that I don't think anyone has thought about yet. I think some research will need to be done to determine how this change affects backwards compatibility. If you have an idea and can help contribute a pull request would be welcomed.

In the meantime I have addressed how to update the configuration settings at runtime in a previous question https://github.com/recurly/recurly-clie

[2016-06-16 07:54] nguyenphu1012 opened #153 "Subscription.GetHashCode() throw exception when uuid is null."
Hi,

When I tried to retrieve a subscription with pending subscription, the pending subscription will have uuid null, which will cause exception when you call GetHashCode(); actually is called by AutoMapper.

Can someone fix that?

Thanks,

[2016-06-17 04:47] bhelx commented on #153
@nguyenphu1012 Thanks a lot for reporting this. I will try to reproduce it first thing in the morning. If it is a bug, it should be a simple fix.

[2016-06-17 05:02] MuffinMan10110 commented on #153
I believe I fixed this same issue on a different object a while ago. GetHashCode() was overridden to get the hash code of the uuid and was sometimes null, causing an issue. I'll see if I can find it.

[2016-07-01 17:01] bhelx commented on #145
Closing with https://github.com/recurly/recurly-client-net/pull/151

[2016-07-01 17:01] #145 closed

[2016-07-21 19:12] cgerrior opened #155 "net_terms required when collection_method="manual""
Reported from a prospective client: "You do have to specify “net_terms” or you’ll get a “Nullable object must have a value” error and the subscription won’t get created. It’s at Line 745 in the Subscription.cs file in the Recurly .NET library. (https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L745)"

According to the developer docs (https://dev.recurly.com/docs/cre

[2016-07-28 09:36] karolsws2 opened #156 "System.ArgumentException: Requested value 'Failed' was not found."
Recurly resturns subscription with status "Failed" which is not presend in SeubscriptionStatus Enum

Subscription was created with startDate set to future, this subscription was then cancelled

then this call results with error:
account.GetSubscriptions(Subscription.SubscriptionState.All);

[code]

[2016-07-29 08:27] karolsws2 opened #157 "BLOCKER wrong request are send on change subscription"
[code]

This code should change subscription it does change subscription but charges for 0.

You have to set manualy new plan amount in cents, otherwise it result in corrupted  subscription in recurly.

you have to put this line before change subscription

[code]

It is antyintuitive, it is against all tutorials and helps, where you should set UnitAmountInCents only if you want to override plan de

[2016-08-04 12:58] Pckmule opened #158 "No PaymentMethod property on the Transaction object"
Version 2 of the Recurly API supports getting a transaction's payment method, but this library currently does not.

https://dev.recurly.com/docs/transaction-object

[2016-08-11 16:46] bhelx commented on #158
@Pckmule Sorry I've been quiet on this. I've been pretty busy and let this library get a little behind. I'll eventually get to it but it may be a week or two. I'd be happy to review any pull requests. If it's just adding a the payment_method field it should be pretty simple.

[2016-08-15 09:08] Pckmule commented on #158
@bhelx Thanks for the update. If you could have it done in a week that would be awesome. If not, we'll just have to wait a little bit. :)

[2016-08-15 16:38] csmb commented on #158
@Pckmule I've got a PR up that addresses this. I'll let ya know when it's merged and released.

[2016-08-15 17:14] bhelx commented on #158
Thanks a bunch @csmb !

[2016-08-17 07:46] Pckmule commented on #158
@csmb Thanks, that is great news!

[2016-08-25 13:14] BenjaminGibbs opened #160 "Setting Api Keys without using Config Files"
Is it possible to use the library without using the config file?

Using a config file is out of the question due how our deployment works, so I am looking for another way to inject the API key, but can't seem to find one.

Ideally I would like something like.
recurly.settings.setconfig(apiKey, subdomain);

Something like that might be included but I am missing if so.

[2016-08-25 14:54] MuffinMan10110 commented on #160
@BenjaminGibbs No, the library is not designed to configure settings without the web/app.config. You'll have to use reflection to do it at runtime if that's what you want to do. I've provided an example of how to do this in a previous issue: https://github.com/recurly/recurly-client-net/issues/148

The reason the library relies on the web/app.config is because it's a standardized method of setting

[2016-08-25 16:07] BenjaminGibbs commented on #160
@MuffinMan10110 Thanks for your comment, we are using Visual Studio online with release management currently, which picks up builds off git commits.

We have different sets of keys\settings for our dev\testing\beta\live etc... which depending on the build settings in release management switch in the correct set of keys.

But we are using Azure Cloud Services, and do this with the service configura

[2016-08-25 18:06] MuffinMan10110 commented on #160
This might help http://blog.mattmcloughlin.com/how-to-use-the-cloudconfigurationmanager-to-automatically-switch-app-settings/

It really comes down to a difference in approach. One approach keeps environment awareness out of the application by allowing the release management system to determine which set of credentials should go into the app and the other approach allows the app to know what envir

[2016-08-26 12:10] BenjaminGibbs commented on #160
I am going away for the week today but will look at adding something when I get back. - Sound okay?

[2016-08-29 13:10] AnaCampoVe opened #161 "Usage-based billing in .NET client"
Hi team!!!

We aim to integrate Recurly in a MVC solution. Our model is usage-based billing.

We have downloaded your .NET client and have seen that it doesn't offer any method to log usage. Support team has told us that this feature is in development and testing. When are you planning to release the new version? Till that moment, is there any way for us to log customer usage from our .NET applica

[2016-08-30 17:06] bhelx commented on #161
@AnaCampoVe Yes, this is in development. I'll post here with updates. Some time next week would be my optimistic ETA.

[2016-08-30 17:12] MuffinMan10110 commented on #160
@BenjaminGibbs Sure, no problem.

[2016-08-30 19:52] CodingGorilla commented on #152
Since recurly does not target one of the .NETStandard versions, it cannot be added to a .NET Core project.  Has anyone found a simple work-around for this?

[2016-08-30 22:53] MuffinMan10110 commented on #152
I don't think there is a simple workaround for it because as you pointed out all of the code is targeted at the standard .NET Framework. The library would need to be ported to .NET Core. If you're up for porting it I'm sure it would be welcomed.

[2016-09-05 01:26] kkbxxi commented on #152
I have just ported it and also made most of underlying async. Not tested thoroughly yet, but hope to share it to the public withing a week or so.

It is heavily based on code from this repo, and I tried to leave as many of interfaces the same as possible.

[2016-09-05 01:51] MuffinMan10110 commented on #152
@kkbxxi That's awesome news. Thanks for taking that on. It will be interesting to see how we can keep all of the client libraries in sync as currently there is a .NET 3.5 and 4.5 version. This would be the third library. @bhelx any thoughts?

[2016-09-05 07:24] kkbxxi commented on #152
That's my concern as well. Due to async-related changes, the API is not the same, so I am not sure if it's fair to package old 4.5 and new .NET Core code together. And, I'm not that good with building nuget packages too.

BTW: I might be missing something, but it says that 3.5 has gone away with 1.3.0, hasn't it?

[2016-09-09 02:48] BenjaminGibbs commented on #160
I have started on this and submitted a pull request for review. #162

[2016-09-14 12:03] jvalladolid opened #163 "Error creating a subscription via API with Add-Ons"
I'm trying to create a subscription using the API provided by Recurly. The plan has an add-on that is usage based. When I create the subscription without any AddOn, the request works perfectly and the subscription is created. But if I try to create it with the AddOn that exists in the plan, the request fails. The error raised is "Recurly.ValidationException: The information being saved is not vali

[2016-09-14 22:36] bhelx commented on #161
@AnaCampoVe finally got around to working on this: https://github.com/recurly/recurly-client-net/pull/165

I'm shooting for the end of this week.

[2016-09-14 22:38] bhelx commented on #163
@jvalladolid Thanks for having such a thorough description. Do you have an idea of what the returned xml response looks like or what the specific validation errors look like? Usually the validation errors refer you to the xml key which is invalid.

[2016-09-14 22:39] bhelx commented on #163
Also, I'll try to reproduce this.

[2016-09-14 22:45] bhelx commented on #163
@jvalladolid I can't seem to reproduce. If there is any sample code you can give me to reproduce that would be great. Can you also state which version of the library you are on?

[2016-09-15 07:19] mms- opened #166 "InvoicePendingCharges and invoice notes"
InvoicePendingCharges does not use the subscription configured customer notes, and account does not seem to have a configuration. No way to set invoice notes on the current implementation of InvoicePendingCharges. Also Recurly seemingly does not allow this to be changed once the invoice is created.

Is the Nuget going to be released any time soon (close to a year now)? Or is this library not reall

[2016-09-15 08:21] jvalladolid commented on #163
@bhelx Thanks for the quick answer. Yeah, yesterday I was researching a bit more and I realized that the problem was when reading the response, really. I forgot to mention that I'm using the .NET client to do the requests. I'm extending it to include the support for the UsageRecord endpoint.

[2016-09-15 08:47] AnaCampoVe commented on #161
Good to know!!!

WE would be grateful if you le tus know when the client is updated!!

Thanks!

Ana

From: Benjamin Eckel [mailto:notifications@github.com]
Sent: jueves, 15 de septiembre de 2016 0:37
To: recurly/recurly-client-net <recurly-client-net@noreply.github.com>
Cc: Ana Campo Perez <Ana.CampoPerez@veinteractive.com>; Mention <mention@noreply.github.com>
Subject: Re: [recurly/recurly-client

[2016-09-15 16:36] bhelx commented on #163
@jvalladolid just so you know, i have a WIP PR coming down the pipe for usage based billing that i hope to get out this week.

https://github.com/recurly/recurly-client-net/pull/165

Any comments you have there would be helpful.

[2016-09-16 00:59] BenjaminGibbs commented on #119
The Async/Await pattern increase the capacity/scale of web servers but its a requirement when using frameworks like Orleans or Service Fabric Actors.

My interest is because we are using Orleans so have to use the Async/Await pattern so either I could build my own wrappers around this library for just the bits we need or could look at adding support directly in to this repo so others could use it

[2016-09-16 01:01] BenjaminGibbs commented on #160
This issue can be closed now as it has been merged in to the repo with #162

[2016-09-16 01:01] #160 closed

[2016-09-16 05:41] MuffinMan10110 commented on #119
@BenjaminGibbs No progress has been made yet. Now that the library is .net 4.5 adding async should be easy. All that we ask is that the library remain backwards compatible. You'd probably need to make an async method that calls the sync method implementation.

[2016-09-16 05:57] ianschmitz commented on #119
Be careful going down that road of wrapping synchronous methods with async. You achieve parallelism but not scalability.

There's good reading on this by Stephen Toub who's an async guru: https://blogs.msdn.microsoft.com/pfxteam/2012/03/24/should-i-expose-asynchronous-wrappers-for-synchronous-methods/

[2016-09-16 06:13] bhelx commented on #119
@BenjaminGibbs I agree with @MuffinMan10110 there. I'd love to see it as a feature but I have to admit that my priority with this library right now is getting it up to date with the API. It's still a little behind in terms of feature development. After that, hopefully I have some time to work on some of the technical debt. I'm also more than willing to do review of any PRs that come my way. I can

[2016-09-16 07:39] jvalladolid commented on #163
@bhelx I have already left a single comment about the UsageTimestamp, that I think it should be mandatory.
On the other hand, I have been creating subscriptions with AddOns and during the tests, I identified some problems with the XML that is generated now. The <unit_amount_in_cents> tag is always included, but it's not required when the AddOn type is "usage". I did some changes in the Subscriptio

[2016-09-19 21:15] bhelx commented on #161
This has been released with https://github.com/recurly/recurly-client-net/releases/tag/1.4.0

[2016-09-19 21:15] #161 closed

[2016-09-19 21:16] bhelx commented on #140
Closed with https://github.com/recurly/recurly-client-net/pull/141

[2016-09-19 21:16] #140 closed

[2016-09-19 21:18] bhelx commented on #163
@jvalladolid it should be out now. Any PRs you wish to have reviewed I'd be happy to get them merged and released. Thanks a lot for your help!

[2016-09-19 21:18] bhelx commented on #158
This is closed with https://github.com/recurly/recurly-client-net/pull/159

[2016-09-19 21:18] #158 closed

[2016-09-19 21:20] bhelx commented on #106
I think i have taken care of this here: https://github.com/recurly/recurly-client-net/pull/164

It's in the 1.4.0 release: https://github.com/recurly/recurly-client-net/releases/tag/1.4.0

[2016-09-19 21:20] #106 closed

[2016-09-20 17:09] bhelx commented on #166
It seems like this feature was added but not implemented in this library. Would be happy to take a PR or I can put it in my queue.

Could you explain what you mean with an example? I don't think we support changing invoices after they are created.

This is definitely still being maintained but we haven't done a release in a while. I pushed out a big release yesterday. Sorry if that was the appeara

[2016-09-21 02:58] BenjaminGibbs opened #168 "Usage Logging crashing when calling Create."
So I have ran in to a problem when logging usage. The exception is "{"Input string was not in a correct format."}"

The usage gets logged in the portal just fine but it appears the return message is not getting serialized correctly.

[code]

The code I am using to get this is:

[code]

The XML I am getting back from the server is:

[code]

So I am thinking that `reader.ReadElementContentAsFloat();

[2016-09-21 17:06] bhelx commented on #168
@BenjaminGibbs I'll try to reproduce this now. Will report back

[2016-09-21 17:41] bhelx commented on #168
@BenjaminGibbs Can you confirm this works for you? https://github.com/recurly/recurly-client-net/pull/169

[2016-09-21 17:45] BenjaminGibbs opened #170 "UsageTimestamp won't let you post in the future."
So this may not be a library issue but when creating a new usage I get an error saying I can't post in the future.

While this seems an obvious thing to have, it causes the problems when the client/server time is not in sync'd to the second.

From what I can make out my dev machine is about 25 seconds out from the recurly servers, so while I could update my local clock it doesn't solve the problem

[2016-09-21 17:54] BenjaminGibbs commented on #168
It looks like it should, let me check it out.

[2016-09-21 17:59] BenjaminGibbs commented on #168
This fix does work for me.

[2016-09-21 18:00] bhelx commented on #168
Thanks, I'll get out a patch release and report back.

[2016-09-21 19:16] bhelx commented on #168
Released in 1.4.1 https://github.com/recurly/recurly-client-net/releases/tag/1.4.1

[2016-09-21 19:16] #168 closed

[2016-09-21 19:24] bhelx commented on #170
Yes, this is something that the API enforces but I thought we were giving a little bit of leeway with it. Let me check the server side code.

[2016-09-21 20:01] BenjaminGibbs commented on #170
Great to confirm how I am looking at this:
The XML I posted in #168 the usage time I was logging was `2016-09-21T02:39:33+00:00` which had had 5 minutes removed.

The created time was logged as `2016-09-21T02:44:09+00:00`

So if I added back the 5 minutes the time on the local machine was `2016-09-21T02:44:33+00:00` which is looking to be about 24 seconds ahead of the servers and that was getting

[2016-09-21 20:52] bhelx commented on #170
That seems like a pretty big skew. I've verified that there is a service on our backend that is perhaps too zealously guarding this value. We are talking about what it would require to loosen that restriction and if there are any downsides. Will let you know what we come up with.

As an aside, whose clock seems to be off by how much? Could you check your server time against NIST http://www.time.go

[2016-09-21 21:30] BenjaminGibbs commented on #119
I am happy to make a start on this but would be interested to hear what approach you guys think we should be taking? Looking at the codebase `client.cs` is where the network requests are done. So is it a case of having a Sync and Async version of the methods within this, or making (where applicable) everything async under the hood, then having sync wrappers around it to keep backwards compatibilit

[2016-09-21 21:35] BenjaminGibbs commented on #170
@bhelx our beta and production machines are almost inline with time.gov.uk its is our dev machines that drifted out - we would have no issues in theory when going live. It just seemed a bit over zealous ;)

[2016-09-21 21:38] bhelx commented on #170
@BenjaminGibbs okay. Good to know!

One possible solution we were thinking is if you send across a nil `usage_timestamp`, it defaults to `now` on our server. Still discussing the pros and cons of this and will hopefully be able to get out something suitable for next week.

[2016-09-21 21:44] BenjaminGibbs commented on #170
@bhelx That would be an awesome solution to be honest.

In fact it was what I tried to do the first time I wrote some code around usage - I assumed it would use the current date/time when I submitted it if I didn't explicitly state it.

[2016-09-22 19:49] bhelx commented on #170
Okay, we decided that is the implementation we are going with. I'll let you know when it's live.

[2016-09-26 16:17] AnaCampoVe opened #172 "Send BillingInfo Company via recurly js"
Hi Team!!!

We are trying to send Recurly our customers Billing Info via recurly js. To do that, we include data-recurly attribute in HTML fields and update the data with the token that is generated. It works ok for all the fields except for Company property. Isn't there any data-recurly="company" attribute that recurly.js can understand?

We have also tried to update Company property in Billing I

[2016-09-26 18:17] csmb commented on #172
Hi @AnaCampoVe. There isn't a `company` attribute on billing info, however there is one on the `account` model.

Here are the docs about Recurly JS, which outline the attributes you can send over when tokenizing a card: https://dev.recurly.com/docs/recurlyjs

Here's an example, showing how to create an account with a `company`:
[code]

Hope that helps out!

[2016-09-27 00:36] BenjaminGibbs commented on #119
Any thoughts @bhelx @MuffinMan10110 ?

[2016-09-27 06:43] AnaCampoVe commented on #172
Thanks for the quick reply!

Apart from the CompanyName attribute in Account, .NET client does have a Company attribute in the BillingInfo class. What does it stand for?

Regards,

Ana

From: Christopher Bunting [mailto:notifications@github.com]
Sent: lunes, 26 de septiembre de 2016 20:17
To: recurly/recurly-client-net <recurly-client-net@noreply.github.com>
Cc: Ana Campo Perez <Ana.CampoPerez@vei

[2016-09-27 06:54] bhelx commented on #172
@AnaCampoVe It appears to be a mistake. I traced it back to a commit from 2012 https://github.com/recurly/recurly-client-net/commit/4a29c6619d9503beb8cbd0259d830ab474b1aa71 . I'm not sure how it happened. It may be that it was moved over to the account and never removed on the billing info. We'll remove it for the next release. Thanks for pointing it out!

[2016-09-28 11:35] AnaCampoVe opened #173 "Zip Code validation"
Hi team!!!!

We are working on some forms to send the Billing Info to Recurly after they are filled in. Is there any way to perform ZipCode validation before Updating BillingInfo?

Thanks,

Ana

[2016-09-28 17:29] bhelx commented on #172
@AnaCampoVe Turns out I was wrong. You can in fact set this but the field wasn't described in the documentation. If you were creating a billing info with a token, it might look something like this:

[code]

[2016-09-28 17:29] bhelx commented on #172
I'm going to close this for now, sorry about the confusion. Let me know if you need help getting it to work for you.

[2016-09-28 17:29] #172 closed

[2016-09-28 17:39] bhelx commented on #173
@AnaCampoVe When submitting the request for a token, the zip code should be getting validated. Is it not?

[2016-09-29 06:43] AnaCampoVe commented on #173
Sure!!! I knew that!!! But my question is if I can validate the zip code before submitting all the information to Recurly. Thanks!

From: Benjamin Eckel [mailto:notifications@github.com]
Sent: miércoles, 28 de septiembre de 2016 19:39
To: recurly/recurly-client-net <recurly-client-net@noreply.github.com>
Cc: Ana Campo Perez <Ana.CampoPerez@veinteractive.com>; Mention <mention@noreply.github.com>
S

[2016-09-29 07:02] AnaCampoVe commented on #172
Sorry for bothering you again... When I opened this issue I already knew that the Company property could be set through the .NET client. The problem is that although I set the property, the fact is that the Company value is not properly updated in Recurly.

Thanks!

[2016-09-29 18:55] bhelx commented on #172
@AnaCampoVe it's not being set via the .net client? or via recurly.js ?

[2016-09-29 18:57] bhelx commented on #173
@AnaCampoVe I suppose you could but you would have to add that logic yourself. It's probably a better idea to let that happen server side (on our side). You don't want to over zealously validate too much information. At the end of the transaction, the payment network will tell you whether or not the information is valid.

[2016-09-29 19:13] bhelx commented on #172
@AnaCampoVe sorry, just updating for anyone who finds the issue.

[2016-09-29 22:24] MuffinMan10110 commented on #119
@ianschmitz Thanks for that link on wrapping sync methods with async. It lead me down a few days of research and trying to fully understand what the author is explaining.

@BenjaminGibbs I believe the creation of a new thread via Task.Run is unnecessary here:
[code]
I believe you can just do `PerformRequestAsync(..).Result`.

[2016-09-30 03:20] BenjaminGibbs commented on #119
@MuffinMan10110 yes you are correct, I'm too busy living in an async world where normally everything I do normally always triggers a new task - sorry about that.

Another interesting read on tasks and around how the [scheduler works.](http://dotnet.github.io/orleans/Documentation/Advanced-Concepts/External-Tasks-and-Grains.html?q=tasks) - it is in the context of Orleans, but the theory is still th

[2016-09-30 06:41] AnaCampoVe commented on #173
Ok, I just wanted to know if there was any method which had the logic implemented... Thanks for the info!

[2016-09-30 14:48] MuffinMan10110 commented on #119
@BenjaminGibbs Thanks for sharing that link, it's the first time I've heard of Orleans. It sounds like you've got a good grasp on async so I'm looking forward to see what you come up with.

[2016-09-30 17:00] bhelx commented on #173
@AnaCampoVe Sure thing. Let us know if you have more questions.

[2016-09-30 17:00] #173 closed

[2016-09-30 17:26] bhelx commented on #119
@BenjaminGibbs It sounds good to me. I do have experience with async architectures, but not in the .NET world. So, I can't really say how it should look. My only requirement is that it doesn't break the API for current customers. As long as we can meet that, I am more than happy to get your PR in.

[2016-09-30 17:41] bhelx commented on #170
@BenjaminGibbs We've pushed the implementation for the server side. I have a small patch to allow null `UsageTimestamp`s https://github.com/recurly/recurly-client-net/pull/175

If it looks good to you, I'll push a patch change to Nuget

[2016-09-30 23:23] bhelx commented on #163
Closing unless this has more discussion needed.

[2016-09-30 23:23] #163 closed

[2016-10-02 03:43] mms- commented on #166
Will definitely do a PR if I find time to implement InvoicePendingCharges.

Invoices in Recurly seem immutable for the most part, that is setting something like notes can only be done at create time, so InvoicePendingCharges seems to be the only way..

[2016-10-03 01:43] BenjaminGibbs commented on #170
It looks good to me.

[2016-10-03 08:12] Pckmule commented on #158
Great stuff, thanks.

[2016-10-03 22:33] bhelx commented on #170
@BenjaminGibbs I went ahead and published this alone as `1.4.2` https://github.com/recurly/recurly-client-net/releases/tag/1.4.2

[2016-10-03 22:34] bhelx commented on #170
Closed with: https://github.com/recurly/recurly-client-net/issues/175
In release: https://github.com/recurly/recurly-client-net/releases/tag/1.4.2

[2016-10-03 22:34] #170 closed

[2016-10-05 19:00] bhelx commented on #156
I have a PR going to address this here: https://github.com/recurly/recurly-client-net/pull/177

Let me know if that works for you

[2016-10-05 19:27] bhelx commented on #157
It would be great to see the xml generated here. If you have it let me know. I will try to reproduce on my end.

[2016-10-05 19:41] bhelx commented on #157
This is what I am seeing
<img width="619" alt="screen shot 2016-10-05 at 2 41 19 pm" src="https://cloud.githubusercontent.com/assets/185919/19128617/bd262796-8b09-11e6-94de-bf2072d76a89.png">

[2016-10-05 20:00] bhelx commented on #153
@nguyenphu1012 Is this still a problem? I was never able to reproduce

[2016-10-05 20:34] bhelx commented on #155
@cgerrior Is this related to creating manual subscriptions? From what I can tell, this should not be called unless it's manual: https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L754

Going to try to reproduce with manual sub for now

[2016-10-05 21:16] cgerrior commented on #155
Yeah, that's right.

On Wed, Oct 5, 2016 at 4:34 PM, Benjamin Eckel <notifications@github.com>
wrote:

--
*Charlie Gerrior*
Sr. Sales Engineer | Recurly

charlie@recurly.com
*P* (415) 683-7075
recurly.com

[2016-10-06 17:12] bhelx commented on #155
Closing with #178

[2016-10-06 17:12] #155 closed

[2016-10-11 22:28] bhelx opened #179 "Serializing empty address"
`Account` serializes null addresses. It should not do this:

[code]

[code]

[2016-10-20 16:54] bhelx opened #180 "Cannot work with Free Trial Coupons"
The library was not updated to handle these new attributes. This results in what looks like a bug when dealing with free trial coupons:

[code]

```Results for the Free Trial type: "Requested value 'FreeTrial' was not found." ```

Need to add these fields.

[2016-10-20 19:59] #180 closed

[2016-10-28 03:00] tfulton opened #184 "How do I get off this notification stream?"
Worked for Recurly a few months back.  Can someone instruct me on how to get off of these dang notifications?

[2016-10-28 03:55] bhelx commented on #184
<img width="441" alt="screen shot 2016-10-27 at 10 57 25 pm" src="https://cloud.githubusercontent.com/assets/185919/19794519/77cb190e-9c98-11e6-8e58-4407fd9b8a72.png">

Click this button, choose `Ignoring`

[2016-10-28 03:55] #184 closed

[2016-11-02 23:39] bhelx commented on #156
Closed with https://github.com/recurly/recurly-client-net/pull/177

[2016-11-02 23:39] #156 closed

[2016-11-02 23:40] bhelx commented on #114
Closing due to inactivity

[2016-11-02 23:40] #114 closed

[2016-11-10 06:29] annguyen209 opened #187 "Get subscription addon usage"
Hi.
There is no implement for getting subscription addon usage. Is this missed currently or it is somewhere I don't know.

Thanks in advance.
An.

[2016-11-10 17:29] bhelx commented on #187
@annguyen209 Sorry, seems like that list class was missing. This branch should fix this for you: https://github.com/recurly/recurly-client-net/pull/188

[2016-11-10 17:30] bhelx commented on #187
@annguyen209 let me know if it resolves this for you and i can get it merged and released

[2016-11-10 23:12] jvalladolid opened #189 "Multiples API Keys and multithreading"
Hi.
I'm using the solution build here #162 to be able to connect to the two Recurly Accounts we use in our solution. Let me explain a bit the use case to understand the error I'm facing to.
As I have just said, we have two Recurly Accounts in PRO to invoice our customers. The customers's subscriptions are created in one account or another depending on the InvoiceTerritoryId we have. For example, O

[2016-11-11 01:24] bhelx commented on #189
Hi @jvalladolid

If I'm not mistaken, that PR was not really meant to make this library work with with having configuration on two separate threads. It was meant to make the library configurable with dynamically loaded settings.

There is not a supported way to use this library with multiple configs but I would be open to any changes you need to make to get us there. One possible way could be to h

[2016-11-11 02:30] MuffinMan10110 commented on #189
It's going to be interesting trying to figure out a way to bend the sdk in this direction. As @bhelx mentioned the library was designed as a singleton. If you look at the source for `Account.Get` you'll see that it calls `Client.Instance`. I think if we had to start over it would have been a good idea to put all of the methods in a RecurlyClient class where you could just say `new RecurlyClient(co

[2016-11-11 10:07] annguyen209 commented on #187
@bhelx It's worked. Thank you.

[2016-11-11 10:07] #187 closed

[2016-11-11 12:03] jvalladolid commented on #189
Hi @MuffinMan10110
Yeah, That's the idea I missed when I took a deeply look into the client :-(. The dependency injection is the solution I was thinking on, definitely. Probably, I'll try to implement it. Anyway if you do it, let me know, please. Thanks!!

[2016-11-11 17:50] bhelx commented on #187
@annguyen209 great, it will go into the next release

[2016-11-11 22:25] MuffinMan10110 commented on #189
@jvalladolid Good luck!

If it ever happens it will be another nuget package in order to maintain backwards compatibility so keep an eye out in the future.

@bhelx can we close this?

[2016-11-26 06:43] MuffinMan10110 commented on #153
@bhelx Pretty much any code that is overriding GetHashCode() should be removed. There's no reason to override it and only serves to create hard to reproduce issues. As stated by @nguyenphu1012 you should be able to reproduce this with Automapper when mapping from one type to another. I'd be happy to change this if you are okay with it.

[2016-11-26 06:52] MuffinMan10110 commented on #119
@BenjaminGibbs So I did a lot of reading on async/await and what I've learned is that IO and remote requests such as HTTP are great for async because we can give back control to the system while we are waiting for a response. The library doesn't get faster, it just scales available resources further. If the consumer wants to to make the library calls completely not blocking it would be up to it to

[2016-11-28 21:46] #179 closed

[2016-12-08 11:43] igor-shevchenko opened #197 "No way to get a human-readable error message"
From [documentation](https://dev.recurly.com/page/transaction-errors), it seems that there's a customer message in the error transaction response:

[code]

We can use that message to display an error to user. But I can't find a way to get it using the library since `ValidationException` contains only a list of [`Error`s](https://github.com/recurly/recurly-client-net/blob/master/Library/Error.cs).

[2016-12-08 15:26] MuffinMan10110 commented on #197
@igor-shevchenko What's the HTTP status code you receive? The Client.cs handles a variety of status codes so I'm trying to track down where this particular one would be handled.

[2016-12-08 19:54] bhelx commented on #197
@igor-shevchenko I can't seem to find any code that parses the `transaction_error` which would be a big oversight on our part. I'll dig into the code and link back with a PR if we need one.

[2016-12-09 05:51] igor-shevchenko commented on #197
@MuffinMan10110 It's 422.

As I've found out, the inner content of the `<error></error>`  element (which we can access via `Error.Message` property) is human-readable most of the time. But sometimes this message is not very useful.

For example, the [test card number](https://docs.recurly.com/docs/test) `4000-0000-0000-0051` returns message `"is not valid"`, and `4000-0000-0000-0101` returns `"did

[2016-12-09 06:12] MuffinMan10110 commented on #197
@igor-shevchenko I'm sure that we can update the library to handle `transaction_error` soon.

As far as the examples you gave for `did not match` and etc those would need to be handled in the API itself and would be a larger undertaking and introduce more risk than updating the .NET client library. I think for now your best bet is to map those internally to a better message.

Perhaps @bhelx can co

[2016-12-09 06:22] igor-shevchenko commented on #197
@MuffinMan10110 thanks!

Yes, that's what I do for now. I can't be absolutely sure these are the only cases though.

There's a [list of errors](https://dev.recurly.com/page/transaction-errors), but it contains only values of `<transaction_error>` without mapping to `<error>`.

[2016-12-13 19:23] bhelx opened #198 "Subscription Postpone Date/Time is + 7hrs off of API input (local time)"
Subscription.Postpone seems to be off when passing a local datetime.

Description:

C# Subscription Postpone, does not set the localized time in the app. Enter a local local postpone time/date, and the app shows the time as +7 hours ahead of UTC.

[code]

\cc @elliottbernstein

[2016-12-13 23:45] MuffinMan10110 commented on #198
@bhelx To confirm, you're specifying a postpone date, however when you view the modified subscription  the `CurrentPeriodEndsAt` has a 7 hour difference?

[2016-12-14 17:34] bhelx commented on #198
@MuffinMan10110 I'm not 100% sure I'm going to look into this today or tomorrow. I got this report from our support team. I suppose the problem is that this is sending over the local time and our servers are treating it like UTC:

https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L463

[2016-12-14 18:09] MuffinMan10110 commented on #198
I'm willing to bet that sending it in local time is the issue. Generally in API design you just work with dates in a UTC manner. In our case we need to be more descriptive in what format we expect, UTC, local or both and if we do accept both we check if it's local time and convert it to UTC before sending to the server.

Now the issue arises of when you get the subscription from the server, since

[2017-01-09 21:37] bhelx commented on #197
Resolved with: https://github.com/recurly/recurly-client-net/pull/200

There is an example of using the `TransactionError` in the PR description there. Please reopen if this is still a problem.

[2017-01-09 21:37] #197 closed

[2017-01-10 20:31] CodingGorilla opened #205 "Exception when calling `Plan.Get(string)`"
I have started getting the following exception after upgrading to the latest recurly-net-client package, and it seems related to this commit: https://github.com/recurly/recurly-client-net/commit/881db5ca1ea75b93368235e08512245a6e7961e8

Here's the stack trace:

[code]

It seems to be that it's attempting to read the `total_billing_cycles` element, which in my case looks like:
[code]

I'm not overl

[2017-01-10 21:20] 1TheMuffinMan commented on #205
Thanks a lot for including descriptive information in this issue as well as the stack trace. It helps a lot with tracking down issues fast and getting fixes out quickly. 👍

It looks like the offending line in `Plan.cs` is here https://github.com/recurly/recurly-client-net/blob/master/Library/Plan.cs#L300

[2017-01-10 21:33] CodingGorilla commented on #205
@1TheMuffinMan Yea, this seems to be an issue in the `XmlReader` itself.  If you look at: https://referencesource.microsoft.com/#System.Xml/System/Xml/Core/XmlReader.cs,295 (and follow the calls into `XmlConvert.ToInt32`) it does no null or empty checking at all on that value.  So I think you'd have to read this as a string and do the conversion yourself.

[2017-01-10 21:55] 1TheMuffinMan commented on #205
@CodingGorilla Thanks for confirming via the MS source code. I believe we do a similar thing with `DateTime` (read as string and then do a TryParse). I might be able to fix this tonight and add a unit test.

[2017-01-11 15:43] SuperStromboli commented on #205
For what it's worth, I was able to repro this.

[2017-01-11 19:00] bhelx commented on #205
@CodingGorilla Thanks for catching so quick. This was something that was changed in the latest 1.4.6 release. I'm going to have a fix ready in a moment and I'll get a release out.

[2017-01-11 20:03] bhelx commented on #205
I've added a fix for this in #206 and I've pushed this to nuget as 1.4.7:

Here is the hotfix release:
https://github.com/recurly/recurly-client-net/releases/tag/1.4.7

Thanks @CodingGorilla and @SuperStromboli for pointing it out.

On another note, I didn't write a specific test for it because I think we should refactor the parsers to have a generic way to return nulls and then add tests to that.

[2017-01-11 20:03] #205 closed

[2017-01-11 20:27] SuperStromboli commented on #198
I believe this issue originated with me via support.

I had created a new DateTime at 12:00:00 to ensure the subscription would renew at midnight.  After calling Postpone, the sub's CurrentPeriodEndsAt ended up being +7 hrs.  The value I passed in was most likely not UTC, so that is a workaround I could try.  I think what @1TheMuffinMan said about passing UTC is perfectly reasonable.

[2017-01-11 21:40] SuperStromboli opened #208 "Exception creating BillingInfo with AmazonBillingAgreementId"
I followed the Recurly docs for creating a BillingInfo using a third party token.  When I submit the Amazon payment using recurly.js I get an exception when attempting to (Update|Create) the BillingInfo object.  I've had this issue with client version 1.3.1.  Currently on 1.4.7 though and using our Recurly sandbox URL for testing.  Account used for Pay With Amazon is also a sandbox account.

`The

[2017-01-11 21:59] bhelx commented on #208
Hey @SuperStromboli Could you try digging into the validation errors to see which fields are not valid and why? Try something like this:

[code]

[2017-01-11 22:01] bhelx commented on #208
As for my local paths being in the error message, I'm unsure why you are seeing this or what it means. Perhaps I am doing something wrong in the build process? Maybe you or @1TheMuffinMan have an idea why it does this.

[2017-01-11 22:13] bhelx commented on #208
I think this may provide the answer: http://stackoverflow.com/questions/12281962/why-does-the-stack-trace-shows-my-development-files-path

[2017-01-11 23:43] SuperStromboli commented on #208
Thanks for the tip on iterating through the validation errors.  I'll report back tomorrow.

[2017-01-12 13:28] SuperStromboli commented on #208
Ok, output for that was fairly simple: `is required | Field: "billing_info.number" Code: "" Symbol: "required" Details: ""`

I don't see a member called _Number_.  Also available are: _AccountNumber_, _CreditCardNumber_, _PhoneNumber_, _RoutingNumber_, _VatNumber_.

Ideas?

[2017-01-12 16:45] bhelx commented on #208
This library chose to map the `CreditCardNumber` property to the `number` field in the xml: https://github.com/recurly/recurly-client-net/blob/master/Library/BillingInfo.cs#L321 The errors always refer to the xml name. This should be one of the few diversions from the convention of naming the property the same as the xml element.

Now that I am looking at the XML, I don't think we are writing the

[2017-01-12 16:55] SuperStromboli commented on #208
I got that feeling!  Hah, thanks.

[2017-01-12 16:56] bhelx commented on #208
@SuperStromboli Could you try out #209 and let me know if it resolves the issue?

[2017-01-12 19:16] #208 closed

[2017-01-13 10:49] AnaCampoVe opened #210 "Error in iFrame???"
Hi Team!!!

Today we have realized that Credit card fields that you have in Recurly iFrame, and we have inserted in  our webpage, are getting crazy. Tab doesn't work, fields content overlaps... Do you have news about any problem of this kind?? This is a really urgent issues, as our customers can't subscribe to Recurly.

Regards,

Ana Campo

[2017-01-13 17:14] bhelx commented on #210
Hey @AnaCampoVe

This is an issue for support and isn't related to this library. It looks like you've already contacted them and the problem is being addressed. I'm going to close this. Let me know if there is anything I can do on the .NET side to help.

[2017-01-13 17:14] #210 closed

[2017-01-19 16:42] NPSF3000 opened #211 "Requested value 'Processing' was not found."
We're using this lovely library to process our payments, but occasionally it's throwing an exception when returning the list of Invoices.  We suspect this is because the invoice state is 'Processing' and the library doesn't understand than status.

This bug is quite urgent, as it's breaking live functionality for paying customers.

Thanks!

System.ArgumentException: Requested value 'Processing' wa

[2017-01-19 16:55] 1TheMuffinMan commented on #211
Thank you for reporting.

@bhelx Do you have any reservations with adding this state to the invoice enum? I ask because it may be a situation where you can only query for a subset of the available states. For instance, you couldn't query for invoices in `Processing` state, but invoices in that state would be returned if you queried for `All` invoices.

[2017-01-19 17:16] bhelx commented on #211
@NPSF3000 @1TheMuffinMan Yes, I think we should add it. This is a newer state that applies only to asynchronous invoices (ACH invoices)

[2017-01-19 19:12] bhelx commented on #211
@1TheMuffinMan sorry to answer your question more directly, I don't have any reservations about that.

[2017-01-20 01:53] 1TheMuffinMan commented on #211
@bhelx I'm working on the unit test for this and when I try to create ACH billing info using the sample here https://dev.recurly.com/docs/create-an-accounts-billing-info-bank-account I get `account.routing_number invalid`. Is there a test number similar to credit cards (4111111111..) that I should use here or does the account we're running the tests against need to be provisioned for ACH? I notice

[2017-01-20 04:29] bhelx commented on #211
@1TheMuffinMan yes, assuming you are using the test gateway, you can find test numbers here:
https://docs.recurly.com/docs/test

You'll probably want to use `Routing Number: 123456780` and `Account Number: 111111111`

[2017-01-20 17:10] 1TheMuffinMan commented on #211
@bhelx Thank you for the link!

@NPSF3000 Just want to let you know that I submitted a pull request for this fix and hopefully we can get it merged soon. Thanks for your patience.

[2017-01-20 17:20] bhelx commented on #211
Thanks @1TheMuffinMan
I'll get it merged and do a patch release today.

[2017-01-20 17:28] #211 closed

[2017-01-20 17:50] bhelx commented on #211
Okay, I've released this as https://github.com/recurly/recurly-client-net/releases/tag/1.4.8

Nuget: https://www.nuget.org/packages/recurly-api-client/1.4.8

[2017-01-20 20:37] NPSF3000 commented on #211
@bhelx and @1TheMuffinMan.

Thank you so much for your quick and prompt resolution in this manner.  We'll update our library and do regression testing shortly.

[2017-01-20 20:47] 1TheMuffinMan commented on #211
@NPSF3000 You're welcome! Please let us know if you're still having issues or encounter anything else.

[2017-01-20 20:56] NPSF3000 commented on #211
@1TheMuffinMan @bhelx Can you please just take a quick look at the latest nuget package?  When I updated VS complained it can't find the dll.

Under 'packages\recurly-api-client.1.4.8\lib\net35' I have a 'Recurly.dll - Shortcut' instead of a dll.

[2017-01-20 22:11] bhelx commented on #211
@NPSF3000 seems like the release copied a shortcut of the dll. I've released 1.4.9 to fix it. Could you let me know if this works out?

[2017-01-23 20:58] 1TheMuffinMan commented on #198
@bhelx After speaking with you here's the lowdown on how the `DateTimeKind` works. By default the kind will be `Unspecified` and you can choose to set it to two other types which are `Local` and `Utc`. Based on our conversation we could do the following:

1. If a DateTime being passed into a method is `DateKindType.Unspecified` we throw an exception saying it needs to be specified
2. If the `DateT

[2017-01-23 21:22] jjwhite commented on #198
I'm having a similar problem with the Postpone() method.  I'm passing a valid UTC date/time that is the current datetime.  I receive back an "invalid data" error.  I've even tried adding up to 2 hours to the time being passed in and I'm still getting the "invalid data" error.  The only time the call worked was when I accidentally called ToUniversalTime() on a date that was already UTC which added

[2017-01-23 22:06] 1TheMuffinMan commented on #198
@jjwhite I'll get more acquainted with this date time issue this week. The documentation doesn't specify any specific constraints about the date (not even if it can be in the past) so it will be interesting if it turns out there are some constraints such as not being able to set a date too close to the last one, etc.

[2017-01-24 04:48] 1TheMuffinMan commented on #198
@jjwhite I ran the Postpone unit test with a bunch of different data and wasn't receiving an error when trying to postpone using near values such as 2 hours from now.

To keep this thread on a single topic (using non UTC dates) do you mind opening up a separate issue regarding the Postpone method? If you do choose to it would also be helpful if you could include a snippet of code you're using and

[2017-01-24 04:53] 1TheMuffinMan commented on #157
@bhelx Should changing a subscriptions plan automatically set the subscriptions unit amount in cents to the new plans amount, or should the subscription keep using the existing unit amount in cents?

I can make this change and create a unit test for it.

[2017-01-24 15:46] NPSF3000 commented on #211
@bhelx seems to be working now, much appreciated.

[2017-01-24 16:20] jjwhite opened #214 "Problem with Postpone"
I'm seeing an issue with the postpone method where if I send it the current datetime or any datetime that is earlier than 10 hours from now I receive the error message: "The information being saved is not valid"

Here is a simple example:
[code]

If I change it to be 10 hours in the future it works fine (but anything less than 10 hours also fails):
[code]
The current state of the subscription in r

[2017-01-24 16:21] jjwhite commented on #198
Added a new issue: #214

[2017-01-24 16:35] 1TheMuffinMan commented on #214
@jjwhite Thanks for opening this issue separately.

What I found when testing this is that the date for `Postpone` must be a certain amount of time after the `activation/current period started` date.

For example:

- If the the postpone date is ~ <10hours from the activation or current period started date it will not work
- However, if you did `subscription.CurrentPeriodEndsAt.Value.AddMinutes(1)`

[2017-01-24 16:54] bhelx commented on #157
@1TheMuffinMan I think the problem here is that it shouldn't be sending off `unit_amount_in_cents` unless it was explicitly changed. I think if that is fixed then the server will do the right thing. I believe it takes on the new plans price but not 100% sure.

[2017-01-24 18:07] jjwhite commented on #214
Thanks @1TheMuffinMan.  No, I don't have a specific use case that would require a subscription that is active for less than 10 hours so I think I can fix this by ensuring that the postpone date is at least 10 hours after the started date.

[2017-01-24 18:57] jjwhite commented on #214
We just did a test with a Recurly user whose startdate was Nov. 11, 2016 and it still failed until I added 10 hours to the current datetime.

[2017-01-24 20:24] 1TheMuffinMan commented on #214
I think if this is a behavior that you'd like changed in the API itself it would need to be brought up with Recurly support as there's no way to get around that using the .NET library. Please let me know if there is anything else I can do to assist.

At the very least, I can see about getting those constraints added to the documentation so it's more clear.

[2017-01-25 17:54] bhelx commented on #214
@1TheMuffinMan I can check the logic on the server to give a better description of how this validation works.

@jjwhite Could you explain what you are trying to accomplish from your customer's perspective? I think we may be able to help you with a cleaner solution.

[2017-01-25 18:58] bhelx commented on #214
@1TheMuffinMan @jjwhite When I run the same code:

[code]

I'm getting the error symbol: `past_date` desc: `must be in the future`. I believe this is because it's expecting the next_renewal_date to be at least `tomorrow`. So you may have found that 10 hours worked for you because that was the next day in UTC. In other words, it has to be a future date, not a future datetime.

I believe we have a g

[2017-01-25 19:16] bhelx commented on #214
I think I may try to make these error messages more descriptive as well.

[2017-01-25 19:43] 1TheMuffinMan commented on #214
@bhelx Thanks for looking into it. In my tests I observed that the postpone day just needed to be a certain amount of time away from the current date `DateTime.Utc.Now`. You could actually set the postpone date before the  `current_period_ends_at` as long as it's still a number of hours away of what the current date/time is (at least that is what I remember).

The only use case I can think of is a

[2017-01-31 17:06] NPSF3000 commented on #211
@bhelx  @1TheMuffinMan Sorry to be a nuisance, but we're seeing this problem again in a new production push.  Still on 1.4.9.  Could you maybe take a quick look at the following stacktrace to rule out the driver?

[code]

[2017-01-31 17:11] 1TheMuffinMan commented on #211
@NPSF3000 Looks like while invoices enum has the processing state, one of the transaction enums (there's 2) needs that state as well. It's not clear which one from the stack trace. Tonight I will reproduce this, fix it and add a new unit test.

Thanks for reporting.

[2017-01-31 17:16] bhelx commented on #211
@1TheMuffinMan It might be transaction. I'll send a PR today to catch this and see if there are some other values missing

[2017-01-31 17:22] bhelx commented on #211
@NPSF3000 Standby for another PR. I'll be pushing out another fix today.

[2017-01-31 19:34] bhelx commented on #211
@1TheMuffinMan @NPSF3000 I went ahead and made sure all the enum values I could find were up to date: https://github.com/recurly/recurly-client-net/pull/215

[2017-02-07 18:28] 1TheMuffinMan commented on #119
@ianschmitz I wanted to let you know that we've been busy working on async support. Development on it is finished and is in the testing phase. @bhelx or I will update this issue once we're ready to release it.

[2017-02-07 18:33] bhelx commented on #119
Thanks for the update @1TheMuffinMan!

[2017-02-07 18:45] ianschmitz commented on #119
Hey thanks for the heads up @1TheMuffinMan, I lost track of this issue.

Precisely! Freeing up a given thread to perform other work while it's busy waiting on an I/O bound task is magical.

Glad to hear things have progressed on this issue. I'm sure many other .NET devs will be happy.

[2017-02-07 18:47] 1TheMuffinMan commented on #189
@jvalladolid I hope you were able to work around this limitation. We looked into this briefly and determined that it would be a large change in order to accomplish right now. I think it's a good idea to move the library away from a singleton to something like `_instanceOfAClient.GetAccount(1)` at some point though. In the meantime I am going to close this, but let me know if you you'd like to boun

[2017-02-07 18:47] #189 closed

[2017-02-07 18:49] 1TheMuffinMan commented on #52
@whiteotter If you do hear from your client on this and can provide additional information please let us know. Closing this for now.

[2017-02-07 18:49] #52 closed

[2017-02-07 18:51] 1TheMuffinMan commented on #49
@cpt-klossome Please let us know if you are still encountering issues with the `ChangeSubscription` endpoint and we'll be happy to assist. Closing for now.

[2017-02-07 18:51] #49 closed

[2017-02-07 18:54] 1TheMuffinMan commented on #137
@kylelengling Hi, I'm going through old open issues to see if I can resolve them. Before closing this I was wondering if you resolved this or still need assistance? Thanks!

[2017-02-07 19:05] 1TheMuffinMan commented on #136
@NaughtyMC Unfortunately there's no way for us to accomplish this through the .NET client library as the corresponding API endpoint doesn't support it. Your best bet would be to contact Recurly customer support directly and request this feature so that it can be built into the API itself.

Here's the invoice refund documentation that I'm referencing. https://dev.recurly.com/docs/open-amount-refund

[2017-02-08 17:33] jvalladolid commented on #189
Yeah @1TheMuffinMan . We did a work around implementing a mutex in the pieces of code involved, so inside each critical section we configure the client using the desired account and call to the API to get the information needed. That is enough at the moment, but we included in our backlog a technical story to move the client to a version that breaks the singleton pattern used now.
I cannot promise

[2017-02-08 23:52] bhelx commented on #157
This seems to be a legitimate bug. I don't think we should be sending changes across in this way. We should only be sending the fields that change. We may need to change the way people use `ChangeSubscription` and `PreviewChange`

[2017-02-08 23:53] bhelx commented on #157
@1TheMuffinMan I'm going to take a crack at this tomorrow morning. Did you find anything out about it?

[2017-02-09 03:28] 1TheMuffinMan commented on #157
@bhelx I have not had a chance to look into this one yet.

[2017-02-09 17:42] bhelx commented on #157
It just appears that these fields are getting sent over even though they weren't changed.

[2017-02-10 04:31] 1TheMuffinMan commented on #153
It looks like the creator of the library intended for two recurly objects to be equal if their Id's were the same, in this case Uuid. I believe you could essentially take two completely different subscription objects with the same id, compare them, and determine that they are the same. So I believe the solution in this case is to check if the object is null first so that all null objects would get

[2017-02-10 23:13] #136 closed

[2017-02-10 23:17] 1TheMuffinMan commented on #146
@bhelx Can I remove examples.md or should I replace it with links to the documention:

API docs
https://dev.recurly.com/

.NET client docs
https://dev.recurly.com/page/net

[2017-02-11 00:19] 1TheMuffinMan commented on #107
I looked into this further and I don't think it's worth the effort.

- The first concern is to add an overload that takes named arguments so that you don't have to look up the documentation for the keys
- This way it would be possible to only specify one note to update and pass null to the others or any empty string to actually set the note to null or empty.
- The API endpoint treats null, empty s

[2017-02-11 00:19] #107 closed

[2017-02-13 17:45] #153 closed

[2017-02-13 20:26] 1TheMuffinMan commented on #214
@jjwhite What we're planning to do is add a check to methods that take DateTime as an argument to make sure the `DateTimeKind == UTC`. This will it will be more foolproof. It will go into the release 1.5 branch that we are using for breaking changes (currently async/wait feature is in there). I'll keep this issue open until we merge it into master down the road.

[2017-02-13 20:27] 1TheMuffinMan commented on #198
I've added a response to issue #214 and closing this issue.

[2017-02-13 20:27] #198 closed

[2017-02-13 20:28] 1TheMuffinMan commented on #137
@kylelengling @csmb If you experience any further issues related to this or have more feedback to add please let me know. In the meantime I will close this.

[2017-02-13 20:28] #137 closed

[2017-02-13 20:31] 1TheMuffinMan commented on #166
@mms- I'm planning on working on this issue this week. At a glance I'm thinking about updating the `InvoicePendingCharges` and associated `PreviewInvoicePendingCharges` methods to take a nullable `Invoice` object that contains all of the notes you want to set. Using a nullable argument makes it possible to continue to use the existing method without specifying the invoice argument for backwards co

[2017-02-22 15:44] jjwhite commented on #214
Sounds good @1TheMuffinMan

[2017-03-07 21:11] #166 closed

[2017-03-07 21:12] bhelx commented on #166
The tests in the accompanying PR show how to use this feature: https://github.com/recurly/recurly-client-net/pull/222/files#diff-c616f4d3e04af1d194fca9525cd711daR74

[2017-03-13 17:23] mms- commented on #166
Will try this out soon. Thanks.

[2017-05-02 11:30] HasAndries opened #226 "Cannot create plan"
I cannot seem to create a plan, keep getting error **Unacceptable tag <trial_requires_billing_info>**. I suspect it's a bug and would appreciate assistance or bug fix.
Here's the relevant code pieces:
C#
[code]
HTTP Request:
[code]
HTTP Response:
[code]

[2017-05-02 19:37] bhelx commented on #226
@HasAndries which version of the client library are you using? I need to check, but I believe that field is only available in API version 2.6 but it looks like your version of the library is using 2.5.

[2017-05-02 19:38] bhelx commented on #226
Sorry, seeing it now ` v1.4.12.0`

[2017-05-02 19:42] bhelx commented on #226
Sorry @HasAndries, from what I can tell, I think we may have slipped this field in too early. I'll try to prepare a PR for tomorrow to fix this. In the mean time you should be safe to use `1.4.11` if you just want to get unblocked: https://github.com/recurly/recurly-client-net/releases

[2017-05-03 21:50] HasAndries commented on #226
Thanks @bhelx for the quick response. 1.4.11 seems to work properly, will check back for the update.

[2017-05-04 15:51] bhelx commented on #226
@HasAndries Thanks again for reporting and being so descriptive. If you get a chance please verify that #227 works for you. If this seems to fix the problem I can push out a version `1.4.13` today.

[2017-05-04 20:52] #226 closed

[2017-05-04 22:12] bhelx commented on #226
@HasAndries this has gone out as `1.4.13` https://github.com/recurly/recurly-client-net/releases/tag/1.4.13

Please let us know if there are any other issues.

[2017-05-05 21:06] CodingGorilla opened #229 "Calling 'Plans.List()' will always throw a `NullReferenceException`"
From Plans.cs:

[code]

`Plans.List()` is an overload that calls: `Plans.List((FilterCriteria)null);`.  This will always throw an NRE because you cannot call the `.Equals()` of a null object, so the statement: `filter.Equals(null)` is actually very silly because it can never actually succeed.

Personally I would replace this with:

[code]

But I suppose you could also do:

[code]

I'm not sure tha

[2017-05-05 21:17] 1TheMuffinMan commented on #229
Thanks for bringing this up.

I'm not sure why `filter.Equals(null)` was used instead of `filter == null`.

If you want to submit a pull request I will approve it.

[2017-05-12 20:11] jakenuts commented on #229
I think this affects all the List() calls with FilterCriteria..

[2017-05-12 20:34] CodingGorilla commented on #229
I apologize I did not check the tests, many of the tests always fail for me when I run the, but I assumed that had something to do with the attempt to actually communicate with Recurly and a lack of credentials or something on my part.

I can't see why this would have a negative effect, functionally there should be no difference between `filter.Equals(null)` and `filter == null`.

[2017-05-12 21:43] bhelx commented on #229
@CodingGorilla @jakenuts It's because when we added the filters we delegate the old methods to the new with the filter parameter:

https://github.com/recurly/recurly-client-net/blob/master/Library/Account.cs#L550
https://github.com/recurly/recurly-client-net/blob/master/Library/Plan.cs#L395

I'll go fix all of them and make sure it's represented in the tests.

[2017-05-12 23:42] CodingGorilla commented on #229
@bhelx I understand the relationship, but I don't understand what would cause a failure.  What is the functional difference that causes the error?

[2017-05-22 20:47] bhelx commented on #229
I think this can be closed with #231 thanks to @jakenuts
I will get a release out tomorrow.

[2017-05-22 20:47] #229 closed

[2017-05-22 20:51] bhelx commented on #229
Sorry @CodingGorilla I think I still don't get what question you are asking. From my understanding, we were explicitly passing in `null` in the 0-arity methods. It seems to me that  the `Object#Equals(Object)` was not meant to do null checks but we were using it with the intention to do a null check. I'm not sure if there are other situations where it would function differently but all we want to

[2017-05-22 21:08] CodingGorilla commented on #229
@bhelx I agree `filter == null` and `filter ?? statement` should have the same result (in fact I think the latter is just syntactic sugar for the former).  The original assertion (or at least what I _thought_ was the original assertion) was that my code change to use `filter == null` caused other unit tests to fail somewhere and I was puzzled as to why that would be the case.

But honestly, as lon

[2017-05-22 21:11] bhelx commented on #229
@CodingGorilla okay good. Just wanted to make sure I was understanding and addressing your concerns. Thanks for being on top of it!

[2017-05-25 17:49] argystu opened #233 "Account Balance call to the API is not available in the C# client"
I was looking for a way to get the account balance in the client.  While the API supports it (v2 - https://dev.recurly.com/docs/lookup-account-balance), the c# client does not.  Am I missing something?  Seems like it should be pretty easy to add.

[2017-05-25 17:52] argystu commented on #119
Any update on when this might be released?

[2017-05-25 18:13] 1TheMuffinMan commented on #233
@argystu Thanks for inquiring about this. I do not see it in the library either. I may be able to get this functionality implemented this week.

@bhelx Looks like this has been available since before API V2.5, but didn't make its way into the C# library. Seems like a simple implementation. I was thinking of pausing on subscription change object and completing this tonight. Thoughts?

[2017-05-25 19:00] bhelx commented on #233
@1TheMuffinMan that sounds good. This was in api v2.3 I think. It's a pretty straightforward change. I believe in the other libraries I created an `AccountBalance` model for this.

[2017-05-25 19:02] 1TheMuffinMan commented on #233
@argystu I will work on getting this in tonight for you.

[2017-05-25 19:05] bhelx commented on #233
Thanks @1TheMuffinMan

I'll hold off the release for this last feature.

[2017-05-25 19:13] argystu commented on #233
@1TheMuffinMan - thank you much!  I really appreciate it.

[2017-05-25 21:17] 1TheMuffinMan commented on #119
@argystu I've started on it and it's progressing slowly. We've been prioritizing changes from the new API versions lately. With that being said there is no ETA, but considering it will take some time to complete, it's possible that we may pre-release with a separate nuget package with a subset of the methods converted to Async variants. I can keep this issue updated as new updates come up.

[2017-05-26 16:16] bhelx commented on #233
@1TheMuffinMan You got an ETA on this feature? Would like to get out a release today but I can push to Monday.

[2017-05-26 21:44] 1TheMuffinMan commented on #233
@argystu Just wanted to let you know that I started working on this last night and hope to have it done by Tuesday.

[2017-05-30 13:29] argystu commented on #233
@1TheMuffinMan - Thanks for the heads up.

[2017-06-07 17:15] argystu commented on #233
@bhelx - will you be putting out a new release now that this is complete?

[2017-06-07 19:27] bhelx commented on #233
@argystu This will go out in 1.5.0: https://github.com/recurly/recurly-client-net/pull/235

I'm aiming for a release tonight. Tomorrow at latest.

[2017-06-07 19:33] bhelx commented on #233
The release will be referenced here. Closing this issue now.

[2017-06-07 19:33] #233 closed

[2017-06-22 11:53] moritzgloeckl opened #237 "Error in readme sample"
Hi,

the account creation sample in the `readme` is missing a semicolon:

[code]

[2017-06-22 15:33] #237 closed

[2017-06-22 15:33] 1TheMuffinMan commented on #237
@moritzgloeckl Thanks for reporting this

I've taken care of this. Feel free in the future to submit a pull request and we will merge it in.

[2017-06-22 18:53] bhelx commented on #237
Thanks @moritzgloeckl !

[2017-06-26 13:16] moritzgloeckl opened #238 "NullReferenceException when trying to GetSubscriptions()"
Hey,

this is a major issue for us, we're trying to get the subscriptions of an account but it's throwing a `NullReferenceException`:

[code]

[code]

Also notice that `C:\\Users\\ben\\Documents\\GitHubVisualStudio\\recurly-client-net\\Library` is not my user path, so you might consider [this here](https://stackoverflow.com/a/12282167/1017247).

Why is this happening? Thank you very much.

Edit: T

[2017-06-26 17:40] bhelx commented on #238
@moritzgloeckl which version of the library are you using?

[2017-06-26 18:43] zabralex85 commented on #238
Accounts.List() => Client.cs [line 372] => readXmlDelegate(xmlReader);

readXmlDelegate is null
xmlReader is None

[2017-06-26 19:22] moritzgloeckl commented on #238
I'm using the latest version from NuGet which should be `recurly-api-client 1.5.0`

[2017-06-26 19:32] bhelx commented on #238
@zabralex85 @moritzgloeckl Thank you. I will try to reproduce it and see if we can get a fix out.

[2017-06-26 19:58] zabralex85 commented on #238
in 1.4 working fine but must have filter anyway.

Recurly.Accounts.List(Account.AccountState.Active, FilterCriteria.Instance);

[2017-06-26 21:22] bhelx commented on #238
Thanks @zabralex85
I've reproduced and am looking into a fix now.

[2017-06-26 21:36] bhelx commented on #238
Just a quick update on what I'm seeing, it looks like this "Link" header is expected to pass on the response to the xml list delegate:
https://github.com/recurly/recurly-client-net/blob/master/Library/Client.cs#L361-L363
but it appears maybe it's not there? Looking for anything that might have changed.

[2017-06-26 22:00] bhelx commented on #238
@moritzgloeckl Another question, are you working with a new sandbox site with very few (less than 50) accounts?

[2017-06-26 22:36] bhelx commented on #238
I think I have determined the cause. I believe the problem is due to the removal of the X-Records header in the last update. This library was using that header to determine if it should read the XML as a list or not:
https://github.com/recurly/recurly-client-net/pull/235/files#diff-cc1049894087f4382fbc0b0b276e670fL376
We switched to just using the `Link` header to determine this but the problem is

[2017-06-27 08:25] zabralex85 commented on #238
I have 5 accounts, pageSize is 50 in config.
if i check stream in has this structure:
[code]

`#if (DEBUG)
            string line;
            while ((line = reader.ReadLine()) != null)
            {
                Debug.WriteLine(line);
            }
#endif`

Client.cs [343 line]

[2017-06-27 12:26] adeelhasan commented on #238
the expectation that the response will be a list is telegraphed by a non null list delegate, which can be exploited as a stop gap measure before an official fix comes out. the following works in the limited case that I need to work, in Client.cs replace line 361:

              var link = response.Headers["Link"];

                if (link == null && readXmlListDelegate != null)
                {

[2017-06-27 16:50] bhelx commented on #238
I'm should get a fix out today, thanks for your patience everyone.

@zabralex85 That makes sense, this bug occurs when you have less than one page size on the server.

[2017-06-27 21:46] bhelx commented on #238
I've released this change as `1.5.1`. There should be no code updates needed. Please let me know if this is working for you all.

[2017-06-28 06:01] moritzgloeckl commented on #238
@bhelx Thank you! It looks like it's working on my end, I will comment here if there are any problems.

[2017-06-28 15:42] bhelx commented on #238
Thanks. Please re-open if it's a problem.

[2017-06-28 15:42] #238 closed

[2017-09-06 21:36] daniel-camilyo opened #242 "Exception on Settings.Initialize"
Hi,

I am using latest nu get package in VS2017

When calling Setting.Initialize, there is an null reference exception  deep inside.
It still works as when calling other method there is no exception related to authentication and we get expected data.

You can see in screenshot below
![recurly-setting-exception](https://user-images.githubusercontent.com/31675296/30135596-1927f372-9364-11e7-8f07-91b

[2017-09-06 22:23] bhelx commented on #242
@daniel-camilyo Thanks for reporting and thanks for the example!

Is there a reason you are using this class directly and not config files? Wondering if this is related to #160

[2017-09-06 22:44] daniel-camilyo commented on #242
Yes it seems related!!!.

There a few reason why it is easier for us to connect thru code instead of config:
- the need to switch between Recurly account depending on context (this does not resolve it completely as it is a global static class.
 - we implemented our own wrapper as a dll, and its i used on several project for the same Recurly account - easier to centralize the configuration

Thx

[2017-09-06 23:17] bhelx commented on #242
@daniel-camilyo Have you tried the solution worked out in #162 ?

[2017-09-06 23:27] daniel-camilyo commented on #242
Well i did implemented #162 that is where i get my exception.

However digging there i found #189 who give idea to workaround the singletin issue

[2017-09-06 23:30] bhelx commented on #242
Sorry for the confusion, I should update the README to be a little more clear on how to do this. Were you able to get it to work?

[2017-09-06 23:40] daniel-camilyo commented on #242
Again it works, from start, - i mean there is null exception inside Initialize - but it is still working.
I just thought it was worth mentioning

[2017-09-06 23:55] 1TheMuffinMan commented on #242
@daniel-camilyo You said it was working so this probably won't be the issue, but I notice your first variable is called `privateKey` which I'm assuming is actually your API key, and not the Recurly JS private key?

The `Initialize` method excepted arguments in this order:

`public static void Initialize(string apiKey, string subdomain, string privateKey = "", int pageSize = 200)`

[2017-09-07 00:10] bhelx commented on #242
@daniel-camilyo I guess I misunderstood the part where you said it was still working. Are you just catching and ignoring the exception?

We can try to reproduce this.

@1TheMuffinMan I'd assume it's the right key considering he is actually getting data back.

[2017-09-07 00:16] daniel-camilyo commented on #242
I am using
[cid:image001.png@01D32787.B849AA20]

It is call in your bac end private api key, so I called it effectively private in  my code

From: Nicholas Lechnowskyj [mailto:notifications@github.com]
Sent: Thursday, September 7, 2017 2:55 AM
To: recurly/recurly-client-net <recurly-client-net@noreply.github.com>
Cc: Daniel Yaghil <daniel@camilyo.com>; Mention <mention@noreply.github.com>
Subject:

[2017-09-07 00:25] bhelx commented on #242
Okay, I've tried a few different ways to reproduce but cannot. Here is my code:

[code]

I have no settings in my `App.config`:

[code]

@1TheMuffinMan Are you able to reproduce?

[2017-09-07 00:38] 1TheMuffinMan commented on #242
@bhelx No I am not able to reproduce it using that code.

@daniel-camilyo Are you able to jump on a screen share so that I can see where the null reference exception is coming from?

[2017-09-07 00:39] bhelx commented on #242
@daniel-camilyo is this only happening in a multithreaded environment? I assume you have two recurly accounts and are trying to call both from the same application.

[2017-09-10 11:06] 4nonym0us commented on #152
I see that the issue is old a bit, but .NET Core support is getting more important (especially when .NET Core 2.0 was already released and platform seems to be much more mature then it used to be a year ago).
I've checked the repo and  It looks like that the only thing that need to be changed to support netcoreapp2.0 targeting framework is upgrading setting management. There will be no more possib

[2017-10-24 14:46] jjwhite opened #249 "No way to redeem gift cards?"
It would appear that there is currently no way to redeem a gift card using the .NET client?  I noticed that the documentation does not show a C# option (https://dev.recurly.com/docs/redeem-gift-card) and I don't see anything in the GiftCard.cs file that would indicate that you can currently redeem with this library.  Am I missing something or is this a feature that is still pending.

[2017-10-24 15:47] bhelx commented on #249
@jjwhite We still find missing features occasionally. I will take a look at this today and if needed, I'll submit a PR.

Also, I should note that if you are attempting to redeem a gift card as part of a signup or a purchase, you should consider looking at the new `/purchases` endpoint: https://dev.recurly.com/docs/create-purchase

It's an all-in-one endpoint for subscriptions, adjustments, redempt

[2017-10-24 15:52] bhelx commented on #249
So, I'm looking at [PR #241](https://github.com/recurly/recurly-client-net/pull/241) for GiftCard support. It does look like we missed that endpoint. I will put this on my schedule for today.

[2017-10-24 17:09] bhelx commented on #249
@jjwhite Let me know if #250 looks good to you

[2017-11-03 21:22] BenGoldberg opened #255 "'DinersClub' credit card type missing from enum"
Hi there. In the process of testing out some credit cards, we tried one of the sandbox Diners Club numbers. However, we get an exception when trying to grab the billing info for that account, and I believe it's because 'DinersClub' isn't in the CreditCardType enum list. The exact exception we're getting is provided below.

System.ArgumentException: Requested value 'DinersClub' was not found.
 at S

[2017-11-03 21:45] bhelx commented on #255
Thanks so much, I will submit a PR to address this first chance I get.

[2017-11-03 21:46] bhelx commented on #255
It looks like you are correct for what it's worth: https://github.com/recurly/recurly-client-net/blob/5b23381d50ca2fa47a908e62b34ce0c57c696d8e/Library/BillingInfo.cs#L11

[2017-11-08 13:31] bjornmuh opened #256 "Missing enum value for Revenue_schedule_type in Adjustment.cs: "at_invoice""
From documentation it seems it should be possible to set asjustement to be processed at the time of
invoicing using the RevenueScehdulingType = AtInvoice.
That seems to be missing as an enum value

[2017-11-10 09:15] sk8main opened #257 "Missing source code for version 1.3.2"
First of all thank you very much for the work on this repo. It has helped me greatly.

Over a year ago I had to create a fork of this library to add some additional functionality which I required and was missing from this version.

We received a [security warning](https://dev.recurly.com/v2.8/page/net-updates) from Recurly informing us that we need to update our versions of the recurly-client-net

[2017-11-10 12:09] rachelquick commented on #257
Hi Russell,
You can find the code at https://www.nuget.org/packages/recurly-api-client/ Let us know if you have any trouble!

[2017-11-10 17:02] bhelx commented on #257
@sk8main The binaries are available on nuget, but not the source. We will be releasing the source to this repo soon but I'd suggest you contact support and they can get you a copy of the source you need.

[2017-11-10 17:03] #257 closed

[2017-11-10 21:57] bhelx commented on #257
@sk8main if you have not seen it yet, the release was pushed here:
https://github.com/recurly/recurly-client-net/releases/tag/1.3.2
The `1.3.X` branch is here: https://github.com/recurly/recurly-client-net/tree/release_1_3

[2017-11-13 19:47] bhelx commented on #256
I'll have a fix for this in the next release.

[2017-11-16 00:32] bhelx opened #259 "revenue_schedule_type spelled incorrectly"
This commit https://github.com/recurly/recurly-client-net/commit/cef02a8317f69561039a1769b2018c90ee4618e6 somehow changed the spelling of every instance of `revenue_schedule_type` to `revenue_schedule_tye`.

[2017-11-20 23:32] CodingGorilla commented on #152
Seems like this hasn't moved much, but there are two possible implementations for .NET Core?  We are getting ready to port our applications to .NET Core, so I was wondering what the status on this is.

[2017-11-20 23:37] bhelx commented on #152
We haven't made up our mind just yet. It would be great to have but is an issue of backwards compatibility and priority. I'm expecting .NET Core support in the next major version of the library but that could be next year at earliest (and will likely not be backwards compatible). I'm still open to looking at PRs and continuing the conversation. No one at Recurly is actively working on it at the mo

[2017-11-20 23:38] bhelx commented on #152
@4nonym0us I was made to believe it would take more than that to upgrade, however if that is what is holding you back, I'd be happy to merge any PRs you need.

[2017-11-21 01:02] CodingGorilla commented on #152
@bhelx I really don't think backwards compatibility with the current version is really possible, particularly because .NET Core is primarily async (where feasible) as mentioned @kkbxxi.  My personal opinion is that this is likely the way things _should_ be in the .NET core world and thus warrants a completely separate client (e.g. a `Recurly.NETCore v1.0.0`).  If you don't write one, I will for ou

[2017-11-21 14:18] 4nonym0us commented on #152
@bhelx As far as I know, there is only one option to support full backward compatibility, which is achieved by developing on .NET Standard and targeting multiple frameworks and using conditional project references (if required) like this
[code]
and using pre-processors to handle the 'platform things'
[code]
Building such a project will result in a set of multiple NuGet-packages for every platform

[2017-11-29 16:16] jjwhite opened #261 "BalanceInCents is 0 after redeeming"
After I call  `giftCard.Redeem(accountCode)`  The BalanceInCents property is set to 0 even after a successful redemption.  I would expect this to be equal to the balance listed on the gift card details page?

[2017-11-30 20:03] bhelx commented on #261
@jjwhite The reason is that it's `null` in the xml but the property is not nullable (thus it defaults to 0). I've made PR #263 to more accurately reflect this case.
As for why it's null, I believe the `BalanceInCents` refers to the balance left on the card. After redemption the balance has been applied to the account. If you want to know the amount that was redeemed I think you want to look at `Un

[2017-12-01 18:38] #259 closed

[2017-12-01 19:28] #255 closed

[2017-12-07 19:52] elliottbernstein opened #267 "Unable to set the product_code field when creating adjustment object"
Per one of our merchants, they are unable to set the product_code field when creating an adjustment object. They have suggested the changes found in the following screenshots to address this:

![unnamed](https://user-images.githubusercontent.com/17715697/33735761-1adbab40-db45-11e7-9ef3-b20d53dbd04f.png)

![unnamed-1](https://user-images.githubusercontent.com/17715697/33735766-1eb21c86-db45-11e7-9

[2017-12-11 14:08] jjwhite commented on #261
@bhelx Is there another way to know if the gift card has been successfully redeemed if the balance is not being updated upon redemption?

[2017-12-11 23:20] BenGoldberg opened #269 "Bug with creating an adjustment"
I saw the below stack trace in the logs recently. This was using 1.9. We were previously using 1.8.1 and had no issues with it, so this appears to be a new bug related to the latest release.

[code]

[2017-12-15 05:49] #269 closed

[2018-01-13 00:41] BenGoldberg commented on #269
Is this fix included in the latest release of the NuGet build? If not, when will it be released?

[2018-01-23 04:48] bhelx commented on #269
@BenGoldberg This fix is available in release [1.9.1](https://github.com/recurly/recurly-client-net/releases/tag/1.9.1)

[2018-02-13 07:09] kirti-bhardwaj-onebcg opened #273 "Issue in CouponRedemption's 'UpdatedAt' property"
The value of CouponRedemption's 'UpdatedAt' property is always incorrect (0001-01-01)

[2018-02-13 07:13] kirti-bhardwaj-onebcg opened #274 "Issue in Coupon's 'Id' property"
The value of Coupons's 'id' property is shown as 0 always.

[2018-02-13 07:17] kirti-bhardwaj-onebcg opened #275 "Invoice's List method is not provided with FilterCriteria parameter"

[2018-02-20 12:52] NanashiGIT commented on #275
Hello,
could you please add the filterCriteria to the "GetAdjustments" method aswell?

We plan on using it but the current implementation doesn't allow the filtering we need. (e.g. begin_date and page size).

Thanks in advance!

[2018-02-20 17:29] bhelx commented on #275
@NanashiGIT Sure, I plan to work on this this week.

[2018-02-23 17:44] bhelx commented on #249
Closing with #250

[2018-02-23 17:44] #249 closed

[2018-03-01 03:40] bhelx commented on #274
Which version of the library are you experiencing this on?

[2018-03-01 03:53] kirti-bhardwaj-onebcg commented on #274
It is in the 1.9.1 version of library.

[2018-03-01 13:13] pshastov opened #276 "Account Acquisition"
Do you have plans to support Account Acquisition?
I can build it

[2018-03-01 16:26] bhelx commented on #276
@pshastov It's not in my pipeline. It's a pretty simple feature though. If you want to give it an attempt, I'll happily review or provide assistance.

[2018-03-01 17:22] NPSF3000 commented on #152
Any update on this?  It's 2018 and .net core is far more mature, supported... and starting to become a business necessity for us.

[2018-03-01 20:06] bhelx commented on #274
Thanks, I'm seeing if I can reproduce this now.

[2018-03-01 21:53] #274 closed

[2018-03-01 21:54] bhelx commented on #274
The fix will go out in the next release. Look for the link back here. Thanks so much for pointing this bug out!

[2018-03-01 21:58] #273 closed

[2018-03-01 21:58] #275 closed

[2018-03-01 21:58] bhelx commented on #275
This fix will go out in the next release and will link back here.

[2018-03-01 21:59] bhelx commented on #273
This fix will go out in the next release and will link back here.

[2018-03-04 16:59] pshastov commented on #276
@bhelx here it is https://github.com/recurly/recurly-client-net/pull/279

[2018-03-05 04:13] bhelx commented on #276
@pshastov Thanks for taking this on!. I'll review it and get it into the next release.

[2018-03-06 21:45] bhelx commented on #276
Closed with #279

[2018-03-06 21:45] #276 closed

[2018-03-22 09:00] kirti-bhardwaj-onebcg opened #284 "Exception in Invoice's List & Get methods"
All the Invoice's List & Get methods throw an ArgumentException - 'Requested value 'Mn' was not found'.
(The value in exception may vary)

[2018-03-22 09:02] kirti-bhardwaj-onebcg opened #285 "Account 'closed_at' property not found"
'closed_at' property in 'Accounts' table is not present in the library, but is present in the API.

[2018-03-29 20:26] bhelx commented on #256
Sorry, it looks like I missed this fix before. It will be going out in the next release.

[2018-04-05 10:35] davidgeary opened #292 "Updating a BillingInfo instance ignores the Company value"
The `Company` property is currently being ignored when saving a `BillingInfo` (which appears to result in any existing value being cleared on the server).

See PR #291 for suggested fix.

[2018-04-09 20:38] bhelx commented on #284
@kirti-bhardwaj-onebcg I had an idea of what was wrong here but I cannot reproduce. Could you tell me what version of the client you are using and maybe what the corresponding xml is that breaks the parser?

[2018-04-10 16:28] #292 closed

[2018-04-12 16:11] #267 closed

[2018-04-12 16:11] #285 closed

[2018-04-13 19:08] NPSF3000 commented on #152
@bhelx any update?

I'm about to recommend we encapsulate this legacy code in a microservice... which is an expensive solution but might become necessary if .Net Core support is not forthcoming.

@4nonym0us one option would be for recurly to create a RecurlySettings class, we could then use the OptionsManager to DI in an IOptions<RecurlySettings>.  That way as a programmer I don't have my librarie

[2018-04-13 20:46] 4nonym0us commented on #152
@NPSF3000 using IOptions would bring ASP.NET Core as a dependency, which isn't the best thing to do for such a client library like recurly.

[2018-04-20 13:29] Sire opened #294 "Add a Transaction.GetSubscription() (nullable) method"
Doesn't all (or at least almost all) transactions have a subscription?  There is no `Transaction.GetSubscription()` method, even though the subscription uuid is sent with every webhook that includes transactions.
It can return a nullable Subscription and return null for edge cases where no subscription exists.

An invoice can also have several subscriptions (in theory, I've never seen it), so we w

[2018-04-20 13:30] rachelquick commented on #294
Hi Sire - not all transactions will have a subscription. There are one-time purchases and verification transactions that will not be related to a subscription UUID.

Our support team (support@recurly.com) can provide more details if you want us to look at specific items.

[2018-04-20 13:37] Sire commented on #294
Thanks Rachel. In our case there is always a subscription, and getting it from a transaction is needlessly complex. A nullable GetSubscription() method or nullable Subscription property would be great. Please consider this.
You've solved it like this in the past, for instance the nullable Transaction.Invoice property.

[2018-04-20 13:38] rachelquick commented on #294
It'd be great if you can submit this to support@recurly.com, so we can formally track this as a feature request and get you updates. In the meantime, I'll mark this issue closed.

[2018-04-20 13:38] #294 closed

[2018-04-20 16:32] bhelx commented on #284
Going to close until we can reproduce. Please feel free to re-open.

[2018-04-20 16:32] #284 closed

[2018-04-23 14:44] drewish commented on #294
One small note, in recent versions of the API it's now a plural subscriptions since the purchases endpoint allows multiple subscriptions to be purchased in one transaction.

[2018-04-24 07:05] kirti-bhardwaj-onebcg opened #295 "Re-Open #284 : Exception in Invoice's List & Get methods"
@bhelx FYI
We are using the 1.11.0 version of Client Library. Please find the attachment of corresponding XML of an invoice.
 [XML_Invoice.txt](https://github.com/recurly/recurly-client-net/files/1941259/XML_Invoice.txt)

[2018-05-07 04:45] PaulPower1 opened #296 "Sandbox Rate limit being exceeded when making unnecessary api requests to get "AccountCode" for each subscription"
Support case ref:_00DU0INRq._5000Bhwms3:ref

Hi There,

Using the Recurly .Net client library v1.9.1, we are striking a rate limit issue when retrieving all subscriptions via RecurlyList<Subscription>.All and then querying the subscription.Account object for each subscription to get the "accountcode" (which is a private property of the "Subscription" class).

Given "AccountCode" is a public proper

[2018-05-17 19:57] bhelx commented on #296
Closed with #297

[2018-05-17 19:57] #296 closed

[2018-05-25 01:36] PaulPower1 commented on #296
Thankyou very much @bhelx - can I ask what the schedule is for making this available in a nuget release?

Paul

[2018-06-12 05:44] unnijeevan opened #304 "usage id on Get usage"
As per the end point documentation you need only 2 parameters for Get request of an Usage record object
https://dev.recurly.com/v2.2/docs/usage-record-object

But in the .Net client  it is asking for a usage id of type long
public static Usage Get(string subscriptionUuid, string subscriptionAddOnCode, long usageId);

I can get the list and get first or default as a work around but wondering what i

[2018-06-12 19:42] drewish commented on #304
The application we use for our docs has some limitations for describing the format of responses. We'd tried to work around that by putting in some "Object" pages that document response using the tool's input format... I think, as demonstrated by your question, it causes more confusion than it is worth. The  correct link for the method you cited is https://dev.recurly.com/v2.2/docs/lookup-usage-rec

[2018-06-13 06:01] unnijeevan commented on #304
Thanks @drewish . So basically I tried creating a usage using subscription uuid and addon code which I suppose is same as the Post end point .  Later when  I try to get the addons for the same subscription and addon using the list end pint , the  Id property of the usage object is null.  I can't really call the  https://dev.recurly.com/v2.2/docs/lookup-usage-record with null usage id.

Is Id of th

[2018-06-13 06:08] bhelx commented on #304
@unnijeevan `Id` should be a property on the Usage object, although our code seems to be parsing it in a strange way: https://github.com/recurly/recurly-client-net/blob/5ecf8d8847a91173e3093ef5c6b855fc87cdfac7/Library/Usage.cs#L108

I believe this is because Id was not provided as an xml attribute at the time.

Could you perhaps tell us which version of the .NET library you are using and show some

[2018-06-13 06:22] unnijeevan commented on #304
@bhelx
I am using 1.12 version
The code is something like
  var usages = Recurly.Usages.List(subUuid, addonCode);
[code]

[2018-06-13 17:20] bhelx commented on #304
@unnijeevan please see #305 for the fix.

[2018-06-13 23:05] unnijeevan commented on #304
@bhelx
Thanks , I will wait for the request to be merged and package to be built

[2018-06-14 16:31] bhelx commented on #304
@unnijeevan thanks again for reporting. I'm aiming to merge a couple bug fixes and do a patch-level release next week.

[2018-06-21 00:03] #304 closed

[2018-06-22 19:03] bhelx opened #308 "RefundMethod enums should be serialized using transport case."
Invoice.RefundMethod is not properly serializing as camel case.

Current:
`RefundMethod.CreditFirst -> creditfirst`

What we want:
`RefundMethod.CreditFirst -> credit_first`

Reported Error:

[code]

[2018-06-22 19:20] #308 closed

[2018-06-26 16:38] jamesbar2 opened #312 "Subscription.Coupon throws an ArgumentNullException, if _couponCode is null."
When calling [`Subscription.Coupon`](https://github.com/recurly/recurly-client-net/blob/master/Library/Subscription.cs#L202), the Recurly client will make a request to fetch the coupon, even if the underlying `_couponCode` is null.  This might not be an issue, except while forming request in [`Coupon.Get(couponCode)`](https://github.com/recurly/recurly-client-net/blob/master/Library/Coupon.cs#L538

[2018-06-26 17:32] bhelx commented on #312
@jamesbar2 I think you are correct. It should have a case for when `_couponCode` is null. I'd be happy to review any PR you make for this. If you don't have time to get to it, I can put this in my backlog as well.

[2018-06-26 17:43] jamesbar2 commented on #312
@bhelx I just forked it and am making the change now.  I assume `Coupon` should just return null.

[2018-06-26 18:21] bhelx commented on #312
Yeah, that sounds good.

[2018-06-26 18:44] jamesbar2 commented on #312
@bhelx Posted a PR for it, #313.  Let me know if you'd like anything changed.  Thanks for your help.

[2018-06-26 18:46] bhelx commented on #312
@jamesbar2 we really appreciate you taking this on. I have a release planned for today. I'll see if i can squeeze this feature in.

[2018-06-26 18:48] bhelx commented on #312
Closed with #313

[2018-06-26 18:48] #312 closed

[2018-06-26 18:50] jamesbar2 commented on #312
Thanks @bhelx, happy to help 😄

[2018-06-27 00:34] bhelx opened #315 "Issue parsing Account#billing_info"
It appears that #306 caused a regression bug. We should only parse BillingInfo if it's embedded, not if it's a link.

[2018-07-03 22:19] adeelhasan opened #318 "Exception when card type is nil"
In BillingInfo.cs

CardType = reader.ReadElementContentAsString().ParseAsEnum<CreditCardType>();

fails when credit card type is nil. This started happening very recently (about a week ago.) I have put a null check around this to get it to work and can submit, but were there any changes in the main recurly api that would cause this to start happening?

[2018-07-04 02:31] drewish commented on #318
Are you checking the billing info type? For instance PayPal and ACH billing info won't have a card type.

[2018-07-05 11:35] adeelhasan commented on #318
not checking the card type explicitly, but the failure is when there is a valid card type ... oddly enough, seems to be failing for Visa / MC / Discover, and not for Amex.

I am not passing the card type when setting the billing info, previously this was working fine. That said no one else is reporting the problem, so the probability of it being something at my end is very high.

[2018-07-05 12:44] drewish commented on #318
Could you provide a little example code to show how you're accessing the billing info? I'm wondering if it's an issue with another object that nests the billing info inside it.

[2018-07-05 15:51] adeelhasan commented on #318
sure, let me also get the xml that comes back, so that you can have the full information. will do so by end of day. thanks.

[2018-07-09 17:35] adeelhasan commented on #318
hi, I see that you have checked in accounting for the possibility of a null ... to circle back though, the card type had been read in as whitespace when the problem happened. it happened for an account which had no billing info entered as yet. Once I enter some billing info, even though I subsequently clear out the billing info, it no longer comes back as whitespace.

thanks for your attention, ca

[2018-07-09 17:35] #318 closed

[2018-07-09 20:19] bhelx commented on #318
Thanks for updating us @adeelhasan . Sorry about this issue.

[2018-07-09 20:34] bhelx commented on #152
@jamesbar2 I'm happy to take any PRs that can help ease the pain on this library. We'll just need to thoroughly test them.

Everyone: .NET Core support is not currently on our roadmap for this library. We do have plans for a new, less fragile .NET library written from the ground up with .NET core support. If you are interested in this, please email us with the subject "V3 .NET Beta"  achapello@rec

[2018-07-12 02:43] sk8main commented on #152
It would be really helpful if this library was updated to target .NET Core. For our project this library is the library holding us back from moving to .NET Core. Please, please update

[2018-07-16 17:20] drewish commented on #152
@sk8main I'd encourage you to drop an email to the addresses listed on https://github.com/recurly/recurly-client-net/issues/152#issuecomment-403611308

[2018-09-06 02:40] sk8main opened #331 "ArgumentException parsing enum in Billing Info"
Hello. I am using recurly-client-api version 1.11.3 in a current project. Today it was reported that a customer kept receiving errors when trying to update their BillingInfo (the method we are calling is Recurly.BillingInfo.Update). I have checked our logs and have seen that this error has occurred 5 times in the last 30 days (twice while trying to create/update a subscription). Obviously we don't

[2018-09-06 20:05] aaron-suarez commented on #331
Hey there @sk8main, I looked into the issue. Based on your stack trace, it seems as though there's an empty or null value being passed to your client for one of the three following XML tags:
`card_type`
`account_type`
`external_hpp_type`

These should never be empty or null after updating an account's billing info. I suspect there's some bad data in the database for the account in question, but wi

[2018-09-07 05:55] sk8main commented on #331
Thank you very much for your response @aaron-suarez. I will create a support ticket with Recurly with the additional information.

[2018-09-12 18:08] bhelx commented on #152
Hey everyone, we still do not have plans to officially support .NET core with this library, but @aaron-suarez and myself have spent some time getting development of this library to work on macos using mono and these changes have made it possible to use this library from .NET core. Two things are needed:

1. Make sure you are using [this static method](https://github.com/recurly/recurly-client-net/

[2018-09-12 18:08] #152 closed

[2018-09-13 02:13] unnijeevan opened #338 "Datetime Parsing not utc"
https://github.com/recurly/recurly-client-net/blob/60e750f075a3c5ce2ca5f4574c593edfaa83ba57/Library/Usage.cs#L140

Currently  I am trying the following code to update the amount for usage based addons
[code]
I think the issue is that Datetime.Parse used to get recording timestamp and usage time timestamp doesn't return date in UTC . However when in the WriteXML it is just converted using DatetimeT

[2018-09-13 16:18] aaron-suarez commented on #338
Hey there @unnijeevan! I'll take a look at this and see if I get the same behavior. If so, we'll take a look and see if we can find a solution

[2018-09-28 17:53] aaron-suarez commented on #261
@jjwhite I don't know if you're still experiencing issues with the BalanceInCents being 0 after redemption. I was not able to reproduce this behavior on the latest version of the API (v2.15)

I checked with the team responsible for gift cards and they confirmed that the best way to check if a gift card has been successfully redeemed is to look at the `RedeemedAt` property. This property will be nu

[2018-10-03 18:03] duranmg opened #344 "Error when updating with the PlanIntervalUnit = IntervalUnit.Days"
I am using .net client 1.13.1
When I update a Plan with IntervalUnits.Months it works fine...butwhen I change to IntervalUnit.Days I get an error.

The information being saved is not valid.
   at Recurly.Client.PerformRequest(HttpRequestMethod method, String urlPath, WriteXmlDelegate writeXmlDelegate, ReadXmlDelegate readXmlDelegate, ReadXmlListDelegate readXmlListDelegate, ReadResponseDelegate re

[2018-10-03 18:47] aaron-suarez commented on #344
@duranmg I'll be happy to take a look at this for you. Do you happen to have a code snippet you can share so I can try to reproduce this error?

[2018-10-03 18:48] #261 closed

[2018-10-03 18:57] aaron-suarez commented on #331
@sk8main Are you still experiencing this issue? If not, I would like to close out this Github issue.

I haven't heard anything from you or support regarding this, so I presume it's no longer a problem

[2018-10-04 15:37] bhelx commented on #331
@sk8main please re-open if it's still an issue. We'll make sure it gets fixed and put into the next release for you.

[2018-10-04 15:37] #331 closed

[2018-10-10 19:13] aaron-suarez commented on #344
Hi @duranmg. I went ahead and tried to reproduce this error on my own. Here's my code snippet:

[code]

I then ran this

[code]

Both worked on my sandbox site how I have it configured. Is there any additional information or code snippet(s) you can provide to help me reproduce the problem?

[2018-10-10 20:55] aaron-suarez commented on #344
I did a little more digging. I think that your error has something to do with the last Release Note for v2.13:

[code]

https://dev.recurly.com/page/api-release-notes#v213-release-notes

I think that I was using an older version of the API when I did that test I described above. As far as I know, you're not supposed to be able to change the interval after a plan is created. If you need to update a

[2018-10-10 20:55] #344 closed

[2018-10-10 22:11] #338 closed

[2018-10-15 18:39] aaron-suarez commented on #242
Closing this because we cannot reproduce. Feel free to re-open if you can provide some example code that reliably reproduces the issue.

[2018-10-15 18:39] #242 closed

[2018-10-15 18:42] aaron-suarez commented on #142
We're not going to implement the HREFs at this time for this library. Closing this and the related PR.

[2018-10-15 18:42] #142 closed

[2018-10-16 00:08] bhelx commented on #119
There hasn't been any progress on this in over a year and we aren't planning on making any major changes to this library. If Async support is something you are interested in, I'd suggest contacting us about the V3 Beta which supports dotnet core and async requests. See [this comment](https://github.com/recurly/recurly-client-net/issues/152#issuecomment-403611308) about getting on the beta.

[2018-10-16 00:09] bhelx commented on #119
There hasn't been any progress on this in over a year and we aren't planning on making any major changes to this library. If Async support is something you are interested in, I'd suggest contacting us about the V3 Beta which supports dotnet core and async requests. See [this comment](https://github.com/recurly/recurly-client-net/issues/152#issuecomment-403611308) about getting on the beta.

[2018-10-16 00:09] #119 closed

[2018-10-24 17:09] stweedie opened #348 "Provide mock-ability for exceptions in testing"
Trying to test something similar to the following:
[code]

but am currently unable to do so because I can't mock the NotFoundException.

Can you make the recurly exceptions have protected constructors instead of internal ones?

[2018-10-24 22:21] aaron-suarez commented on #348
Hey there, @stweedie! Thanks for pointing this out.

If you would please open a PR, we will surely merge it in for you! If you change the access modifier for one constructor, please keep it uniform by making all of the exceptions public.

All of the exceptions are here:

https://github.com/recurly/recurly-client-net/blob/master/Library/Exception.cs
https://github.com/recurly/recurly-client-net/blo

[2018-11-29 22:05] aaron-suarez commented on #295
@kirti-bhardwaj-onebcg Is this still a problem for you? If you're no longer seeing an exception that you can copy and paste into a comment on this issue, I'm going to go ahead and close it out as it is unactionable.

[2018-11-30 17:19] #146 closed

[2018-11-30 20:04] aaron-suarez commented on #348
Closed by #350

[2018-11-30 20:04] #348 closed

[2018-12-07 17:38] aaron-suarez commented on #214
I tried to reproduce this issue on the current version of the library and API, and it does not seem to be an issue anymore. It's very possible that it was fixed when we made the move from `next_renewal_date` to `next_bill_date`. I did, however, notice that if you pass in a DateTime with `DateTimeKind == Local`, the API still treats that as a UTC date. This problem was solved for `Usage`'s DateTime

[2018-12-10 23:57] #214 closed

[2018-12-14 21:45] #157 closed

[2019-01-02 21:48] aaron-suarez commented on #295
Closing this out as inactionable. Please feel free to re-open with more information and the exception text.

[2019-01-02 21:48] #295 closed

[2019-01-30 14:59] PashaSk opened #371 "Transaction does not contain data about TransactionError"
I have a transaction that was declined due to fraud_risk_check. I can see <transaction_error> node inside XML output of an API call https://<env>.recurly.com/v2/transactions/:uid but Transaction.ReadXml method does not parse this fields.
Have you any plans to implement this or is there any way to get this error_code with error messages?

`<transaction_error>
<error_code>fraud_risk_check</error_cod

[2019-01-30 18:53] aaron-suarez commented on #371
@PashaSk Thank you for bringing this to our attention. I'm not sure if this fixed the problem or not, but recently I fixed a bug where the TransactionError is not included in the `ToString` of a Recurly Exception. Check out the diff here:

https://github.com/recurly/recurly-client-net/pull/368/files#diff-62a718478cb7ddabdd857f41b636a8a1R54

This is not released yet, but it's scheduled to go out in

[2019-01-30 20:11] PashaSk commented on #371
@aaron-suarez  thanks for your reply!
I guess this won't help me. Let me rephrase the question.
Once I get a Transaction model by calling:
`var transaction = Transactions.Get(<some uid>);`
I get the model Transaction which does not contain specific information about "fraud_risk_check". I can see necessary for me fields in API call output, but Transaction.ReadXml method won't parse them to any mode

[2019-01-30 20:15] aaron-suarez commented on #371
Ah, yes that does help. I will go ahead and look further into this and see about finding a solution. If you have a solution in mind, feel free to open a PR and I'd be happy to review and merge it. If not, I'll open one when I find a solution. 😄

[2019-01-31 09:21] PashaSk commented on #371
@aaron-suarez  please review my PR https://github.com/recurly/recurly-client-net/pull/372

[2019-02-04 16:43] aaron-suarez commented on #371
Closed via #372

[2019-02-04 16:43] #371 closed

[2019-02-07 07:48] fated-x opened #375 "Release 1.15.0 GetSubscriptions() Throws Error When There's A Usage Based Add-On of Type "Price""
**Release 1.15.0** introduced a bug that only occurs when calling **Recurly.GetSubscriptions()** where 1 or more of the returned subscriptions has a usage based add-on attached to it.

The bug is in the **SubscriptionAddOn** class in the **ReadXml** function (see below)  and the offending section is that final case statement. You see, when the usage_type = “price”, the XML returned for usage_perce

[2019-02-07 15:32] aaron-suarez commented on #375
Thank you for reporting this. We'll make that nullable and get a release out ASAP.

[2019-02-07 21:16] #375 closed

[2019-02-07 21:53] aaron-suarez commented on #375
@fated-x Please feel free to upgrade to 1.15.1 https://www.nuget.org/packages/recurly-api-client/1.15.1

Thanks again for reporting the issue. If you notice any more issues, please feel free to open another issue in this repo.

[2019-03-05 16:58] tuhland opened #379 "Subscription change issue"
There are some dangerous issues with the way the _SubscriptionChange_ object works.

If you take this code, for example:

                var change = new SubscriptionChange
                {
                    TimeFrame = SubscriptionChange.ChangeTimeframe.Now,
                    NetTerms = 30,
                    PoNumber = "12345"
                };

                ChangeSubscription(subscri

[2019-03-06 16:52] aaron-suarez commented on #379
@tuhland Thank you for reporting this. Looking into the issue 👀

[2019-03-06 17:28] PashaSk opened #380 "RecurlyList -> RemoveAll"
Is there any reason why you are keeping RemoveAll method of RecurlyList internal?
https://github.com/recurly/recurly-client-net/blob/master/Library/List/RecurlyList.cs#L172

We have a scenario where we need to remove addons from SubscriptionAddOnList with Quantity == 0. However, we can't do it in clear way:
`addons.RemoveAll(a => a.Quantity == 0);`

[2019-03-06 17:46] aaron-suarez commented on #380
I don't see any uses of `RemoveAll` internally, the only thing that comes up in a search is the declaration of the method. There may have been plans for it, but if so, it was never actually implemented.

I'll have to look into the implications of making it public, but I don't see any immediate issues with it. Feel free to open a PR and I'll be happy to review it.

[2019-03-07 00:24] bhelx commented on #380
The history behind it is a little mysterious: https://github.com/recurly/recurly-client-net/commit/f7742a99776dc67e12e8a069f4e50a658adcafc3

It almost appears as if they were meant to be public.

[2019-03-07 07:50] PashaSk commented on #380
What about other List methods? e.g.
internal bool Remove(T item);
internal void Sort();
internal void Sort(Comparison<T> comparison);
internal T[] ToArray();
internal void Reverse(int index, int count);

Could we made them public?

[2019-03-07 16:48] aaron-suarez commented on #380
They seem like they would be useful as public. And I agree, it seems like they were added in for the tests, but it didn't occur to the original author that users might find these methods useful too. Who knows. If you open a PR with all of those methods public, I would be fine with that.

[2019-03-07 18:50] aaron-suarez commented on #379
@tuhland I have confirmed the problems that you describe. I want to point out that it looks like these problems existed before the SubscriptionChange objects were introduced, but I agree that these should be fixed. In the case of subscription add-ons, we should be able to just make it nullable and ensure that the XmlWriter doesn't write a tag unless it contains a value.

As for net terms and PO nu

[2019-03-07 21:08] bhelx commented on #380
Let's be selective about which ones we open if possible. It's risky because `RecurlyList<T>` is used for pageable lists as well: https://github.com/recurly/recurly-client-net/blob/master/Library/List/AccountList.cs#L5

Ideally I'd say these need to be two different classes. Like, suppose we have some other kind of `editable` list that we extend on top of `RecurlyList<T>` that exposes the methods.

[2019-03-07 21:12] bhelx commented on #380
Also keep in mind that exposing methods like `Sort` on the pageable lists might also be confusing to the programmer since they don't actually apply any kind of sorting to the server request.

[2019-03-07 21:16] bhelx commented on #380
One compromise might be to just expose them in the place they are needed: https://github.com/recurly/recurly-client-net/blob/master/Library/List/SubscriptionAddOnList.cs
still, open to other suggestions.

[2019-03-09 00:27] #379 closed

[2019-05-04 20:30] bhelx commented on #152
Everyone: Wanted to drop a follow up in here. The next major version of our API and this library is underway. We've released the new dotnet client as part of our "Early Access" program and it supports dotnet core as well as async calls. If you are interested in trying it out, you can find some information here: https://dev.recurly.com/v2.19/page/recurly-v3-api-early-access
I'd also suggest you ema

[2019-05-04 20:30] bhelx commented on #119
Everyone: Wanted to drop a follow up in here. The next major version of our API and this library is underway. We've released the new dotnet client as part of our "Early Access" program and it supports dotnet core as well as async calls. If you are interested in trying it out, you can find some information here: https://dev.recurly.com/v2.19/page/recurly-v3-api-early-access
I'd also suggest you ema

[2019-05-07 18:49] jamesbar2 commented on #152
@bhelx I asked some of the people who work with your client and this is one of the replies.

[2019-05-07 18:58] bhelx commented on #152
@jamesbar2 That's a good suggestion. The new client does directly expose the Client class right now, but we do have plans for an interface.

Also, we're in a stage of collecting feedback for any interface / design suggestions we can make before we go out of beta (release 3.0.0). Feel free to reach out to us with any other suggestions and we'll prioritize getting them in before we go GA.

[2019-05-08 00:20] BrydenOliver commented on #152
@bhelx We have been urgently awaiting this. This is now the only microservice in our solution still stuck on .Net Framework. This is starting to cause serious pain. @PaulPower1 is leading the development effort on our side.

[2019-05-16 13:04] dmcweeney opened #398 "Recurly V3 API GA?"
Hi,

I'm wondering when is it expected that the current beta 3 development will go GA. Specifically interested in the ASP.Net Core implementation.

Thanks

Donal

[2019-05-16 16:43] dsaulet commented on #398
Hi Donal,

We are targeting the end of the year for the v3 API to go GA. However, it is currently available via early access if you'd like to start using it now. Several of our integration partners are currently using it in production. Here's a [link](https://dev.recurly.com/page/recurly-v3-api-early-access) to the Early Access info page which has links to the v3 JSON API documentation as well as

[2019-05-16 22:35] #398 closed

[2019-05-20 10:13] joaopgrassi opened #399 "Plans for .NET Core / Modernizing the project"
We use Recurly in one of our main services, an ASP.NET Web API. Going forward, we are doing efforts to modernize our solution having the ultimate goal of moving to .NET/ASP.NET Core.

That is a very complicated and painful migration but somewhat doable. My research and experience so far as a "first-step" migration have been:

- Migrating project from `packages.config` to `PackageReferences`
- Migr

[2019-05-20 15:10] aaron-suarez commented on #399
@joaopgrassi Thank you for your comment!

The master branch of this repo is the .NET library for V2 of our API which targets .NET Framework. The new V3 API (which, among other differences, uses JSON instead of XML) targets .NET Core.

If you haven't already checked that out, be sure to here https://dev.recurly.com/page/recurly-v3-api-early-access

Just to be clear, is your question based on the V2

[2019-05-20 20:51] bhelx commented on #399
@joaopgrassi We are not going to support dotnet core with this version of the library. We are instead focusing our efforts on the next version (which will also take advantage of our new JSON API). Refer to @aaron-suarez's comment for details on that. If you are interested in trying out the new version of the library, drop us an email and we can provide you with advice: ben@recurly.com, domino@recu

[2019-05-20 20:51] #399 closed

[2019-05-20 20:53] joaopgrassi commented on #399
Hey @aaron-suarez,

Sorry I didn't see that branch. Yes, I was referring to the master branch. I looked briefly at that and it seems much nicer 👍

Just as an idea: Maybe update the README.md on master, to indicate that you guys are working on it. Right now it just says that you don't support it and it seems more or less like an abandoned project. At least that's how I felt and the reason why I ope

[2019-05-20 20:56] bhelx commented on #399
@joaopgrassi We'll be rolling out that messaging soon. Right now we are in a phase of testing and trying to make sure we release the new library with an interface we can confidently support for years to come. We would love to get your feedback on any changes you think should be made with the new version if you find the time.

[2019-05-24 16:16] cpaul747 opened #402 "CreateAccountAsync() does not permit first_name, last_name"
**Describe the bug**

Following the readme to do a simple account creation causes the api to complain about the first_name and last_name fields:

`Validation: Please remove the following unpermitted parameters from your request: first_name, last_name.
`
**To Reproduce**

Steps to reproduce the behavior.
[code]

**Expected behavior**

Account should be created.

**Your Environment**

- Which versio

[2019-05-24 16:32] bhelx commented on #402
@cpaul747 thanks for the detailed report! I can't seem to repro with the sync call. Gonna try the async call. What is the model.Address object?

[2019-05-24 17:25] bhelx commented on #402
@cpaul747 I was able to repro with the account:

[code]

The issue is in the address. I'll take a look at fixing this for the next release. If you want to get past this for the time being, I suggest Not setting the first and last name on the address.

[2019-05-28 18:02] cpaul747 commented on #402
Thanks, I'm just evaluating the platform so the fixes aren't time critical for me.  Thanks for the workaround in the meanwhile.

[2019-05-30 16:29] dmcweeney opened #404 "IHttpClientFactory in V3"
Folks,

Wondering are ye planning to use the new IHttpClientFactory features of Asp.Net Core 2.1 in the V3 refactoring work?

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-2.2

Thanks

Donal

[2019-05-30 18:02] bhelx commented on #404
Thanks for pointing this out. This is a new concept to me so I'll need to do some research. I'm a little hesitant about the idea of letting the programmer control the HTTP layer directly. Although I can see the power in that, my concerns are around compatibility and security.

Did you have any thoughts or opinions about how this could be utilized? Looking forward to doing some more research here.

[2019-05-31 10:28] dmcweeney commented on #404
IMO its more about empowering the developer with the flexibility this approach offers, and of course the benefits that it brings. I don't see there been a security issue as one could always write their own calls against the Recurly rest api services.

I think the underlying problem would be the fact that ye are using RestSharp at the moment, and if RestSharp does not support the IHttpClientFactory

[2019-06-10 20:10] stweedie opened #411 "Add 'protected' to constructors for RecurlyEntity"
This is mainly so that we can properly mock Recurly objects for testing. Without providing a protected (or public) constructor, we are unable to mock several objects. Adding a protected constructor allows the following:

[code]
[code]

Therefore we can test our handling of coupon redemptions.

Note: I have a branch on my personal fork that I can use to open a PR for this issue. I just wasn't sure

[2019-06-11 15:31] stweedie commented on #411
Alternately, and this might be more helpful in general, would you be willing to accept a PR to add interfaces for most recurly entities? Then we could provide our own implementation when needed (for mocking), but it would leave the entirety of the underlying implementation unchanged.

[2019-06-11 16:21] aaron-suarez commented on #411
Hi @stweedie! Thanks for bringing this up. I won't know for sure until we can review the code, but it seems like the original suggestion of making the properties `protected internal` should be just fine, especially if it helps for testing. If you think it would be better to add interfaces, that's an option we can look at as well, but it sounds like it would be more work to get to the same result,

[2019-06-11 17:17] stweedie commented on #411
Alright I have opened a PR for the protected constructors.

I have since realized that there is some difficulty in mocking some of the instance methods, which is why I suggested the interface modification.

[2019-06-11 19:05] aaron-suarez commented on #411
Do you have a code sample of how you would mock it? I'd like to better understand what you're doing so I can verify the solution

[2019-06-11 20:43] stweedie commented on #411
so here would be an example, where we are trying to handle converting from a Recurly invoice to our own custom invoice model (where everything is stored as decimals instead of cents)

[code]

[code]

[2019-06-11 20:57] stweedie commented on #411
This is all assuming of course that interfaces aren't available. In the above case, it would be much more beneficial to have:

[code]

With interfaces, we wouldn't modify any Recurly code, but we would be able to test our interactions with the same structure as the result we would expect from Recurly. Plus, then we can involve covariance

[2019-06-12 17:00] aaron-suarez commented on #411
The solution of having protected constructors would be needed even if we do add in interfaces, correct?

[2019-06-12 19:11] stweedie commented on #411
With interfaces, we could provide our own implementation, so we wouldn't need protected constructors.

[2019-06-12 21:36] aaron-suarez commented on #411
If you feel that the interfaces solution is better overall for your testing and mocking purposes, I'd rather  we go ahead and implement that rather than the protected constructors solution. If you already have these interfaces written, you could go ahead and open that as a PR in lieu of #413. Apologies if it caused more work for you to open the first PR just to do a second PR, but it seems like yo

[2019-06-12 22:05] stweedie commented on #411
It's no problem. I actually did the protected constructors first but then found use cases that were not solved by it.

I'll close 413 and have a new one up in the next few days.

Thanks

[2019-06-19 17:56] subterraneanbob opened #417 "Recurly client legacy configuration issue"
**Describe the bug**

I upgraded Recurly client to the version 1.15.7 (from 1.14.1) and now some methods, like retrieve existing plans, throw exception:

[code]

I use legacy method of configuring with web.config, which I believe is still supported. Also, I am certain that the issue has nothing to do with my configuration as it worked fine with previous versions of the library.

Here is the part o

[2019-06-19 17:59] aaron-suarez commented on #417
Thank you for the detailed bug report @subterraneanbob. We will investigate.

[2019-06-19 18:37] bhelx commented on #404
I agree with that part. I see the value in it.

This is true. However, if someone chooses to write their own version of this library, all support and liability of their dotnet code falls onto them. Since we created this library and it runs in our customer's data-centers, we feel like we have a much higher responsibility to make sure that it's secure, performant, and clear to upgrade. The trade-off

[2019-06-19 18:37] #404 closed

[2019-06-19 18:53] aaron-suarez commented on #417
@subterraneanbob Please note that using the legacy method can be dangerous depending on your setup. The primary problem is that storing your API key in a plaintext file on your server is a very bad idea from a security perspective. An attacker (or a malicious employee) with access to the server can just read the file and start performing operations via the Recurly API. Instead, it is highly recomm

[2019-06-20 15:16] subterraneanbob commented on #417
@aaron-suarez Thanks for your concern. We protect Recruly API key (all sensitive information in fact) by [encrypting web.config with RSA](https://docs.microsoft.com/en-us/dotnet/api/system.configuration.rsaprotectedconfigurationprovider?view=netframework-4.7.2).

[2019-06-20 15:52] aaron-suarez commented on #417
Thank you for the additional context. We will prioritize work on a fix for this issue and have a patch as soon as we can.

[2019-06-28 16:46] #417 closed

[2019-07-01 19:26] aaron-suarez commented on #380
Closing this out due to lack of activity. @PashaSk If you would still like to open a PR, please feel free. If you do, I think it would be wise to take @bhelx's suggestion of only exposing the specific methods you need in the places they're needed. Thanks!

[2019-07-01 19:26] #380 closed

[2019-09-17 12:35] moritzgloeckl opened #444 "Creating a subscription fails with `three_d_secure_action_required` although secure action has been completed"
Hi,

I'm trying to create a subscription, however, it fails with the error code `three_d_secure_action_required` - on new accounts.

First we're trying to setup the `BillingInfo` for the customer. It then fails with `three_d_secure_action_required` which is intended I think. We then let the customer run through the flow and re-create the `BillingInfo` with the correct `ThreeDSecureActionResultToke

[2019-09-17 15:04] neuronicnobody commented on #444
Hi @moritzgloeckl,

Is it the case that Subscription.create() is not accepting a 3DS Action Result Token ID or that you're trying to pass in a previous ID obtained as part of the Create Billing Info step and getting an error? If it's the latter please note that's invalid. We added a clarification to the integration guide yesterday on this matter

[2019-09-18 07:21] moritzgloeckl commented on #444
Hi @neuronicnobody,

thanks for your answer. I'm more or less addressing the first problem, that `Subscription.create()` is not accepting a 3DS Action Result Token ID. I've already read the clarification you added, however, I'm not quite sure what we're supposed to do then?

If the customer adds their Billing Info and their getting back the `three_d_secure_action_required` error, we're sending the

[2019-09-18 16:31] neuronicnobody commented on #444
@moritzgloeckl

Thanks for the extra details.  I can confirm that  Subscription.create() *should* accept a `three_d_secure_action_result_token_id` via the Billing Info object, so we'll take another look at this gap in the client library and address it accordingly.

As for the use case you're describing, if you receive the `three_d_secure_action_required` error a second time (when creating the subs

[2019-09-18 16:45] neuronicnobody commented on #444
@moritzgloeckl

Just double checked and the BillInfo appears to be a public property and writeable:

https://github.com/recurly/recurly-client-net/blob/master/Library/BillingInfo.cs#L113
https://github.com/recurly/recurly-client-net/blob/master/Library/BillingInfo.cs#L457
Library/BillingInfo.cs:457

Note: the `three_d_secure_action_result_token_id` is passed in via the Billing Info object when you

[2019-09-18 17:55] BenGoldberg opened #445 "ArgumentOutOfRangeException thrown when trying to iterate on Pager object"
Hi there,

As stated above, we are getting an ArgumentOutOfRangeException when trying to iterate on a pager object. Specifically, we are trying to grab a list of subscriptions for an account. Here is the code:

`var pager = _client.ListAccountSubscriptions($"code-{accountCode}", state: "live");`

In the test we ran, there were no live subscriptions in the account we tried on. However, I would stil

[2019-09-18 18:18] bhelx commented on #445
Thanks for the details @BenGoldberg ! I'll try to repro today.

[2019-09-18 18:19] bhelx commented on #445
@BenGoldberg can you paste a stacktrace if you have it?