[2019-09-18 18:26] bhelx commented on #445
I can't seem to repro on 3.0.0-beta.6. Tried it on a new account with new subs.

[2019-09-18 20:03] BenGoldberg commented on #445
I'm trying to update to 3.0.0-beta.6 but I'm unable to do so. Here's what I'm seeing when trying to install the package.

`PM> Install-Package Recurly -Version 3.0.0-beta.6
Restoring packages for C:\Users\Ben\Documents\GitHub\AdServerNet\AdServer\Enplug.AdServer.Billing.Recurly\Enplug.AdServer.Billing.Recurly.csproj...
  GET https://www.myget.org/F/avalonia-ci/api/v2/FindPackagesById()?id='Recurly

[2019-09-18 20:10] BenGoldberg commented on #445
As for a stack trace, this is all I'm seeing:

[code]

[2019-09-18 21:56] bhelx commented on #445
Sorry, `beta-6` is not in nuget yet. That stack trace seems pretty slim. Perhaps the package is missing pdb files or something.

Is the exception being thrown on the line:
`var pager = _client.ListAccountSubscriptions($"code-{accountCode}", state: "live");`
or one of the following lines? If so, could you provide some more code. Also, which version of dotnet are you using?

[2019-09-18 23:17] BenGoldberg commented on #445
I am using .NET Core version 2.2.300. The exception isn't being thrown from that line, it's thrown when actually iterating the pager. So for example this will throw:

`pager.ToList()`

Also this:

`foreach (var subscription in pager)`

Should I try cloning the Recurly project and running the code myself? If the problem still exists in the latest version, I could at least get a proper stack trace t

[2019-09-20 01:19] bhelx commented on #445
@BenGoldberg  Let me try to downgrade my version to beta.5 tomorrow and see if i can repro. If you have time to do that though, it might be helpful in the case that I still cannot repro!

[2019-09-20 01:39] bhelx commented on #445
@BenGoldberg I had a moment now actually, was able to repro by downgrading. I believe it's related to a fix I made here: https://github.com/recurly/recurly-client-net/commit/9b0ff7b2347f75a7198bc2745632d9f61a422ea0

I'll get a release cut and push out beta-6 first thing tomorrow and link back here. Sorry for not noticing earlier!

[2019-09-20 03:37] bhelx commented on #445
On a related note, I'm looking into publishing a symbols file `.snupkg` along with the release. I think this will make debugging easier.

[2019-09-20 08:10] moritzgloeckl commented on #444
@neuronicnobody

Thanks for your answer. It seems a bit strange that the customer needs to be routed through the whole 3DS flow again, however, I understand that it is up to the bank to decide.

You mentioned that the token is passed in via the BillingInfo, but how should we attach the BillingInfo to the Subscription? The Subscription does not have a BillingInfo property...

[2019-09-20 15:13] BenGoldberg commented on #445
@bhelx That's great, I'm glad the issue is already fixed in the latest version! Looking forward to the build release today, thanks for that.

[2019-09-20 16:40] bhelx commented on #445
Should be fixed in https://github.com/recurly/recurly-client-net/releases/tag/3.0.0-beta.6

[2019-09-20 16:40] #445 closed

[2019-09-20 16:43] bhelx commented on #445
@BenGoldberg let me know if that version fixes the problem for you. Keep in mind it has that one breaking change outlined in the Release Notes.

[2019-09-20 17:42] neuronicnobody commented on #444
@moritzgloeckl

As far as the double authentication, we wouldn't expect that to be a frequent occurrence, but it's a possibility that needs to be handled if it does happen.

The Billing Info is nested under the Account on the Create Subscription endpoint.
https://dev.recurly.com/docs/create-subscription

Here's an example of usage from our 3DS2 example from the Ruby repo: ( unfortunately no exampl

[2019-09-20 18:07] BenGoldberg commented on #445
@bhelx I updated to beta.6 and it fixed the problem, thank you! However I have a few questions about the new version:

- The BillingInfo object has a property called PaymentMethod. In beta.5 this was a dictionary, now however it is an object. In beta.5 I was able to grab a property for checking accounts called "routing_number_bank" from the dictionary which was very useful, however in the new vers

[2019-09-20 21:39] bhelx commented on #445
@BenGoldberg appreciate the input. sorry about the changes, we still havent stabilized the API yet. I noticed a couple things missing from the spec including `routing_number_bank`. Ive added that in and I'm getting out another small release for you :)

[2019-09-20 21:43] bhelx commented on #445
https://github.com/recurly/recurly-client-net/releases/tag/3.0.0-beta.7
https://www.nuget.org/packages/Recurly/3.0.0-beta.7

If you have any other problems the best thing to do is file a new issue. I'll be able to address them individually.

[2019-09-20 21:44] bhelx commented on #445
I'll look into doing this. I want to make sure i assess the possible impact. For now you'll need to initialize the lists yourself.

[2019-09-20 23:59] BenGoldberg commented on #445
I appreciate all the help! There's one more small thing I'm running into but I will file a new issue for it.

[2019-09-21 00:02] BenGoldberg opened #448 "V3 API: Unable to grab Name on Account for checking accounts"
WIth the v2 library, it was possible to grab the name on account for a checking account when grabbing the billing information. However with the new v3 library, I no longer see a way of grabbing the name on account. Is it possible to have this information returned through the library?

[2019-10-10 17:24] BenGoldberg commented on #448
Any comment on this? Now that V3 has officially been released we will look to deploy our changes, but this is the one breaking change from the V2 API for us.

[2019-10-10 18:46] bhelx commented on #448
@BenGoldberg I can look at getting this added, if you have access to the account, name_on_account is a composition of first and last name:

[code]

[2019-10-10 18:54] bhelx commented on #448
@BenGoldberg are you blocked on it? is composing the name a valid workaround for your use case?

[2019-10-22 15:22] Erik8309 opened #453 "Are 3DS2 credit cards are not supported in the V3 version of the api?"
When looking at the documentation of for the V3 version of the api I cannot see any endpoint that has a body with a property called "three_d_secure_action_result_token_id".

Nor do we get a token on property "three_d_secure_action_token_id" to supply to the user when we try to use credit cards requiring 3DS2 authentication.

[2019-10-22 15:38] drewish commented on #453
We haven't yet finished adding support to V3. I'm not sure of the exact timeline for release but it's in progress now.

[2019-10-22 15:59] neuronicnobody commented on #453
@Erik8309 We have an aspirational target to release in Q4 of this year pending other priorities currently in the queue.

Please note the EBA did recently publish an opinion which sets the new PSD2 deadline to 31 December 2020 and prescribes expected actions to be taken during the migration period.

https://eba.europa.eu/eba-publishes-opinion-on-the-deadline-and-process-for-completing-the-migration

[2019-10-22 16:06] Erik8309 commented on #453
Good to know. I suggest adding it here: https://dev.recurly.com/page/recurly-3d-secure-2-integration-guide
before anyone else spends time on trying to get it to work :)

Im completely new to having payment in my projects, but from a user point of view: 3ds2 (or similar) has been active in Sweden for years. You get a popup saying that you have to provide additional authentication. This is provied u

[2019-10-22 16:33] neuronicnobody commented on #453
@Erik8309 We've been keeping any information we know regarding the directive itself and any relevant dates here:
https://docs.recurly.com/docs/revised-payment-services-directive-psd2

The integration guide is primarily focused on step by step instructions for completing the actual 3DS2 implementation.

For the previous 3DS experiences you've seen, it's probably 3DS version 1. The 3DS2 spec was rel

[2019-10-25 17:59] bhelx opened #455 "List properties on Requests should be auto-initialized"
Reported by @BenGoldberg in #445

[2019-10-29 05:50] peturh commented on #453
There is still issues with starting the "normal" 3DS flow. Since that expects the same sort of token (`three_d_secure_action_result_token_id`), which is not in the API as of now?

[2019-11-22 08:35] oskma commented on #453
Should this work now in the 3.1 release of the api client? I can't get the three_d_secure_action_token_id but I'm not sure if I am doing something wrong or if it is not supported yet.

[2019-11-22 14:23] drewish commented on #453
@oskma The support should be there now. Here's the property on the TransactionError:
https://github.com/recurly/recurly-client-net/blob/c74b5c04ba2a73c356ad9fd587809221451ca8b3/Recurly/Resources/TransactionError.cs#L34-L36

It'll only have a value if a 3DS action is required though.

Could you say more about how you're trying to test this? Maybe show some of your code?

[2019-11-22 15:10] oskma commented on #453
I get a token for 4000-0000-0000-3220 and then I send in that token to Recurly.Client.CreateSubscription. Then I get an exception telling me "Your card must be authenticated with 3-D Secure before continuing."

Is that the correct flow? Because I don’t understand how to get the TransactionError recourse from that exception.

I can build a simple example that calls CreateSubscription if that would

[2019-11-22 15:35] drewish commented on #453
Yeah if you could show how you're passing it into create subscription that would be helpful. Also if you can include the request id from the error on one of these requests I can check our logs and see what's actually making it over to our side.

[2019-11-22 16:33] oktaras opened #464 "The 'PreviousInvoiceId' field always null"
When I was working with version 2, I often used the "[OriginalInvoiceNumber](https://github.com/recurly/recurly-client-net/blob/v2/Library/Invoice.cs#L78)" field in refund invoices.
In the library version 3, I found an analog of this field. This is the "[PreviousInvoiceId](https://github.com/recurly/recurly-client-net/blob/master/Recurly/Resources/Invoice.cs#L92)". But this field is always null.

[2019-11-22 16:43] bhelx commented on #464
Thanks @oktaras, We will take a look.

[2019-11-22 17:35] bhelx commented on #464
@oktaras I took a quick look at this. The behavior should be the same as V2 and you are looking at the correct field. I can't say why it's null without looking deeper into your data server side. I don't think this is an issue with the dotnet client though, and may point to an issue on the server. Would you mind filing an official support ticket? We can leave this issue open and you can reference i

[2019-11-22 22:07] taras-oksenchuk-limestone commented on #464
@bhelx Thanks for the info and quick response. I created a support ticket and attached a link to this issue. I will expect an answer from them.

[2019-11-22 22:08] oktaras commented on #464
@bhelx Thanks for the info and quick response. I created a support request and attached a link to this issue. I will expect an answer from them.

[2019-11-22 22:45] bhelx commented on #464
Thanks @oktaras . I'll ping them on my side!

[2019-11-25 09:54] oskma commented on #453
Here is test I built

[code]
and here is the exception:

[code]

[2019-11-25 10:54] Herlix commented on #453
Hi!
Through debugging I found that the code is missing because it's not being picked up during de-serialization. The error object used is missing the field needed. However there is a object [https://github.com/recurly/recurly-client-net/blob/master/Recurly/Resources/ErrorMayHaveTransaction.cs](ErrorMayHaveTransaction) but it is not used.

[2019-11-25 15:24] drewish commented on #453
Ah okay I understand now. We're not instantiating the right class so it doesn't matter if we've added the attribute. I'd worked on the server side part of this so I'll circle up with the folks that know .net and see how they'd like to address this.

[2019-11-25 19:02] bhelx commented on #453
@Herlix I'm working on a fix for that this week. I'll ping back here when it's ready.

[2019-11-25 22:45] bhelx commented on #453
@Herlix If you have a moment, would you confirm this PR fixes the problem for you?

https://github.com/recurly/recurly-client-net/pull/465

Assuming it does, we will test it and get a release out for you immediately.

[2019-11-26 06:38] Herlix commented on #453
It looks good :)

[2019-11-26 21:27] #453 closed

[2019-11-26 21:45] bhelx commented on #453
@Herlix (et al): this was just released as 3.1.1 https://github.com/recurly/recurly-client-net/releases/tag/3.1.1

Apologies for the problem. Please let us know if you find anything else.

[2019-11-27 06:36] Herlix commented on #453
Sounds great! Thank you :)

[2019-12-23 17:58] joannasese commented on #444
@moritzgloeckl I'm closing this issue for now. If you're still having issues, we can reopen.

[2019-12-23 17:58] #444 closed

[2019-12-23 18:03] joannasese commented on #411
Referencing PR #421, this issue is closed.

[2019-12-23 18:03] #411 closed

[2020-03-03 12:48] tcmorris opened #488 "Missing gift card support in V3?"
It looks like the ability to create gift cards and go through that process is missing from the V3 version of the API?

Looking here all the API docs link to V2:
https://docs.recurly.com/docs/gift-cards#section-api

The only reference to gift cards in V3 was the option to include the redemption code during a purchase. `gift_card_redemption_code`

Could you advise if this is supported or not?

[2020-03-03 16:33] douglasmiller commented on #488
Hi @tcmorris, thank you for your question. The v3 API does not currently include support for gift cards. We will look into the requirements to add support for that feature.

In the interim, you can use both v2 and v3 clients in conjunction if you prefer the features of v3 but need access to the gift card features.

[2020-03-09 15:31] tcmorris commented on #488
Ok thanks for the update @douglasmiller.

It is a little disappointing that you would release a new version of the API without the functionality of the previous whilst still advertising the feature on the main website for Recurly. It would be handy to specify within the docs as a V2 only feature if that is the case.

Will look into this workaround for now.

[2020-03-22 20:38] bhelx commented on #402
Closing as this should be fixed. Please re-open if you are still getting an exception on the latest version of the clkient.

[2020-03-22 20:38] #402 closed

[2020-03-22 20:41] bhelx commented on #464
Closing this for the time being since we did not reproduce. Feel free to re-open if there is a problem that can be addressed in this library.

[2020-03-22 20:41] #464 closed

[2020-03-22 20:42] bhelx commented on #488
@tcmorris This work is being planned but not by our team. If you're interested in getting more information, I suggest reaching out to support. They may be able to get you early access and/or an ETA.

[2020-03-22 20:42] #488 closed

[2020-04-20 10:45] tcmorris opened #507 "GiftCard Create doesn't return the response"
**Describe the bug**

The response from creating a gift card is not returned by the library. (v2)
https://dev.recurly.com/docs/create-gift-card

**To Reproduce**

Create new gift card object and call `Create()` method. The method return type is `void`, so the response from the API call isn't returned.

**Expected behavior**

Would expect the returned response from the API call. The gift card that

[2020-04-20 14:07] douglasmiller commented on #507
Hello again, @tcmorris! The v2 client libraries are quite different in how they behave in comparison to the v3 clients. With the v2 client, the call to `Create()` will send the API request and populate any updated information on the object that you called `Create()` on.

[code]

Any errors that occur will be thrown as a base type of [`RecurlyException`](https://github.com/recurly/recurly-client-do

[2020-04-21 08:56] tcmorris commented on #507
Hello! Ah that makes more sense. Thanks for the explanation, must have missed that when reviewing the docs. Will close.

[2020-04-21 08:56] #507 closed

[2020-05-14 20:33] bhelx opened #514 "Release Summary For 3.5.1"
## Potential Breaking Change Included

This release contains a bugfix which may result in a breaking change. If you are using the `GatewayResponseValues` property on the `Transaction` resource, the type has been changed from `Dictionary<string, string>` to `Dictionary<string, object>`. Look out for situations where the compiler may not help you understand that something may be wrong, example:

[co

[2020-05-14 20:34] #514 closed

[2020-06-12 11:21] flyingtiger71 opened #527 "Adding an interface for the Client. V3"
There are a couple of nice advantages to having an interface exposed for the client and then have the client implement the interface.
1. Allows for consumers to Mock the client for easy unit testing.
2. Allows for Dependency Injection.

[2020-06-12 16:02] bhelx commented on #527
Hey @flyingtiger71 , thanks for the input. We've been asked this before. Since it's coming up a few times, we'll consider it. I'm going to leave this open for discussion.

In the mean time, I wanted to point out that we've had success mocking using the [moq](https://github.com/moq/moq4) library.

[2020-06-15 16:01] bhelx commented on #448
You should be able to find this on the BillingInfo.PaymentMethod object:
https://github.com/recurly/recurly-client-dotnet/blob/8bcdfa70543ed1f2ff0816509d638537f73d15b4/Recurly/Resources/BillingInfo.cs#L56
https://github.com/recurly/recurly-client-dotnet/blob/8bcdfa70543ed1f2ff0816509d638537f73d15b4/Recurly/Resources/PaymentMethod.cs#L60

[2020-06-15 16:01] #448 closed

[2020-06-18 19:47] BenGoldberg opened #531 "ListAccountSubscriptions returning expired subscriptions when specifying state="live""
I recently upgraded the Recurly library to 3.6.1, we were using 3.0.0 before. After updating the library we noticed an issue that wasn't there before.

`_client.ListAccountSubscriptions($"code-{accountCode}", state: "live").ToList();`

This line was previously just returning the active subscriptions on an account, but now it's also returning expired subscriptions. I checked the documentation [here

[2020-06-18 20:05] douglasmiller commented on #531
Thank you for reporting this issue, @BenGoldberg.

I was able to reproduce and have identified the issue. We will publish an updated client once the fix has been verified.

[2020-06-18 20:12] BenGoldberg commented on #531
Thank you for the quick response! I look forward to the fix being released.

[2020-06-18 21:54] douglasmiller commented on #531
@BenGoldberg I've created the referenced pull request to address the bug that you reported. There have been a lot of updates to the `Pager` class recently and it's a rather delicate beast. This bug fix is something that I've been trying to wrap my head around recently and couldn't quite connect all of the dots before.

Thanks again for taking the time to report this issue!

[2020-06-19 16:15] #531 closed

[2020-06-19 16:27] douglasmiller commented on #531
@BenGoldberg the pull request just got merged and we will be releasing an updated client today. I'll keep you posted.

[2020-06-23 03:32] BenGoldberg commented on #531
Is there an updated ETA for the release of this bug fix?

[2020-06-23 14:55] bhelx commented on #531
Apologies @BenGoldberg, I believe it got held up for an unrelated reason. It'll be released after we merge #533

[2020-06-23 18:17] flyingtiger71 opened #534 "Ratelimit throttling Interface"
Provide Rate Limit Throttling Interface

1. Provide an IRateLimitClient to be implemented by the consumer
2. In the base client MakeRequest and MakeRequestAsync methods add in a check to see if the call is a get/head call and if the IRateLimitClient has been implement.  If so then make a call to the RateLimitWaitExecute.
3. In the BaseClient HandleResponse if the RateLimitClient has been implement

[2020-06-23 18:46] flyingtiger71 opened #535 "Proxy Calls to Third Party Like Card Easy V3"
Currently my company needs to be able to proxy calls to a third party vendor that handles credit card collection and storage.  We have implemented a solution in the V2 code where we set a proxy on the config settings.  Then if the proxy is set it is used when making the requests.

Code from V2 forked dll

new property on the Settings class
[code]

Modified GetServerURI
[code]
Example recurly confi

[2020-06-24 08:16] BenGoldberg opened #536 "Ambiguous methods introduced in v3.7.0"
We updated our library to v3.7.0 today and noticed all of the method calls on the Recurly client now are ambiguous. For example:

[code]

The call to `_client.CreateAccountAsync()` is now ambiguous. We had to add `options: null` to all of the client calls to fix the issue. This isn't a huge deal but since this was just introduced, I was wondering if this was intended behavior? Is it possible to ma

[2020-06-24 13:39] bhelx commented on #536
I don't think this was intended to be a breaking change. Will have @douglasmiller take a look.

[2020-06-24 15:16] douglasmiller commented on #536
@BenGoldberg thank you for your patience with this issue. As @bhelx pointed out, this was not intended to be a breaking change. I've removed the overloaded async methods, which were intended to be a convenience to developers and, instead, turned out to be an inconvenience 👎

We are aware of the lack of sufficient testing around the async methods and operations in the library and are working on add

[2020-06-24 17:10] #536 closed

[2020-06-24 17:16] BenGoldberg commented on #536
No big inconvenience here, thank you for quickly addressing this issue! We will be looking out for the upcoming release.

[2020-06-24 18:23] douglasmiller commented on #536
@BenGoldberg the 3.7.1 release has been [published to nuget](https://www.nuget.org/packages/Recurly/3.7.1). Thanks again for creating these issues. It helps us out a lot!

[2020-07-27 20:49] bhelx commented on #534
@flyingtiger71 I'm just waiting on this change to finish: https://github.com/recurly/recurly-client-dotnet/pull/549
I'm going to be changing your interface a little bit. I'll ping you when the PR is up to get your feedback.

[2020-07-27 20:50] bhelx commented on #527
As we discussed on the call, I'll generate the IClient interface alongside the client and make the client implement it. I'll be working on it this sprint.

[2020-07-27 20:53] flyingtiger71 commented on #534
@bhelx Thank you for the update.

[2020-07-28 16:56] bhelx commented on #527
@flyingtiger71 would love to get your comments on #554 when you get the chance.

[2020-07-28 21:37] #527 closed

[2020-08-03 18:45] bhelx commented on #534
@flyingtiger71 if you have a moment, please check out my draft PR here: https://github.com/recurly/recurly-client-dotnet/pull/560

I'm working on designing it as a more generic events / hook system so it can get use outside of just rate limit throttling. before I work on it more and add tests, I wanted to get feedback from you. Namely to see if it will work for your case and if you have any other

[2020-08-03 19:22] bhelx commented on #535
@flyingtiger71 there is a hidden method for doing this already. `Client._SetApiUrl`: https://github.com/recurly/recurly-client-dotnet/blob/master/Recurly/BaseClient.cs#L92

You need an env variable `RECURLY_INSECURE` set to `true` for this to work. Does this unblock you for the time being? I am still thinking about how best to support this in a secure manner.

[2020-08-03 19:24] bhelx commented on #455
This is a nice to have, but there isn't really a good way to implement it without adding some complication and state tracking on the client side. I think we're going to close it for now. We may revisit the idea if someone comes up with a simple solution.

[2020-08-03 19:24] #455 closed

[2020-08-04 11:05] flyingtiger71 commented on #534
Thank you @bhelx I agree this is a better approach as it is more flexible.  IHook works although it is not very descriptive but the alternative IRequestResponseHook may be too much.

[2020-08-04 11:56] flyingtiger71 commented on #535
@bhelx I think that might work.  This can be closed.

[2020-08-04 16:47] bhelx commented on #535
Great! We're going to keep a ticket open in our system so we can look at officially supporting this though.

[2020-08-04 16:47] #535 closed

[2020-08-07 16:40] bhelx commented on #534
@flyingtiger71 Thanks for the feedback. We agree about the name. Will run some ideas by my team and get it updated and merged.

[2020-08-31 21:38] douglasmiller opened #575 "Release Summary For 3.12.0"
## Potential Breaking Change Included

This update introduces a potentially breaking change to the `ListUsage` method if you are not using `Named Arguments`.

We do not guarantee the ordering of parameters for client operations, so please use `Named Arguments` to avoid any issues.

[2020-08-31 21:38] #575 closed

[2020-11-23 14:23] CraigComeOnThisNameCantBeTaken opened #596 "It is not possible to stub package usage for unit testing either using moq or shims"
I am trying to write unit tests around a class which uses the recurly client, however due to the internal constructors and internal methods, I cannot mock or shim the classes.

Example:

`var fakeList = new ShimRecurlyList<Plan>();`

Error:

![image](https://user-images.githubusercontent.com/41204890/99972676-b7fbaa00-2d96-11eb-99e3-906957d29b78.png)

Example:

[code]

Exception:

[code]

How shou

[2020-11-25 19:37] joannasese commented on #596
Hi @CraigComeOnThisNameCantBeTaken. Sorry for the delay here and thanks for your question. We'll make sure to get back to you after the long holiday weekend. Thanks for your patience.

[2020-11-26 17:30] CraigComeOnThisNameCantBeTaken commented on #596
Many thanks.

[2020-11-26 17:31] CraigComeOnThisNameCantBeTaken commented on #596
Actually, I forgot, we are using API v2.

[2021-01-18 13:03] Sire opened #603 "Subscription.GatewayCode is not saved (v1.17.9)"
**Describe the bug**

Since GatewayCode exists on Subscription with a public setter, I imagined it would be used and sent to Recurly when a subscription is created. This is not working now.

[code]

**To Reproduce**

Run unit test above.

**Expected behavior**

GatewayCode should be set on the Subscription, and saved when Subscription is created.

**Your Environment**

- Version 1.17.9

[2021-01-21 08:53] Sire commented on #603
You can see that GatewayCode is never serialized to XML, and so never sent:

https://github.com/recurly/recurly-client-dotnet/blob/be9b26e6d80fa5ad44447c7da524b00c14953aa5/Library/Subscription.cs#L984

[2021-01-21 10:20] Sire commented on #603
The solution is to use Purchase.Create() instead. I recommend mentioning this in the documentation.

[2021-01-21 10:20] #603 closed

[2021-02-02 23:47] glennsdavis opened #609 "Error getting objects by id"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

**Describe the bug**

I get an error when using the API to get objects by id. The error is "Please remove the following unpermitted parameters from your request: limit."

The reference docu

[2021-02-03 17:14] douglasmiller commented on #609
Hello @glennsdavis, thanks for creating this issue.

It is not well documented, but the `First()` method will specify the `limit` parameter to the value `1`. As such, it should not be used when specifying `ids`.

[code]

If you're operating with a known list of `ids` then I would suggest using the [get_subscription](https://developers.recurly.com/api/v2019-10-10/index.html#operation/get_subscripti

[2021-02-04 22:53] glennsdavis commented on #609
Douglas,

Thank you for the quick response. I did not see the GetInvoice method in the SDK.
Can I create a purchase for a credit card vaulted in Braintree? Would I set GatewayToken and GatewayCode fields on the BillingInfoCreate object for the CreatePurchase method? What is the GatewayCode for Braintree?
Thank you.
    On Wednesday, February 3, 2021, 09:14:41 AM PST, Douglas Miller <notifications@

[2021-02-04 23:02] douglasmiller commented on #609
Ah okay, glad to share the info then!

As far as braintree is concerned, I think that [Recurly support](https://support.recurly.com/hc/en-us) would be better equipped to answer those types of questions.

[2021-02-12 16:07] glennsdavis commented on #609
Close this issue.

[2021-02-12 16:07] #609 closed

[2021-02-12 16:11] glennsdavis opened #611 "Feature Request - Add methods Purchase Authorize, Purchase Capture and Cancel Purchase"
_Warning_: Github issues are not an official support channel for Recurly. If you have an urgent request we suggest you contact us through an official channel: support@recurly.com or https://recurly.zendesk.com

I have a feature request to add the methods listed below to v3 of the SDK. These methods exist in Recurly API v2.

- Purchase Authorize
- Purchase Capture
- Cancel Purchase

[2021-02-19 21:24] joannasese opened #613 "Release Summary for 4.0.0"
## Breaking Changes

- Convert float to decimal [[#562](https://github.com/recurly/recurly-client-dotnet/pull/562)]
- Return the `Empty` response object over void [[#565](https://github.com/recurly/recurly-client-dotnet/pull/565)]
- Fix deserialization of unknown enum values [[#571](https://github.com/recurly/recurly-client-dotnet/pull/571)]
- Add `OptionalParams` and per-operation implementations

[2021-02-19 21:51] #534 closed

[2021-02-19 21:58] joannasese commented on #611
Hi @glennsdavis. Apologies for the late response on this. We've shared your feature request with the appropriate parties, since it's currently outside of the scope of the client libraries. I'll close this request for now.

[2021-02-19 21:58] #611 closed

[2021-02-19 22:23] glennsdavis commented on #611
Hi Joanna,
I requested that 3 methods from the v2 API (Purchase Authorize, Purchase Capture, Cancel Purchase) be included in the v3 API. What does it mean "it's currently outside of the scope of the client libraries"? Are these methods depreciated? It there another reason the methods were excluded from the v3 API? 
Thanks.

    On Friday, February 19, 2021, 01:58:40 PM PST, Joanna Sese <notificati

[2021-03-01 20:02] #613 closed

[2021-03-29 17:31] eduard-tapkey commented on #444
Hi all,
I will reopen this old thread just to ask if double 3Ds flow is still expected. To explain in details:
1) We create an account and add billing info with token
2) This throws a 3d secure exception (expected)
3) We continue with 3Ds flow and get back to updating billing info with 3d token as well
4) Everything goes through and billing info is updated for the account
5) We want to create a su

[2021-04-01 22:30] douglasmiller opened #624 "Release Summary For 4.1.0"
## Breaking Change Bug Fix

This update includes a breaking change for the `getTaxIdentifierType` and `setTaxIdentifierType` methods of the `BillingInfoCreate` request class. The type was incorrectly marked as a `string` instead of a `Constants.TaxIdentifierType`.

[2021-04-02 00:55] #624 closed

[2021-06-11 15:01] bgilbert6 opened #643 "Constants.PaymentMethod missing Braintree"
**Describe the bug**

When deserializing JSON output from Recurly, braintree ends up "Undefined", because it isn't in Constants.cs.

**To Reproduce**

Call GET BillingInfo with a billing info backed by braintree. The braintree payment_method is: `object=braintree_v_zero`

You can see this isn't included in Constants.PaymentMethod:
[code]

**Expected behavior**

Braintree should map to a `Braintree

[2021-08-23 19:09] cilerler opened #652 "Implement ListUsers method"
I would like to be able to retrieve the users' list.  Not sure where to ask this, so creating it here.

[2021-09-15 17:55] aleevans opened #655 "Pager<T>.Count() throws NullReferenceException"
**Description**

The method `public int Count();` on the generic pager throws a `NullReferenceException` whenever called. The `Pager<T>` object itself is not null, and I am otherwise able to retrieve data as normal through Recurly. It appears that this specific method is broken and dependent on a variable which is null.

**Steps To Reproduce**

[code]

**Expected behavior**

The method `public int

[2021-09-15 22:32] douglasmiller commented on #655
@aleevans, I was able to reproduce your issue locally. Based on your code samples, it looks like you're passing in the account's `Code` into the `List*` operations. These two methods expect the account `Id` to be specified. It is possible to use the account `Code` by prefixing it:

https://developers.recurly.com/api/v2021-02-25/index.html#operation/list_account_transactions

[code]

That said, I a

[2021-09-16 02:36] aleevans commented on #655
Thanks for looking into this @douglasmiller .  I actually am passing in the account code the way you have it in your code snippet.  I prefixed the account code with `code-` and assigned the result to a variable called `accountCode`.  I tried what you suggested just to be safe (although there shouldn't be any difference), and I am still getting a `NullReferenceException` thrown by the call to `Coun

[2021-09-16 02:50] douglasmiller commented on #655
I do not have any issues when passing in a valid account `Id` or `code-Code`. I can only trigger the `NullReferenceException` when I use invalid values (thus triggering a 404 for the request). Otherwise I get the correct number of resources returned.

The `Count()` method is ultimately performing a `HEAD` request to the URL and obtaining the value from a response header.

It's well after hours for

[2021-09-16 16:40] douglasmiller commented on #643
@bgilbert6, I am sorry that it has taken us so long to address this issue. We will have the `BraintreeVZero` enum added soon. We will update you when it has been released.

[2021-09-16 17:54] douglasmiller commented on #655
@aleevans, I threw together a quick console app:

[code]

When I run it, `RECURLY_API_KEY=<my-api-key> RECURLY_ACCOUNT_CODE=<valid-account-code> dotnet run`, I get this output:

[code]

Could you try the same?

[2021-09-16 18:17] aleevans commented on #655
@douglasmiller I will try and run what you posted and report back on the results.  Out of curiosity, is the `NullReferenceException` throwing for you because `errorPager` is null?  For my issue, the pager is not null.  I can successfully get data.  It's just that if I try and call `Count()` the error gets thrown.  Take a look at this snippet:

[code]

As you can see, the issue is not that I can't

[2021-09-16 21:52] douglasmiller commented on #655
Ah! @aleevans, your call to `FetchNextPage` is causing an issue with the `Pager` and the `Count()` method! You could call the `Count()` method immediately after creating the instance of the `Pager` and it would work without an issue. The returned count will be the same regardless of when you call it.

There is a bug in the private `Clone(Pager<T> pager)` method that causes the `Count()` method to

[2021-09-16 22:01] aleevans commented on #655
@douglasmiller  Thanks for looking into it!  I would like to point out though that I have tried calling `Count()` before fetching the next page, and I also get the same `NullReferenceException`.  However, in both cases, I am still able to obtain data and the pager is not null.  So this following code snippet is also true:

[code]

[2021-09-17 16:55] douglasmiller commented on #655
@aleevans I'm struggling to understand how that is possible. The `Count` method is simply performing a HEAD request to the same URL that `FetchNextPage` is performing a GET request to.

If you have a valid response from the GET then the HEAD should also have a valid response. I would only expect the `NullReferenceException` to trigger if there was an issue encountered while performing the API requ

[2021-09-17 22:10] douglasmiller commented on #655
@aleevans version [4.9.1 has been released](https://github.com/recurly/recurly-client-dotnet/releases/tag/4.9.1). Would you mind trying that version out to see if it addresses your issues?

[2021-09-20 21:03] aleevans commented on #655
@douglasmiller Sure thing.  I will test it out either later this evening or tomorrow and report back!

[2021-09-20 22:29] aleevans commented on #655
@douglasmiller Just installed 4.9.1 and tried out the `Count()` method again.  It appears to be fixed, as the `NullReferenceException` no longer occurs and the correct record count is returned.  This bug can probably be closed.  Thank you!

[2021-09-20 22:42] douglasmiller commented on #655
Great! I'm glad that worked out for you. Please don't hesitate to report any other issues that you find!

[2021-09-20 22:42] #655 closed, assigned to douglasmiller

[2021-10-06 14:33] rer7891 commented on #643
@bgilbert6 I'm happy to report that the `BraintreeVZero` enum has been updated and released. Please let us know if you have any additional issues.

[2021-10-06 14:33] #643 closed, assigned to rer7891

[2021-10-12 18:19] aleevans opened #662 "Change the MakeRequest<T> and MakeRequestAsync<T> methods in the BaseClient class to virtual?"
I'd like to make the generic MakeRequest<T> and MakeRequestAsync<T> methods virtual so that I can override them and more easily add logging in my application.  Would this change be possible?  Thanks!

[2021-10-14 21:15] aleevans opened #663 "Can we get an IPager<T> interface written for Pager<T> class?"
Would it be possible to get an `IPager<T>` interface written for the existing `Pager<T>` class, and have `Pager<T>` implement it?

With an `IPager<T>` interface, the `IClient` interface could then be updated so that all methods which return a `Pager<T>` now return an `IPager<T>`.

This would allow my team to mock the pager for testing as well as create a wrapper with added logic.

[2021-10-21 15:22] rer7891 commented on #662
@aleevans Thank you for bringing this to our attention. I will make a feature request for this issue. This will be put in our backlog so in the meantime if you need the functionality sooner than our engineers are able to get to it feel free to consider making a PR for the features you would like added. As an open source repository we are always happy to work with engineers on PRs that are submitte

[2021-10-21 15:23] rer7891 commented on #663
@aleevans Thanks for bringing both of this issues up. As stated in issue #662 I will make a feature request for this issue. This will be put in our backlog so in the meantime if you need the functionality sooner than our engineers are able to get to it feel free to consider making a PR for the features you would like added. As an open source repository we are always happy to work with engineers on

[2021-10-23 00:53] douglasmiller commented on #652
@cilerler I apologize for the very delayed response. I'm not sure how we missed this question.

Could you clarify what you would like to be able to do?

Do you want to be able to list the Users that are authorized to access the Recurly admin user interface? If so, the API is not intended to be used in that manner.

If you want to be able to list the Accounts that have subscriptions to your service

[2021-10-23 03:05] cilerler commented on #652
Thanks.

This is exactly what I would like to do.

[2021-11-17 19:22] ghost opened #674 "Utils.StrictMode is not null safe when RECURLY_STRICT_MODE env var is not set"
**Describe the bug**

We have an issue where one of our `CreateSubscriptionAsync` calls is failing. Instead of giving us a real error, we are instead getting a Null Reference Exception. Looking at the SDK code, it would appear that our call is trigger an error that has an unknown type. Because of that unknown type, we are hitting the default switch action here: https://github.com/recurly/recurly-c

[2021-11-17 19:42] ghost commented on #674
PR to potentially fix this: https://github.com/recurly/recurly-client-dotnet/pull/675

[2022-03-24 15:51] euang opened #698 "CreateSubscriptionChange - validation error crashes client"
I'm calling CreateSubscriptionChange in 4.18 with a coupon that has already been redeemed on that subscription.

The api is returning this JSON which then fails to get parsed and throws this exception.

`Newtonsoft.Json.JsonReaderException
  HResult=0x80131500
  Message=Unexpected character encountered while parsing value: [. Path 'error.params[0].message', line 1, position 149.
  Source=Newtonsof

[2022-10-18 18:25] glennsdavis opened #737 "Error parsing error response from CreateSubscriptionChangeAsync"
**Describe the bug**

Call CreateSubscriptionChangeAsync with a discount code for a free trial.

Recurly service responses with status 422 - Unprocessable Entity
{
  "error": {
    "type": "validation",
    "message": "Coupon code [\"Subscription uuid Free trials only redeemable on new subscriptions\"]",
    "params": [
      {
        "param": "coupon_code",
        "message": [ "Subscription uui

[2022-10-26 17:04] ClaySamuelC opened #744 "Add Hipercard and ELO as valid cards"
A client is requesting that we add Hipercard and ELO as valid card types to the dotnet library.

As is listed in /recurly/constant.cs, it mentions "This file is automatically created by Recurly's OpenAPI generation process and thus any edits you make by hand will be lost. If you wish to make a change to this file, please create a Github issue explaining the changes you need and we will usher them